---
import UIString from '../UIString.astro';
---

<div dir="ltr" lang="en" class="sponsors">
	<h2 class="sponsors-title"><UIString key="leftSidebar.sponsoredBy" /></h2>
	<a href="https://www.netlify.com/" aria-label="Netlify">
		<svg xmlns="http://www.w3.org/2000/svg" width="90px" viewBox="0 0 256 105"
			><g clip-path="url(#a)"
				><path
					d="M58.47 103.765v-26.35l.547-.547h6.587l.546.546v26.351l-.546.546h-6.587l-.547-.546ZM58.47 26.897V.547L59.017 0h6.587l.546.546v26.351l-.546.546h-6.587l-.547-.546ZM35.797 85.24h-.904l-4.531-4.532v-.904l8.49-8.5 4.796.01.64.63v4.796l-8.49 8.5ZM30.362 24.747v-.913l4.53-4.523h.905l8.491 8.49v4.788l-.64.648h-4.796l-8.49-8.49ZM.546 48.307H37.88l.546.546v6.597l-.547.546H.547L0 55.45v-6.597l.546-.546ZM255.445 48.316l.546.546v6.588l-.546.546h-37.879l-.546-.546 2.739-6.588.546-.546h35.14Z"
					fill="#32E6E2"></path><path
					d="M74.667 65.886h-6.588l-.546-.546V49.92c0-2.748-1.075-4.873-4.386-4.94-1.707-.043-3.653 0-5.735.085l-.316.315v19.951l-.546.546h-6.587l-.547-.546v-26.35l.547-.547h14.822c5.76 0 10.428 4.668 10.428 10.428v16.47l-.546.545v.009ZM106.573 54.349l-.546.546H88.994l-.546.546c0 1.1 1.1 4.395 5.496 4.395 1.646 0 3.293-.546 3.848-1.647l.546-.546h6.588l.546.546c-.546 3.294-3.294 8.243-11.537 8.243-9.335 0-13.73-6.588-13.73-14.285S84.6 37.862 93.389 37.862s13.184 6.588 13.184 14.285v2.202Zm-8.243-5.496c0-.546-.546-4.394-4.941-4.394s-4.941 3.848-4.941 4.394l.546.547h8.79l.546-.547ZM121.95 57.643c0 1.1.546 1.647 1.647 1.647h4.941l.546.546v5.495l-.546.546h-4.941c-4.941 0-9.336-2.201-9.336-8.243V45.551l-.546-.546h-3.848l-.546-.546v-5.496l.546-.546h3.848l.546-.546v-4.94l.546-.547h6.588l.546.546v4.94l.546.547h6.042l.546.546v5.496l-.546.546h-6.042l-.546.546v12.083l.009.009ZM142.276 65.886h-6.587l-.547-.546V27.98l.547-.545h6.587l.546.546v37.35l-.546.546v.009ZM157.107 34.022h-6.588l-.546-.546v-5.495l.546-.546h6.588l.546.546v5.495l-.546.546Zm0 31.864h-6.588l-.546-.546V38.972l.546-.546h6.588l.546.546V65.34l-.546.546ZM182.929 27.98v5.496l-.546.546h-4.941c-1.101 0-1.647.547-1.647 1.647v2.202l.546.546h5.496l.546.546v5.496l-.546.546h-5.496l-.546.546v19.772l-.546.546h-6.588l-.546-.546V45.55l-.546-.546h-3.848l-.547-.546v-5.496l.547-.546h3.848l.546-.546v-2.202c0-6.041 4.395-8.243 9.336-8.243h4.94l.547.546-.009.009ZM203.247 66.432c-2.202 5.495-4.395 8.79-12.083 8.79h-2.748l-.546-.547V69.18l.546-.546h2.748c2.747 0 3.294-.546 3.848-2.194v-.546l-8.789-21.427v-5.495l.546-.546h4.941l.546.546 6.588 18.68h.546l6.588-18.68.546-.546h4.941l.546.546v5.495l-8.79 21.974.026-.009Z"
				></path>
			</g><defs><clipPath id="a"><path d="M0 0h256v104.311H0z"></path></clipPath></defs>
		</svg>
	</a>
	<a href="https://www.storyblok.com/" aria-label="Storyblok">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 251 53" width="125" aria-hidden="true">
			<g>
				<path
					d="M73 37c-2 0-3.7-.2-5.5-.7-1.6-.6-3.2-1.5-4.5-2.7l2.4-4c1.3 1 2.5 1.6 3.8 2.1 1.2.6 2.4.8 3.6.8a4 4 0 0 0 2-.5c.4-.3.6-.7.6-1.3 0-.5-.2-1-.9-1.4-1-.4-2-.8-3-1L67.7 27a13 13 0 0 1-2.4-1.3c-.6-.4-1.1-1-1.4-1.6a5 5 0 0 1-.4-2c0-2.2.9-4.1 2.5-5.4a9.3 9.3 0 0 1 6.1-2c1.6 0 3.1.2 4.5.6 1.4.5 2.8 1.3 4.1 2.4l-2.6 4c-1-.8-2-1.4-3.2-1.9a7 7 0 0 0-2.8-.6c-.7 0-1.3.1-1.8.5-.5.2-.7.7-.7 1.3 0 .6.2 1 .8 1.4.5.3 1.5.6 3 1l3.8 1.2L80 26c1.3 1 2 2.5 1.8 4.1a6 6 0 0 1-2.4 5.1 10 10 0 0 1-6.4 1.9Zm25.8-1.4-3 1c-1.2.3-2.4.5-3.6.5-.8 0-1.6 0-2.3-.3a4.3 4.3 0 0 1-3.2-2.7c-.3-.8-.5-1.7-.5-2.7V20h-2.7v-4.9h2.7V8.3h6.5v6.8h4.4v5h-4.4v9c0 .7.2 1.2.6 1.6.3.3.8.4 1.3.4s1 0 1.5-.2l1.4-.6 1.2 5.3ZM111 37c-1.6 0-3.3-.3-4.8-.9a10 10 0 0 1-5.9-6 12 12 0 0 1 0-8.5c1-2.8 3.1-5 5.9-6 1.4-.6 3-1 4.8-1a11 11 0 0 1 10.7 7c1.1 2.7 1.1 5.8 0 8.5-1 2.7-3 5-5.8 6-1.5.6-3.2 1-4.9.9Zm-4.7-11c0 1.7.4 3 1.3 4 1 1 2.1 1.6 3.5 1.6 1.3 0 2.5-.6 3.4-1.6a6.4 6.4 0 0 0 1.4-4 6 6 0 0 0-1.4-4.1c-1-1-2-1.6-3.4-1.6-1.3 0-2.6.6-3.4 1.6a6 6 0 0 0-1 1.8c-.3.7-.4 1.5-.4 2.3Zm33.1-5.2c-1.5 0-3 .3-4.3.8a5.2 5.2 0 0 0-2.8 2.2v13h-6.5V15.1h6v4.3a8.4 8.4 0 0 1 2.9-3.4 6.5 6.5 0 0 1 3.6-1.3h1.1v6Zm2.9 19.1c1 .3 1.9.5 2.8.5.8 0 1.4-.2 1.9-.7a9 9 0 0 0 1.2-3L140 15.2h6.7l5 15.9 4.3-15.9h6.2l-8.2 25a8.5 8.5 0 0 1-11.7 5.3V40Zm35.3-2.8a8.1 8.1 0 0 1-7.2-4v3.6h-5.7v-30h6.6v12a8 8 0 0 1 10.8-3c1.1.5 2 1.3 3 2.3a14 14 0 0 1 1.8 12.4c-.5 1.3-1.2 2.6-2 3.5a9.6 9.6 0 0 1-7.3 3.2Zm-1.8-5.5a5 5 0 0 0 4.7-3.4c.8-2 .4-4.4-1-6.2-.8-1-2-1.7-3.4-1.7-1 0-2 .4-2.8 1-.9.8-1.6 1.7-2 2.8v4.5a5 5 0 0 0 4.6 3Zm15-24.8h6.6V29c0 1.7.7 2.5 2.1 2.5a5 5 0 0 0 2.1-.5l1 4.8a15 15 0 0 1-5.9 1.3c-1.9 0-3.3-.5-4.3-1.5s-1.6-2.4-1.6-4.3V6.8Zm24 30.3c-1.6 0-3.2-.3-4.8-.9-2.7-1-4.9-3.3-5.9-6a12 12 0 0 1 2.2-12 11.3 11.3 0 0 1 8.5-3.4 11 11 0 0 1 10.7 6.9c1.6 4.1.8 8.7-2.2 12a10 10 0 0 1-3.6 2.5c-1.6.6-3.2 1-4.9.9ZM210.2 26c0 1.7.4 3 1.3 4 1 1 2.1 1.6 3.5 1.6 1.3 0 2.5-.6 3.4-1.6a6.4 6.4 0 0 0 1.4-4 6 6 0 0 0-1.4-4.1c-1-1-2-1.6-3.4-1.6-1.3 0-2.6.6-3.4 1.6a6 6 0 0 0-1 1.8c-.3.7-.4 1.4-.4 2.3Zm34 10.7-5.6-8.7-2.3 2.4v6.3h-6.6v-30h6.6v17.4l7.2-8.9h7l-7.8 9.3 8.4 12.2h-7Z"
				></path>
				<path
					fill="#0AB3AF"
					d="M2.3 0C1 0 0 1 0 2.3v40.6c0 1.2 1 2 2.3 2h6V53l7.4-8H43c1.3 0 2-.8 2-2.1V2.3c0-1.2-.7-2.3-2-2.3H2.3Z"
				></path>
				<path
					fill="#FFF"
					d="M29.1 8.1c1 0 2 .2 2.7.7.8.4 1.5 1 2.1 1.6a7.7 7.7 0 0 1 1.8 5 8 8 0 0 1-1 4 6.5 6.5 0 0 1-3.2 2.7c1.7.5 3 1.3 4 2.5a7.8 7.8 0 0 1 1.4 4.8 6.2 6.2 0 0 1-3 5.6c-1 .6-2 1.2-3.3 1.5-1.2.3-2.6.5-4 .5H8.3V8.1h20.8Zm-3 16.2H15.8v4.9h10c.7 0 1.2-.3 1.7-.7.4-.4.6-1 .6-1.7 0-.6-.2-1.2-.5-1.7-.4-.5-.9-.8-1.5-.8Zm-.8-9.8h-9.5V19H25c.5 0 1-.2 1.4-.5.4-.3.6-1 .6-1.8 0-.7-.2-1.3-.5-1.6a2 2 0 0 0-1.3-.5Z"
				></path>
			</g>
		</svg>
	</a>
</div>

<style>
	.sponsors {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;
		padding: 3rem 0;
	}
	a {
		opacity: 0.75;
	}
	a:hover {
		opacity: 1;
	}
	svg {
		color: var(--theme-text);
		fill: currentColor;
	}

	.sponsors-title {
		color: hsl(var(--color-base-gray), 25%);
		font-size: 0.8em;
		font-weight: 300;
		letter-spacing: 0.0625em;
		margin: 0 0;
		text-transform: uppercase;
	}
	:global(:root.theme-dark) .sponsors-title {
		color: hsl(var(--color-base-gray), 75%);
	}
</style>
