---
const instanceId = Math.floor(Math.random() * 100_000);
---

<div dir="ltr" lang="en" class="sponsors">
	<h2 class="sponsors-title">{Astro.locals.t('leftSidebar.sponsoredBy')}</h2>
	<a
		href="https://www.netlify.com/?utm_campaign=Astro-2024&utm_source=astro-referral"
		aria-label="Netlify"
	>
		<svg xmlns="http://www.w3.org/2000/svg" width="96" viewBox="0 0 256 105" aria-hidden="true">
			<path
				fill="#32E6E2"
				d="M58.5 103.8V77.4l.5-.5h6.6l.6.5v26.4l-.6.5H59l-.5-.5Zm0-76.9V.5L59 0h6.6l.6.5V27l-.6.5H59l-.5-.5ZM35.8 85.2h-1l-4.4-4.5v-.9l8.5-8.5h4.7l.7.6v4.8l-8.5 8.5Zm-5.4-60.5v-.9l4.5-4.5h.9l8.5 8.5v4.8l-.7.6H39l-8.5-8.5ZM.5 48.3H38l.5.6v6.6l-.5.5H.5l-.5-.5v-6.6l.5-.6Zm255 0 .5.6v6.6l-.6.5h-37.8l-.6-.5 2.8-6.6.5-.6h35.1Z"
			></path>
			<path
				d="M74.7 65.9H68l-.6-.6V50c0-2.7-1-4.9-4.4-5-1.7 0-3.6 0-5.7.2l-.3.3v20l-.6.5H50l-.6-.6V39l.6-.6h14.8c5.7 0 10.4 4.7 10.4 10.5v16.4l-.5.6Zm31.9-11.6-.6.6H89l-.6.5c0 1.1 1.1 4.4 5.5 4.4 1.7 0 3.3-.5 3.9-1.6l.5-.6h6.6l.6.6c-.6 3.3-3.3 8.2-11.6 8.2-9.3 0-13.7-6.6-13.7-14.3S84.6 38 93.4 38s13.2 6.6 13.2 14.2v2.2ZM98.3 49c0-.6-.5-4.4-5-4.4s-4.9 3.8-4.9 4.4l.6.5h8.8l.5-.5Zm23.7 8.7c0 1.1.5 1.7 1.6 1.7h5l.5.5v5.5l-.6.6h-4.9c-5 0-9.3-2.2-9.3-8.3v-12l-.6-.6H110l-.6-.5V39l.6-.6h3.8l.6-.5v-5l.5-.5h6.6l.5.5v5l.6.5h6l.6.6v5.5l-.6.5h-6l-.6.6v12Zm20.3 8.3h-6.6l-.6-.6V28l.6-.6h6.6l.5.6v37.3l-.5.6ZM157 34h-6.6l-.5-.5V28l.5-.6h6.6l.6.6v5.5l-.6.5Zm0 31.9h-6.6l-.5-.6V39l.5-.6h6.6l.6.6v26.3l-.6.6Zm25.8-38v5.6l-.5.5h-5c-1 0-1.6.6-1.6 1.7v2.2l.5.5h5.5l.6.6v5.5l-.6.5h-5.5l-.5.6v19.7l-.6.6h-6.5l-.6-.6V45.5l-.5-.5h-3.9l-.5-.5V39l.5-.6h3.9l.5-.5v-2.2c0-6 4.4-8.3 9.4-8.3h4.9l.5.6Zm20.3 38.5c-2.2 5.5-4.3 8.8-12 8.8h-2.8l-.5-.5v-5.5l.5-.6h2.8c2.7 0 3.3-.5 3.8-2.2V66l-8.8-21.4V39l.6-.6h5l.5.6 6.5 18.7h.6L206 39l.5-.6h5l.5.6v5.5l-8.8 22Z"
			></path>
		</svg>
	</a>

	<a
		href="https://firebase.studio/?utm_source=astro&utm_medium=astro&utm_campaign=astro"
		aria-label="Firebase Studio"
	>
		<svg xmlns="http://www.w3.org/2000/svg" width="155" viewBox="0 0 322 65">
			<path
				fill="#FFC400"
				d="M31.39 24.27c.4.03.95.18 1.6.28l6.58 4.25-21.52 12.8a12.27 12.27 0 0 1-4.05.72l-8.27-9.85 17.35-6.74c1.77-.66 3.31-1 4.44-1.18 1.26-.21 2.5-.4 3.87-.27h-.01Z"
			></path>
			<path
				fill={`url(#fbs-gradient-a-${instanceId})`}
				d="M30.99 7.92a14.8 14.8 0 0 0-.5-1.73 12.76 12.76 0 0 0-3.02-4.9c-.34-.34-.8-.75-1.38-1.17a60.17 60.17 0 0 1-5.76 6.05C16.73 9.45 10.84 14 7.06 17.42c-.66.6-2 1.94-3.2 3.98v.01c-.22.38-.49.86-.77 1.44l-.13.28-.35.8a15.19 15.19 0 0 0-1.24 4.5 12.85 12.85 0 0 0 .27 4.19 13.5 13.5 0 0 0 4.46 7.05 12 12 0 0 0 7.9 2.65v-.02c-.14-.48-.3-1.17-.37-2.02a12.7 12.7 0 0 1 1.14-6.25c.36-.84 1.23-2.81 3.1-4.6.87-.84 1.81-1.52 2.75-2.13 1.01-.67 1.9-1.18 2.4-1.53.02-.01-.01 0 0 0l.07-.05a20.71 20.71 0 0 0 7.08-9.04c.21-.56.38-1.11.38-1.11.57-1.78 1.13-4.53.44-7.66Z"
			></path>
			<path
				fill="#FF9100"
				d="M14 42.33a12 12 0 0 1-7.9-2.66A13.29 13.29 0 0 1 1.5 32a13.32 13.32 0 0 1 1.1-8.06c.44-1.08.9-1.94 1.25-2.53a7.97 7.97 0 0 0 3.62 4.31c.37.24 2.1 1.35 4.71 1.93a14.13 14.13 0 0 0 10.89-1.92c-.5.36-1.44.9-2.46 1.57-.93.61-1.87 1.29-2.74 2.13a13.73 13.73 0 0 0-3.1 4.6 12.7 12.7 0 0 0-1.14 6.26c.07.86.23 1.56.36 2.03Z"
			></path>
			<path
				fill={`url(#fbs-gradient-b-${instanceId})`}
				d="M42.05 41.41a14.89 14.89 0 0 0 1.13-3.25 12.25 12.25 0 0 0 .12-4.58c-.53-2.89-2.74-5.23-2.97-5.47 0 0-1.5-1.54-3.7-2.6-.32-.16-.87-.43-1.65-.67a19.01 19.01 0 0 0-3.6-.58c.09.02.22.03.37.07.36.09.62.21.81.31.19.09.47.23.77.5a2.32 2.32 0 0 1 .81 1.26c.27 1.09-.4 2.11-.64 2.48-1.72 2.64-11.06 8.13-16.59 13.83a14.7 14.7 0 0 0-3.15 4.45 14.15 14.15 0 0 0-.93 8.17 14.38 14.38 0 0 0 5.76 8.8 96.15 96.15 0 0 1 6.88-6.97c4.49-4.08 10.33-8.6 10.33-8.6s4.49-3.63 6.24-7.15Z"
			></path>
			<path
				fill="currentColor"
				d="M60.04 17.72h17.5v4.3h-13v8.3h11.71v4.26h-11.7v11.95h-4.51v-28.8ZM82.4 23.2c-.82 0-1.54-.29-2.13-.85a2.98 2.98 0 0 1-.84-2.13c0-.84.28-1.53.84-2.1a2.9 2.9 0 0 1 2.14-.88c.83 0 1.53.3 2.09.88.59.57.88 1.26.88 2.1a2.94 2.94 0 0 1-2.98 2.97Zm-2.2 3.37h4.42v19.96h-4.43V26.57Zm8.52 0h4.19v2.98h.24A5.41 5.41 0 0 1 95.48 27a6.5 6.5 0 0 1 3.46-1.04 6 6 0 0 1 2.37.4V31a6.74 6.74 0 0 0-3.05-.69 4.7 4.7 0 0 0-3.66 1.7 5.94 5.94 0 0 0-1.45 4.06v10.46h-4.43V26.57Zm22.58 20.6c-1.96 0-3.73-.46-5.3-1.37a9.73 9.73 0 0 1-3.67-3.78 11.31 11.31 0 0 1-1.33-5.47c0-1.93.42-3.7 1.25-5.31a9.75 9.75 0 0 1 8.81-5.31c2.01 0 3.75.44 5.23 1.33a8.61 8.61 0 0 1 3.42 3.7 11.9 11.9 0 0 1 1.09 6.51h-15.37a5.8 5.8 0 0 0 1.97 4.23 6.08 6.08 0 0 0 4.02 1.49c2.3 0 4.08-1.08 5.31-3.22l3.78 1.8a10.45 10.45 0 0 1-3.7 3.95 10.17 10.17 0 0 1-5.5 1.45Zm5.07-13.08a4.86 4.86 0 0 0-.64-1.97 4.49 4.49 0 0 0-1.77-1.69 5.48 5.48 0 0 0-2.94-.72c-1.31 0-2.45.4-3.42 1.2a6.14 6.14 0 0 0-1.93 3.18h10.7Zm18 13.08a8 8 0 0 1-3.9-.93 6.5 6.5 0 0 1-2.53-2.33h-.24v2.62h-4.19v-28.8h4.43v8.64l-.24 2.78h.24a6.62 6.62 0 0 1 2.53-2.3 8.14 8.14 0 0 1 3.9-.92c1.72 0 3.3.45 4.75 1.37a9.66 9.66 0 0 1 3.5 3.82c.89 1.6 1.33 3.42 1.33 5.43s-.44 3.82-1.33 5.43a10.03 10.03 0 0 1-3.5 3.82 8.73 8.73 0 0 1-4.75 1.37Zm-.76-4.06a5.79 5.79 0 0 0 5.07-3.1c.56-1.02.84-2.17.84-3.46a6.8 6.8 0 0 0-.84-3.42 5.73 5.73 0 0 0-8-2.33c-.9.53-1.62 1.3-2.18 2.29-.54 1-.8 2.14-.8 3.46 0 1.31.26 2.47.8 3.46a5.7 5.7 0 0 0 5.1 3.1Zm19.73 4.06c-1.42 0-2.7-.28-3.86-.85a7.11 7.11 0 0 1-2.7-2.4 6.62 6.62 0 0 1-.96-3.55c0-2.1.78-3.74 2.33-4.95a9.6 9.6 0 0 1 6-1.8c2.12 0 3.93.35 5.43 1.08v-.85c0-1.2-.49-2.2-1.45-2.97a5.08 5.08 0 0 0-3.42-1.21c-2.04 0-3.67.83-4.9 2.5l-3.39-2.34a9.38 9.38 0 0 1 3.5-2.9c1.43-.67 3.02-1 4.79-1 2.92 0 5.18.74 6.76 2.21 1.6 1.45 2.41 3.5 2.41 6.16v12.23h-4.3v-2.46h-.24a7.92 7.92 0 0 1-2.46 2.25c-.99.57-2.17.85-3.54.85Zm.73-3.66c.99 0 1.9-.24 2.73-.73a5.68 5.68 0 0 0 2.01-1.97 5 5 0 0 0 .77-2.65 9.33 9.33 0 0 0-4.55-1.17 5.5 5.5 0 0 0-3.46.97 2.98 2.98 0 0 0-.16 4.7 4.3 4.3 0 0 0 2.66.85Zm20.44 3.66a9.7 9.7 0 0 1-5.67-1.57 8.8 8.8 0 0 1-3.14-4.02l3.95-1.7a5.31 5.31 0 0 0 1.97 2.5 5.3 5.3 0 0 0 2.9.85c1.1 0 2-.2 2.69-.6.7-.44 1.04-.99 1.04-1.66 0-.64-.28-1.16-.84-1.56a7.92 7.92 0 0 0-2.78-1.13l-2.73-.65a8.96 8.96 0 0 1-3.9-1.93 4.8 4.8 0 0 1-1.61-3.74c0-1.85.76-3.31 2.29-4.38a9.39 9.39 0 0 1 5.63-1.65c1.85 0 3.49.39 4.91 1.16 1.45.78 2.5 1.9 3.14 3.38l-3.9 1.65a3.75 3.75 0 0 0-1.74-1.85c-.77-.4-1.62-.6-2.53-.6-.88 0-1.66.2-2.33.6-.67.38-1 .89-1 1.53 0 .57.22 1.02.68 1.37.48.35 1.23.64 2.25.88l2.98.73c2 .5 3.5 1.29 4.5 2.33a5.1 5.1 0 0 1 1.49 3.7 5.2 5.2 0 0 1-1.09 3.22 7.1 7.1 0 0 1-2.93 2.3c-1.24.56-2.65.84-4.23.84Zm20.42 0c-1.96 0-3.73-.46-5.31-1.37a9.73 9.73 0 0 1-3.66-3.78 11.31 11.31 0 0 1-1.33-5.47c0-1.93.41-3.7 1.24-5.31a9.76 9.76 0 0 1 8.81-5.31 9.9 9.9 0 0 1 5.23 1.33 8.61 8.61 0 0 1 3.42 3.7 11.91 11.91 0 0 1 1.09 6.51h-15.37a5.8 5.8 0 0 0 1.97 4.23 6.08 6.08 0 0 0 4.03 1.49c2.3 0 4.07-1.08 5.3-3.22l3.79 1.8a10.45 10.45 0 0 1-3.7 3.95c-1.56.97-3.4 1.45-5.51 1.45Zm5.06-13.08a4.88 4.88 0 0 0-.64-1.97 4.5 4.5 0 0 0-1.77-1.69 5.48 5.48 0 0 0-2.94-.72c-1.31 0-2.45.4-3.41 1.2a6.13 6.13 0 0 0-1.94 3.18H200Zm24.71 13.08c-1.45 0-2.86-.3-4.23-.89a11.03 11.03 0 0 1-3.58-2.65 10.78 10.78 0 0 1-2.21-4.27l3.26-1.32a8.4 8.4 0 0 0 2.53 4.22 6.27 6.27 0 0 0 4.3 1.65 6.8 6.8 0 0 0 4.27-1.33 4.47 4.47 0 0 0 1.73-3.7c0-1.34-.5-2.44-1.49-3.3-.97-.88-2.56-1.7-4.79-2.45l-1.8-.64a14.42 14.42 0 0 1-5-2.86c-1.28-1.18-1.93-2.82-1.93-4.9a6.8 6.8 0 0 1 1.13-3.79 8.07 8.07 0 0 1 3.1-2.82 9.62 9.62 0 0 1 4.5-1.04c1.67 0 3.11.3 4.35.92a8.71 8.71 0 0 1 4.5 4.87l-3.17 1.37a5.55 5.55 0 0 0-5.6-3.9 5.9 5.9 0 0 0-3.78 1.24 3.85 3.85 0 0 0-1.57 3.14c0 1.13.45 2.05 1.33 2.78.89.7 2.23 1.35 4.02 1.97l1.85.64c2.45.89 4.35 2 5.72 3.34 1.4 1.32 2.09 3.11 2.09 5.4 0 1.84-.48 3.4-1.45 4.66a8.29 8.29 0 0 1-3.58 2.77c-1.45.6-2.95.89-4.5.89Zm19.63-.32c-.8 0-1.55-.14-2.25-.4a5.41 5.41 0 0 1-1.73-1.1 4.95 4.95 0 0 1-1.2-1.76 7.5 7.5 0 0 1-.37-2.46V29.67h-3.54v-3.1h3.54v-5.95h3.38v5.95h4.91v3.1h-4.9v10.62c0 1.13.22 1.96.68 2.5.45.58 1.15.88 2.09.88a4.1 4.1 0 0 0 2.17-.56v3.3a7.64 7.64 0 0 1-2.78.44Zm13.3.32c-2.47 0-4.35-.71-5.64-2.13-1.26-1.42-1.89-3.4-1.89-5.92V26.57h3.42v11.99c0 3.67 1.65 5.51 4.95 5.51 1.1 0 2.08-.3 2.94-.92a5.88 5.88 0 0 0 2-2.42c.5-.99.73-2.04.73-3.14V26.57h3.38v19.96h-3.22v-2.98h-.16a7.14 7.14 0 0 1-2.7 2.57 7.38 7.38 0 0 1-3.81 1.05Zm22.27 0c-1.71 0-3.3-.46-4.74-1.37a9.83 9.83 0 0 1-3.46-3.78 11.6 11.6 0 0 1-1.29-5.47c0-2.01.43-3.82 1.29-5.43a9.76 9.76 0 0 1 3.46-3.82 8.74 8.74 0 0 1 4.74-1.37c1.56 0 2.96.35 4.19 1.04a7.1 7.1 0 0 1 2.78 2.54h.16l-.16-2.74v-9.05h3.37v28.8h-3.21v-2.97h-.16a7.28 7.28 0 0 1-2.78 2.61c-1.23.67-2.63 1-4.19 1Zm.53-3.1a6.26 6.26 0 0 0 5.67-3.54c.62-1.15.93-2.48.93-3.98a8.1 8.1 0 0 0-.93-3.98 6.18 6.18 0 0 0-2.41-2.62 6.25 6.25 0 0 0-6.56 0 6.7 6.7 0 0 0-2.41 2.66 8.38 8.38 0 0 0-.89 3.94c0 1.5.3 2.83.89 3.98a6.9 6.9 0 0 0 2.41 2.62c1.02.61 2.12.92 3.3.92Zm16.04-21.68c-.67 0-1.24-.24-1.73-.73a2.36 2.36 0 0 1-.72-1.73c0-.67.24-1.24.72-1.73a2.36 2.36 0 0 1 1.73-.72c.67 0 1.25.24 1.73.72.49.49.73 1.06.73 1.73 0 .67-.24 1.25-.73 1.73-.45.49-1.03.73-1.73.73Zm-1.69 4.18h3.38v19.96h-3.38V26.57Zm16.77 20.6c-1.96 0-3.72-.46-5.27-1.37a10.03 10.03 0 0 1-3.66-3.82 11.51 11.51 0 0 1-1.29-5.43c0-1.99.43-3.78 1.29-5.4a10 10 0 0 1 8.93-5.23 10 10 0 0 1 8.93 5.24 11 11 0 0 1 1.33 5.39c0 1.98-.44 3.8-1.33 5.43a9.65 9.65 0 0 1-3.66 3.82 10.23 10.23 0 0 1-5.27 1.37Zm0-3.1a6.69 6.69 0 0 0 5.87-3.54c.65-1.15.97-2.48.97-3.98a7.8 7.8 0 0 0-.97-3.94 6.62 6.62 0 0 0-5.87-3.58c-1.18 0-2.3.3-3.34.92a6.9 6.9 0 0 0-2.53 2.66 8.08 8.08 0 0 0-.93 3.94c0 1.5.3 2.83.93 3.98.64 1.13 1.48 2 2.53 2.62 1.05.61 2.16.92 3.34.92Z"
			></path>
			<defs>
				<linearGradient
					id={`fbs-gradient-a-${instanceId}`}
					x1="5"
					x2="26.68"
					y1="37.44"
					y2=".98"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="#F8682F"></stop>
					<stop offset="1" stop-color="#DD2C00"></stop>
				</linearGradient>
				<linearGradient
					id={`fbs-gradient-b-${instanceId}`}
					x1="25.29"
					x2="22.81"
					y1="27.27"
					y2="70.76"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="#F8682F"></stop>
					<stop offset=".57" stop-color="#E92A4E"></stop>
					<stop offset="1" stop-color="#C447FF"></stop>
				</linearGradient>
			</defs>
		</svg>
	</a>

	<a
		href="https://sentry.io/welcome/?utm_medium=partner&utm_source=astro&utm_campaign=astro-docs"
		aria-label="Sentry"
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 44" width="96" aria-hidden="true">
			<path
				d="M29,2.26a4.67,4.67,0,0,0-8,0L14.42,13.53A32.21,32.21,0,0,1,32.17,40.19H27.55A27.68,27.68,0,0,0,12.09,17.47L6,28a15.92,15.92,0,0,1,9.23,12.17H4.62A.76.76,0,0,1,4,39.06l2.94-5a10.74,10.74,0,0,0-3.36-1.9l-2.91,5a4.54,4.54,0,0,0,1.69,6.24A4.66,4.66,0,0,0,4.62,44H19.15a19.4,19.4,0,0,0-8-17.31l2.31-4A23.87,23.87,0,0,1,23.76,44H36.07a35.88,35.88,0,0,0-16.41-31.8l4.67-8a.77.77,0,0,1,1.05-.27c.53.29,20.29,34.77,20.66,35.17a.76.76,0,0,1-.68,1.13H40.6q.09,1.91,0,3.81h4.78A4.59,4.59,0,0,0,50,39.43a4.49,4.49,0,0,0-.62-2.28Z M124.32,28.28,109.56,9.22h-3.68V34.77h3.73V15.19l15.18,19.58h3.26V9.22h-3.73ZM87.15,23.54h13.23V20.22H87.14V12.53h14.93V9.21H83.34V34.77h18.92V31.45H87.14ZM71.59,20.3h0C66.44,19.06,65,18.08,65,15.7c0-2.14,1.89-3.59,4.71-3.59a12.06,12.06,0,0,1,7.07,2.55l2-2.83a14.1,14.1,0,0,0-9-3c-5.06,0-8.59,3-8.59,7.27,0,4.6,3,6.19,8.46,7.52C74.51,24.74,76,25.78,76,28.11s-2,3.77-5.09,3.77a12.34,12.34,0,0,1-8.3-3.26l-2.25,2.69a15.94,15.94,0,0,0,10.42,3.85c5.48,0,9-2.95,9-7.51C79.75,23.79,77.47,21.72,71.59,20.3ZM195.7,9.22l-7.69,12-7.64-12h-4.46L186,24.67V34.78h3.84V24.55L200,9.22Zm-64.63,3.46h8.37v22.1h3.84V12.68h8.37V9.22H131.08ZM169.41,24.8c3.86-1.07,6-3.77,6-7.63,0-4.91-3.59-8-9.38-8H154.67V34.76h3.8V25.58h6.45l6.48,9.2h4.44l-7-9.82Zm-10.95-2.5V12.6h7.17c3.74,0,5.88,1.77,5.88,4.84s-2.29,4.86-5.84,4.86Z"
				fill="currentColor"></path>
		</svg>
	</a>

	<a href="https://mux.com" aria-label="Mux">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 77 24"
			height="15"
			fill="currentColor"
			aria-hidden="true"
		>
			<path
				d="M47.73 0a2.98 2.98 0 0 0-2.97 3v9c0 3.31-2.67 6-5.94 6a5.97 5.97 0 0 1-5.94-6V3c0-1.66-1.33-3-2.97-3a2.98 2.98 0 0 0-2.97 3v9c0 6.62 5.33 12 11.88 12 6.55 0 11.88-5.38 11.88-12V3c.01-1.66-1.32-3-2.97-3zm13.19 12-6.81 6.88a3.02 3.02 0 0 0 0 4.24 2.95 2.95 0 0 0 4.2 0l6.81-6.88 6.81 6.88a2.95 2.95 0 0 0 4.2 0 3.02 3.02 0 0 0 0-4.24L69.32 12l6.81-6.88a3.02 3.02 0 0 0 0-4.24 2.95 2.95 0 0 0-4.2 0l-6.81 6.88L58.3.88a2.95 2.95 0 0 0-4.2 0 3.02 3.02 0 0 0 0 4.24L60.92 12zM21.93.23a2.96 2.96 0 0 0-3.24.65l-6.81 6.88L5.07.88A2.94 2.94 0 0 0 1.83.23 3 3 0 0 0 0 3v18c0 1.66 1.33 3 2.97 3s2.97-1.34 2.97-3V10.24l3.84 3.88a2.95 2.95 0 0 0 4.2 0l3.84-3.88V21c0 1.66 1.33 3 2.97 3s2.97-1.34 2.97-3V3A2.98 2.98 0 0 0 21.93.23z"
			></path>
		</svg>
	</a>
</div>

<style>
	.sponsors {
		display: flex;
		flex-wrap: wrap;
		gap: 0 1.5rem;
		padding: 1.5rem 0.5rem 0.75rem;
	}
	a {
		display: flex;
		align-items: center;
		min-height: 3rem;
		opacity: 0.75;
	}
	a:hover {
		opacity: 1;
	}
	svg {
		color: var(--sl-color-white);
		fill: currentColor;
	}

	.sponsors-title {
		width: 100%;
		color: var(--sl-color-gray-3);
		font-size: var(--sl-text-xs);
		font-weight: 400;
		font-family: var(--__sl-font-mono);
		line-height: var(--sl-line-height-headings);
		margin: 0 0 0.5rem;
	}
</style>
