---
import Netlify from './logos/netlify.svg';
import Webflow from './logos/webflow.svg';
import Mux from './logos/mux.svg';
import Cloudflare from './logos/cloudflare.svg';
import ImageKit from './logos/imagekit.svg';
---

<div dir="ltr" lang="en" class="sponsors">
	<h2 class="sponsors-title">{Astro.locals.t('leftSidebar.sponsoredBy')}</h2>
	<a
		href="https://www.netlify.com/?utm_campaign=Astro-2024&utm_source=astro-referral"
		aria-label="Netlify"
	>
		<Netlify width="115" aria-hidden="true" fill="currentColor" />
	</a>

	<a
		href="https://webflow.com/feature/cloud?utm_source=Astro&utm_medium=tech-partner&utm_campaign=fy26-astro&utm_content=fy26-docs"
		aria-label="Webflow"
	>
		<Webflow width="132" aria-hidden="true" />
	</a>

	<a
		href="https://www.cloudflare.com/?utm_source=astro&utm_medium=astro&utm_campaign=astro"
		aria-label="Cloudflare"
	>
		<Cloudflare style="margin: -5% 0 5%" width="144" aria-hidden="true" />
	</a>

	{/* Spacer element to push following logos onto a new row. */}
	<div style="flex-basis: 100%"></div>

	<a href="https://www.mux.com/?utm_campaign=21819274-Astro&utm_source=astro" aria-label="Mux">
		<Mux height="15" fill="currentColor" aria-hidden="true" />
	</a>

	<a
		href="https://imagekit.io/?utm_source=astro&utm_medium=astro&utm_campaign=astro"
		aria-label="Image Kit"
	>
		<ImageKit height="23" fill="currentColor" aria-hidden="true" />
	</a>
</div>

<style>
	.sponsors {
		display: flex;
		flex-wrap: wrap;
		gap: 0.75rem 2rem;
		padding: 1.5rem 0.5rem 0.75rem;
	}
	a {
		display: flex;
		align-items: center;
		min-height: 3rem;
		opacity: 0.75;
	}
	a:hover {
		opacity: 1;
	}
	svg {
		color: var(--sl-color-white);
		fill: currentColor;
	}

	.sponsors-title {
		width: 100%;
		color: var(--sl-color-gray-3);
		font-size: var(--sl-text-xs);
		font-weight: 400;
		font-family: var(--__sl-font-mono);
		line-height: var(--sl-line-height-headings);
		margin: 0 0 0.5rem;
	}
</style>
