---
import UIString from '../UIString.astro';
---

<div dir="ltr" lang="en" class="sponsors">
	<h2 class="sponsors-title"><UIString key="leftSidebar.sponsoredBy" /></h2>
	<a href="https://vercel.com/" aria-label="Vercel" target="_blank">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284 65" width="95" aria-hidden="true">
			<path d="M141.7 16.3c-11 0-19 7.1-19 18s9 18 20 18c6.7 0 12.5-2.7 16.2-7.1l-7.7-4.5c-2 2.2-5 3.5-8.5 3.5-4.8 0-8.9-2.5-10.4-6.5h28c.3-1 .4-2.2.4-3.5 0-10.8-8-18-19-18zm-9.5 14.4c1.3-4 4.7-6.4 9.5-6.4s8.2 2.5 9.4 6.4h-18.9zm117.2-14.4c-11 0-19 7.1-19 18s9 18 20 18a21 21 0 0 0 16.2-7.1l-7.7-4.5c-2 2.2-5 3.5-8.5 3.5-4.8 0-8.9-2.5-10.4-6.5h28c.2-1 .4-2.2.4-3.5 0-10.8-8-18-19-18zm-9.5 14.4c1.3-4 4.7-6.4 9.5-6.4s8.2 2.5 9.4 6.4H240zm-39 3.6c0 6 3.9 10 10 10 4.1 0 7.2-2 8.8-5l7.7 4.5a18.5 18.5 0 0 1-16.5 8.5c-11 0-19-7.2-19-18s8-18 19-18c7.3 0 13.3 3.1 16.5 8.4l-7.7 4.5c-1.6-3-4.7-5-8.8-5-6 0-10 4-10 10zm82.5-29v46h-9v-46h9zM37.6.3l37 64H.5l37-64zm92.4 5-27.7 48-27.8-48H85l17.4 30 17.3-30H130zm58.9 12v9.6c-1-.3-2-.5-3.2-.5-5.8 0-10 4-10 10v14.9h-9v-34h9v9.1c0-5 5.9-9.1 13.2-9.1z"/>
		</svg>
	</a>
	<a href="https://www.storyblok.com/" aria-label="Storyblok" rel="noreferrer" target="_blank">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 251 53" width="125" aria-hidden="true">
			<g>
				<path
					d="M73 37c-2 0-3.7-.2-5.5-.7-1.6-.6-3.2-1.5-4.5-2.7l2.4-4c1.3 1 2.5 1.6 3.8 2.1 1.2.6 2.4.8 3.6.8a4 4 0 0 0 2-.5c.4-.3.6-.7.6-1.3 0-.5-.2-1-.9-1.4-1-.4-2-.8-3-1L67.7 27a13 13 0 0 1-2.4-1.3c-.6-.4-1.1-1-1.4-1.6a5 5 0 0 1-.4-2c0-2.2.9-4.1 2.5-5.4a9.3 9.3 0 0 1 6.1-2c1.6 0 3.1.2 4.5.6 1.4.5 2.8 1.3 4.1 2.4l-2.6 4c-1-.8-2-1.4-3.2-1.9a7 7 0 0 0-2.8-.6c-.7 0-1.3.1-1.8.5-.5.2-.7.7-.7 1.3 0 .6.2 1 .8 1.4.5.3 1.5.6 3 1l3.8 1.2L80 26c1.3 1 2 2.5 1.8 4.1a6 6 0 0 1-2.4 5.1 10 10 0 0 1-6.4 1.9Zm25.8-1.4-3 1c-1.2.3-2.4.5-3.6.5-.8 0-1.6 0-2.3-.3a4.3 4.3 0 0 1-3.2-2.7c-.3-.8-.5-1.7-.5-2.7V20h-2.7v-4.9h2.7V8.3h6.5v6.8h4.4v5h-4.4v9c0 .7.2 1.2.6 1.6.3.3.8.4 1.3.4s1 0 1.5-.2l1.4-.6 1.2 5.3ZM111 37c-1.6 0-3.3-.3-4.8-.9a10 10 0 0 1-5.9-6 12 12 0 0 1 0-8.5c1-2.8 3.1-5 5.9-6 1.4-.6 3-1 4.8-1a11 11 0 0 1 10.7 7c1.1 2.7 1.1 5.8 0 8.5-1 2.7-3 5-5.8 6-1.5.6-3.2 1-4.9.9Zm-4.7-11c0 1.7.4 3 1.3 4 1 1 2.1 1.6 3.5 1.6 1.3 0 2.5-.6 3.4-1.6a6.4 6.4 0 0 0 1.4-4 6 6 0 0 0-1.4-4.1c-1-1-2-1.6-3.4-1.6-1.3 0-2.6.6-3.4 1.6a6 6 0 0 0-1 1.8c-.3.7-.4 1.5-.4 2.3Zm33.1-5.2c-1.5 0-3 .3-4.3.8a5.2 5.2 0 0 0-2.8 2.2v13h-6.5V15.1h6v4.3a8.4 8.4 0 0 1 2.9-3.4 6.5 6.5 0 0 1 3.6-1.3h1.1v6Zm2.9 19.1c1 .3 1.9.5 2.8.5.8 0 1.4-.2 1.9-.7a9 9 0 0 0 1.2-3L140 15.2h6.7l5 15.9 4.3-15.9h6.2l-8.2 25a8.5 8.5 0 0 1-11.7 5.3V40Zm35.3-2.8a8.1 8.1 0 0 1-7.2-4v3.6h-5.7v-30h6.6v12a8 8 0 0 1 10.8-3c1.1.5 2 1.3 3 2.3a14 14 0 0 1 1.8 12.4c-.5 1.3-1.2 2.6-2 3.5a9.6 9.6 0 0 1-7.3 3.2Zm-1.8-5.5a5 5 0 0 0 4.7-3.4c.8-2 .4-4.4-1-6.2-.8-1-2-1.7-3.4-1.7-1 0-2 .4-2.8 1-.9.8-1.6 1.7-2 2.8v4.5a5 5 0 0 0 4.6 3Zm15-24.8h6.6V29c0 1.7.7 2.5 2.1 2.5a5 5 0 0 0 2.1-.5l1 4.8a15 15 0 0 1-5.9 1.3c-1.9 0-3.3-.5-4.3-1.5s-1.6-2.4-1.6-4.3V6.8Zm24 30.3c-1.6 0-3.2-.3-4.8-.9-2.7-1-4.9-3.3-5.9-6a12 12 0 0 1 2.2-12 11.3 11.3 0 0 1 8.5-3.4 11 11 0 0 1 10.7 6.9c1.6 4.1.8 8.7-2.2 12a10 10 0 0 1-3.6 2.5c-1.6.6-3.2 1-4.9.9ZM210.2 26c0 1.7.4 3 1.3 4 1 1 2.1 1.6 3.5 1.6 1.3 0 2.5-.6 3.4-1.6a6.4 6.4 0 0 0 1.4-4 6 6 0 0 0-1.4-4.1c-1-1-2-1.6-3.4-1.6-1.3 0-2.6.6-3.4 1.6a6 6 0 0 0-1 1.8c-.3.7-.4 1.4-.4 2.3Zm34 10.7-5.6-8.7-2.3 2.4v6.3h-6.6v-30h6.6v17.4l7.2-8.9h7l-7.8 9.3 8.4 12.2h-7Z"
				></path>
				<path
					fill="#0AB3AF"
					d="M2.3 0C1 0 0 1 0 2.3v40.6c0 1.2 1 2 2.3 2h6V53l7.4-8H43c1.3 0 2-.8 2-2.1V2.3c0-1.2-.7-2.3-2-2.3H2.3Z"
				></path>
				<path
					fill="#FFF"
					d="M29.1 8.1c1 0 2 .2 2.7.7.8.4 1.5 1 2.1 1.6a7.7 7.7 0 0 1 1.8 5 8 8 0 0 1-1 4 6.5 6.5 0 0 1-3.2 2.7c1.7.5 3 1.3 4 2.5a7.8 7.8 0 0 1 1.4 4.8 6.2 6.2 0 0 1-3 5.6c-1 .6-2 1.2-3.3 1.5-1.2.3-2.6.5-4 .5H8.3V8.1h20.8Zm-3 16.2H15.8v4.9h10c.7 0 1.2-.3 1.7-.7.4-.4.6-1 .6-1.7 0-.6-.2-1.2-.5-1.7-.4-.5-.9-.8-1.5-.8Zm-.8-9.8h-9.5V19H25c.5 0 1-.2 1.4-.5.4-.3.6-1 .6-1.8 0-.7-.2-1.3-.5-1.6a2 2 0 0 0-1.3-.5Z"
				></path>
			</g>
		</svg>
	</a>
</div>

<style>
	.sponsors {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;
		padding: 3rem 0;
	}
	a {
		opacity: 0.75;
	}
	a:hover {
		opacity: 1;
	}
	svg {
		color: var(--theme-text);
		fill: currentColor;
	}

	.sponsors-title {
		color: hsl(var(--color-base-gray), 25%);
		font-size: 0.8em;
		font-weight: 300;
		letter-spacing: 0.0625em;
		margin: 0 0;
		text-transform: uppercase;
	}
	:global(:root.theme-dark) .sponsors-title {
		color: hsl(var(--color-base-gray), 75%);
	}
</style>
