<div dir="ltr" lang="en" class="sponsors">
	<h2 class="sponsors-title">{Astro.locals.t('leftSidebar.sponsoredBy')}</h2>
	<a
		href="https://www.netlify.com/?utm_campaign=Astro-2024&utm_source=astro-referral"
		aria-label="Netlify"
	>
		<svg xmlns="http://www.w3.org/2000/svg" width="96" viewBox="0 0 256 105" aria-hidden="true">
			<path
				fill="#32E6E2"
				d="M58.5 103.8V77.4l.5-.5h6.6l.6.5v26.4l-.6.5H59l-.5-.5Zm0-76.9V.5L59 0h6.6l.6.5V27l-.6.5H59l-.5-.5ZM35.8 85.2h-1l-4.4-4.5v-.9l8.5-8.5h4.7l.7.6v4.8l-8.5 8.5Zm-5.4-60.5v-.9l4.5-4.5h.9l8.5 8.5v4.8l-.7.6H39l-8.5-8.5ZM.5 48.3H38l.5.6v6.6l-.5.5H.5l-.5-.5v-6.6l.5-.6Zm255 0 .5.6v6.6l-.6.5h-37.8l-.6-.5 2.8-6.6.5-.6h35.1Z"
			></path>
			<path
				d="M74.7 65.9H68l-.6-.6V50c0-2.7-1-4.9-4.4-5-1.7 0-3.6 0-5.7.2l-.3.3v20l-.6.5H50l-.6-.6V39l.6-.6h14.8c5.7 0 10.4 4.7 10.4 10.5v16.4l-.5.6Zm31.9-11.6-.6.6H89l-.6.5c0 1.1 1.1 4.4 5.5 4.4 1.7 0 3.3-.5 3.9-1.6l.5-.6h6.6l.6.6c-.6 3.3-3.3 8.2-11.6 8.2-9.3 0-13.7-6.6-13.7-14.3S84.6 38 93.4 38s13.2 6.6 13.2 14.2v2.2ZM98.3 49c0-.6-.5-4.4-5-4.4s-4.9 3.8-4.9 4.4l.6.5h8.8l.5-.5Zm23.7 8.7c0 1.1.5 1.7 1.6 1.7h5l.5.5v5.5l-.6.6h-4.9c-5 0-9.3-2.2-9.3-8.3v-12l-.6-.6H110l-.6-.5V39l.6-.6h3.8l.6-.5v-5l.5-.5h6.6l.5.5v5l.6.5h6l.6.6v5.5l-.6.5h-6l-.6.6v12Zm20.3 8.3h-6.6l-.6-.6V28l.6-.6h6.6l.5.6v37.3l-.5.6ZM157 34h-6.6l-.5-.5V28l.5-.6h6.6l.6.6v5.5l-.6.5Zm0 31.9h-6.6l-.5-.6V39l.5-.6h6.6l.6.6v26.3l-.6.6Zm25.8-38v5.6l-.5.5h-5c-1 0-1.6.6-1.6 1.7v2.2l.5.5h5.5l.6.6v5.5l-.6.5h-5.5l-.5.6v19.7l-.6.6h-6.5l-.6-.6V45.5l-.5-.5h-3.9l-.5-.5V39l.5-.6h3.9l.5-.5v-2.2c0-6 4.4-8.3 9.4-8.3h4.9l.5.6Zm20.3 38.5c-2.2 5.5-4.3 8.8-12 8.8h-2.8l-.5-.5v-5.5l.5-.6h2.8c2.7 0 3.3-.5 3.8-2.2V66l-8.8-21.4V39l.6-.6h5l.5.6 6.5 18.7h.6L206 39l.5-.6h5l.5.6v5.5l-8.8 22Z"
			></path>
		</svg>
	</a>
	<a
		href="https://sentry.io/welcome/?utm_medium=partner&utm_source=astro&utm_campaign=astro-docs"
		aria-label="Sentry"
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 44" width="96" aria-hidden="true">
			<path
				d="M29,2.26a4.67,4.67,0,0,0-8,0L14.42,13.53A32.21,32.21,0,0,1,32.17,40.19H27.55A27.68,27.68,0,0,0,12.09,17.47L6,28a15.92,15.92,0,0,1,9.23,12.17H4.62A.76.76,0,0,1,4,39.06l2.94-5a10.74,10.74,0,0,0-3.36-1.9l-2.91,5a4.54,4.54,0,0,0,1.69,6.24A4.66,4.66,0,0,0,4.62,44H19.15a19.4,19.4,0,0,0-8-17.31l2.31-4A23.87,23.87,0,0,1,23.76,44H36.07a35.88,35.88,0,0,0-16.41-31.8l4.67-8a.77.77,0,0,1,1.05-.27c.53.29,20.29,34.77,20.66,35.17a.76.76,0,0,1-.68,1.13H40.6q.09,1.91,0,3.81h4.78A4.59,4.59,0,0,0,50,39.43a4.49,4.49,0,0,0-.62-2.28Z M124.32,28.28,109.56,9.22h-3.68V34.77h3.73V15.19l15.18,19.58h3.26V9.22h-3.73ZM87.15,23.54h13.23V20.22H87.14V12.53h14.93V9.21H83.34V34.77h18.92V31.45H87.14ZM71.59,20.3h0C66.44,19.06,65,18.08,65,15.7c0-2.14,1.89-3.59,4.71-3.59a12.06,12.06,0,0,1,7.07,2.55l2-2.83a14.1,14.1,0,0,0-9-3c-5.06,0-8.59,3-8.59,7.27,0,4.6,3,6.19,8.46,7.52C74.51,24.74,76,25.78,76,28.11s-2,3.77-5.09,3.77a12.34,12.34,0,0,1-8.3-3.26l-2.25,2.69a15.94,15.94,0,0,0,10.42,3.85c5.48,0,9-2.95,9-7.51C79.75,23.79,77.47,21.72,71.59,20.3ZM195.7,9.22l-7.69,12-7.64-12h-4.46L186,24.67V34.78h3.84V24.55L200,9.22Zm-64.63,3.46h8.37v22.1h3.84V12.68h8.37V9.22H131.08ZM169.41,24.8c3.86-1.07,6-3.77,6-7.63,0-4.91-3.59-8-9.38-8H154.67V34.76h3.8V25.58h6.45l6.48,9.2h4.44l-7-9.82Zm-10.95-2.5V12.6h7.17c3.74,0,5.88,1.77,5.88,4.84s-2.29,4.86-5.84,4.86Z"
				fill="currentColor"></path>
		</svg>
	</a>
	<a
		href="https://idx.dev/?utm_source=astro&utm_medium=astro&utm_campaign=astro"
		aria-label="Project IDX"
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 214 52" width="125" aria-hidden="true">
			<path fill="#8964E8" d="M23.39 44.18H4.19a3.6 3.6 0 0 0 0 7.2h19.2a3.6 3.6 0 0 0 0-7.2Z"
			></path>
			<path
				fill="#17B877"
				d="M30.58 33.38h-3.6a3.6 3.6 0 0 0 0 7.2h3.6a3.6 3.6 0 0 0 0-7.2Zm-14.38 0h-3.6a3.6 3.6 0 0 0 0 7.2h3.6a3.6 3.6 0 1 0 0-7.2Z"
			></path>
			<path
				fill="#FFA23E"
				d="M29.38 22.59h-8.4a3.6 3.6 0 1 0 0 7.2h8.4a3.6 3.6 0 1 0 0-7.2Zm14.4 3.59a3.6 3.6 0 1 0-7.2 0 3.6 3.6 0 0 0 7.2 0Z"
			></path>
			<path fill="#25A6E9" d="M31.78 11.8H12.6a3.6 3.6 0 1 0 0 7.19h19.2a3.6 3.6 0 1 0 0-7.2Z"
			></path>
			<path
				fill="#8964E8"
				d="M23.39 1h-8.4a3.6 3.6 0 0 0 0 7.2h8.4a3.6 3.6 0 0 0 0-7.2ZM7.8 4.6a3.6 3.6 0 1 0-7.2 0 3.6 3.6 0 0 0 7.2 0Z"
			></path>
			<path
				fill="#currentColor"
				d="M66.5 36.08V15.47h7.08c1.25 0 2.38.27 3.4.8a5.99 5.99 0 0 1 2.42 2.22c.61.94.92 2.04.92 3.28a6.2 6.2 0 0 1-3.34 5.53 7.37 7.37 0 0 1-3.4.78h-3.91v8H66.5Zm3.17-11h4c.75 0 1.38-.15 1.9-.46a3.3 3.3 0 0 0 1.18-1.23c.29-.52.43-1.06.43-1.62a3.1 3.1 0 0 0-.43-1.58 3.3 3.3 0 0 0-3.08-1.73h-4v6.62Zm13.38 11V21.4h2.93v2.16h.18c.23-.5.55-.94.98-1.33.44-.38.94-.69 1.5-.92a4.76 4.76 0 0 1 2.78-.26c.3.04.55.1.78.2v3.23a7.7 7.7 0 0 0-1.12-.37 4.5 4.5 0 0 0-1.15-.15c-.73 0-1.38.2-1.96.6-.56.39-1 .9-1.32 1.56a4.82 4.82 0 0 0-.5 2.19v7.77h-3.1Zm17.59.46a7.41 7.41 0 0 1-6.7-3.83 8.12 8.12 0 0 1-.99-3.97c0-1.46.33-2.77.98-3.94a7.35 7.35 0 0 1 6.71-3.86c1.5 0 2.82.35 3.97 1.06a7.4 7.4 0 0 1 2.7 2.8c.66 1.17.99 2.48.99 3.94s-.33 2.78-.98 3.97a7.4 7.4 0 0 1-6.68 3.83Zm0-2.85c.8 0 1.55-.2 2.25-.57.69-.4 1.24-.97 1.67-1.7a5.2 5.2 0 0 0 .66-2.68c0-1.04-.22-1.92-.66-2.65a4.31 4.31 0 0 0-1.67-1.7 4.53 4.53 0 0 0-6.22 1.7 5.2 5.2 0 0 0-.64 2.65 4.67 4.67 0 0 0 2.36 4.38 4.7 4.7 0 0 0 2.25.57Zm9.37 8.9a9.4 9.4 0 0 1-1.61-.2v-3a3.34 3.34 0 0 0 1.35.38c.54 0 .92-.18 1.16-.52.23-.33.34-.8.34-1.44V21.4h3.1v16.44c0 1.13-.18 2.04-.57 2.73-.36.7-.87 1.2-1.52 1.53-.66.32-1.4.49-2.25.49Zm2.8-23.35a2.1 2.1 0 0 1-1.5-.6 2.1 2.1 0 0 1-.6-1.5c0-.6.2-1.09.6-1.47.42-.4.92-.6 1.5-.6.59 0 1.09.2 1.5.6.4.38.6.87.6 1.47 0 .57-.2 1.07-.6 1.5-.41.4-.91.6-1.5.6Zm11.97 17.3a7.27 7.27 0 0 1-6.54-3.77 8.28 8.28 0 0 1-.94-4c0-1.4.3-2.7.92-3.89a7.35 7.35 0 0 1 2.56-2.85 6.83 6.83 0 0 1 3.83-1.1c1.52 0 2.8.33 3.86.99a6.35 6.35 0 0 1 2.45 2.67 8.57 8.57 0 0 1 .77 4.81h-11.34c.08.8.28 1.5.6 2.1a4.3 4.3 0 0 0 3.92 2.28c.98 0 1.8-.22 2.45-.66a5.12 5.12 0 0 0 1.58-1.7l2.56 1.24a7.95 7.95 0 0 1-2.59 2.82 7.36 7.36 0 0 1-4.09 1.06Zm-4.26-9.47h8.15a3.37 3.37 0 0 0-.29-1.15 3.7 3.7 0 0 0-1.98-1.99 4.15 4.15 0 0 0-1.76-.34c-.84 0-1.6.22-2.25.66a4.22 4.22 0 0 0-1.52 1.78c-.16.33-.27.68-.35 1.04Zm21.05 9.47a7.26 7.26 0 0 1-6.62-3.77 8.45 8.45 0 0 1-.95-4.03c0-1.5.31-2.83.95-4a7.26 7.26 0 0 1 2.68-2.77 7.52 7.52 0 0 1 3.94-1.03c1.63 0 3 .36 4.12 1.1A6.02 6.02 0 0 1 148.1 25l-2.82 1.15a3.68 3.68 0 0 0-1.5-1.76c-.63-.4-1.39-.6-2.27-.6a4.43 4.43 0 0 0-3.83 2.33c-.4.73-.6 1.6-.6 2.62 0 1 .2 1.87.6 2.62a4.23 4.23 0 0 0 3.83 2.33 4.3 4.3 0 0 0 2.4-.63 4.23 4.23 0 0 0 1.52-1.79l2.76 1.21a7 7 0 0 1-6.62 4.06Zm8.14-15.14h2.56v-4.15h3.1v4.15h3.6v2.7h-3.6v7.06c0 .73.15 1.28.44 1.67.3.38.82.57 1.53.57.34 0 .65-.04.92-.14.27-.12.53-.25.8-.4v3.02a5.93 5.93 0 0 1-2.33.43c-1.36 0-2.44-.4-3.25-1.18-.8-.8-1.21-1.9-1.21-3.31v-7.71h-2.56V21.4Zm19.49 14.68V15.47h3.16v20.61h-3.16Zm7.84 0V15.47h6.6c2.16 0 4.02.44 5.58 1.32a8.92 8.92 0 0 1 3.63 3.63c.86 1.55 1.3 3.34 1.3 5.35 0 2.02-.44 3.8-1.3 5.36a9.1 9.1 0 0 1-3.63 3.66 11.4 11.4 0 0 1-5.59 1.3h-6.59Zm3.17-3h3.34c1.55 0 2.88-.28 4-.86a5.98 5.98 0 0 0 2.53-2.53c.58-1.1.86-2.4.86-3.92 0-1.51-.28-2.82-.86-3.91a5.81 5.81 0 0 0-2.53-2.5 8.38 8.38 0 0 0-4-.9h-3.34V33.1Zm15.63-17.61h3.9l4.57 7.4h.17l4.6-7.4h3.86l-6.41 9.9 6.88 10.71h-3.86l-5.07-8.03h-.17l-5.07 8.03h-3.86l6.88-10.7-6.41-9.91Z"
			></path>
		</svg>
	</a>
</div>

<style>
	.sponsors {
		display: flex;
		flex-wrap: wrap;
		gap: 0 1.5rem;
		padding: 1.5rem 0.5rem 0.75rem;
	}
	a {
		display: flex;
		align-items: center;
		min-height: 3rem;
		opacity: 0.75;
	}
	a:hover {
		opacity: 1;
	}
	svg {
		color: var(--sl-color-white);
		fill: currentColor;
	}

	.sponsors-title {
		width: 100%;
		color: var(--sl-color-gray-3);
		font-size: var(--sl-text-xs);
		font-weight: 400;
		font-family: var(--__sl-font-mono);
		line-height: var(--sl-line-height-headings);
		margin: 0 0 0.5rem;
	}
</style>
