# `github-slugger` is used by `vite-plugin-markdown-legacy`.
public-hoist-pattern[]=github-slugger
# `canvaskit-wasm` is imported by `astro-og-canvas` which doesn't bundle well
# as it uses `__dirname` that doesn't exist in ESM.
public-hoist-pattern[]=canvaskit-wasm