---
import './TabGroup.css';
import UIString from '../UIString.astro';
import { getLanguageFromURL } from '../../util';

const currentPage = new URL(Astro.request.url).pathname;
const lang = getLanguageFromURL(currentPage);
const segments = currentPage.split('/');
---
<div class="TabGroup no-flex pull-wide">
	<a href={`/${lang}/deploy/netlify/`} class={segments.includes('netlify') ? 'active' : ''}>
		Netlify
	</a>
	<a href={`/${lang}/deploy/vercel/`} class={segments.includes('vercel') ? 'active' : ''}>
		Vercel
	</a>
	<a href={`/${lang}/deploy/other/`} class={segments.includes('other') ? 'active' : ''}>
		<UIString key="deploy.otherTab" />
	</a>
</div>