---
import './TabGroup.css';
import UIString from '../UIString.astro';
import { getLanguageFromURL } from '../../util.ts';

export interface Props {
	currentPage: string;
}

const { currentPage } = Astro.props as Props;
const lang = getLanguageFromURL(currentPage);
---
<div class="TabGroup no-flex pull-wide">
	<a href={`/${lang}/install/auto`} class={currentPage.endsWith('auto') ? 'active' : ''}>
		<UIString key="install.autoTab" />
	</a>
	<a href={`/${lang}/install/manual`} class={currentPage.endsWith('manual') ? 'active' : ''}>
		<UIString key="install.manualTab" />
	</a>
</div>
