---
import './TabGroup.css';

export interface Props {
	currentPage: string;
}

const { currentPage } = Astro.props as Props;
---
<div class="InstallGuideTabGroup TabGroup">
	<a href="/en/install/auto" class={currentPage.endsWith('auto') ? 'active' : ''}>
		Automatic CLI
	</a>
	<a href="/en/install/manual" class={currentPage.endsWith('manual') ? 'active' : ''}>
		Manual Setup
	</a>
</div>

<style>
.InstallGuideTabGroup button,
.InstallGuideTabGroup a {
	flex: 0;
}
</style>
