---
import { Image } from 'astro:assets'
import HoustonLove from '~/assets/houston_love.png'
import Button from '~/components/Button.astro'

const { title, cta } = Astro.props
---

<div class="discord">
  <h2>{title}</h2>
  <div class="cta">
    <Image src={HoustonLove} alt="" class="hide"/>
    <Button variant="blank" href="https://astro.build/chat">{cta}</Button>
  </div>
</div>

<style>
  .discord {
    margin: 0 auto;
    padding: 4rem 0;
    width: fit-content;
  }
  
  .discord h2 {
    font-size: var(--sl-text-2xl) !important;
  }

  .discord .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hide {
    margin-bottom: -1rem;
    width: 5rem;
    height: 5rem;
  }
</style>
