---
import { getAllContributors } from '~/util/getContributors'
import { Image } from 'astro:assets'

const allContributors = await getAllContributors('withastro/astro')

const arrangement = [4, 5, 4, 5, 6, 5, 6, 3, 4, 3]

const contributorArrangement = arrangement.map(i => allContributors.splice(0, i))
---

<div class="hero">
  <div class="grid"></div>
  <div class="landing-content">
    <div class="hero-content">
      <slot name="hero-content"/>
    </div>
  </div>
  <div class="hero-facepile not-content">
    {
      contributorArrangement.map((contributors, i) => {
        return (
          <div>
            {
              i === 7 && <slot name="hero-facepile"/>
            }
            {
              contributors.map(c => <Image width="120" height="120" quality="low" loading="lazy" src={c.avatar_url!} alt={c.login}/>)
            }
          </div>
        )
      })
    }
  </div>
</div>

<style is:global>
  .hero {
    position: relative;
    width: 100%;
  }

  .landing-content {
    max-width: 72rem;
    margin: auto;
    padding: 0 2rem;
  }

  .landing-content .card-split {
    display: flex;
    gap: 2rem;
    color: var(--sl-color-white);
    margin-top: 1rem;
  }
  .landing-content .card-split > div {
    flex: 1;
  }
  
  .grid {
    z-index: -1;
    position: absolute;
    content: '';
    inset: 0;
    background-image: linear-gradient(to right,var(--sl-color-gray-6) 1px,transparent 1px),linear-gradient(to bottom,var(--sl-color-gray-6) 1px,transparent 1px);
    background-position: top center;
    background-size: 20px 20px;
    -webkit-mask-image: radial-gradient(circle at 100%,white, transparent 80%);
    mask-image: radial-gradient(circle at 100%,white, transparent 80%);
  }

  .hero-content {
    max-width: 36rem;
    padding: 12rem 0;
  }

  .hero-content h1 {
    font-size: var(--sl-text-6xl) !important;
  }

  .main-pane {
    --sl-content-margin-inline: 0 !important;
    width: 100% !important;
    background:
      radial-gradient(var(--sl-color-purple-low), transparent 40%) no-repeat -60vw -50vh / 105vw 200vh,
      radial-gradient(var(--sl-color-red-low), transparent 40%) no-repeat 30vw -100vh / 105vw 200vh;
  }

  .main-pane main > div:not(:first-child) {
    padding: 0px;
  }

  .main-pane main #_top {
    display: none;
  }

  .main-pane main > div > div {
    max-width: 100%;
  }

  footer {
    display: none !important;
  }

  .hero-facepile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    top: -2rem;
    right: 0;
  }

  .hero-facepile > div {
    display: flex;
  }

  .hero-facepile img {
    z-index: -1;
    border-radius: 100%;
    width: 3.75rem;
    height: 3.75rem;
    margin: 0.5rem;
  }

  .hero-facepile p {
    color: var(--sl-color-white);
    text-align: right;
    max-width: 16rem;
    padding: 0.25rem;
  }

  .landing-content > article {
    background: radial-gradient(var(--sl-color-orange-low), transparent 40%) no-repeat 50% -30% / 200% 200%;
    position: relative;
  }
  .landing-content > .card-grid > article {
    background: radial-gradient(var(--sl-color-accent-low), transparent 40%) no-repeat 0 100% / 200% 200%;
    position: relative;
  }
  .landing-content > article::after, .landing-content > .card-grid > article::after {
    background: var(--sl-color-black);
    content: '';
    z-index: -1;
    position: absolute;
    inset: 0;
  }

  .landing-content > .card-grid > article:first-child {
    background: radial-gradient(hsla(var(--sl-hue-red), 68%, 52%, 16%), transparent 40%) no-repeat 0 100% / 200% 200%;
  }

  .landing-content > .card-grid > article:last-child {
    background: radial-gradient(hsla(165, 90%, 46%, 16%), transparent 40%) no-repeat 0 100% / 200% 200%;
  }

  .card-grid .card:first-child .title svg {
    background-color: var(--sl-color-red-low);
    border-color: var(--sl-color-red-high);
  }

  .card-grid .card:last-child .title svg {
    background-color: var(--sl-color-blue-low);
    border-color: var(--sl-color-blue-high);
  }

  @media screen and (max-width: 50rem) {
    .landing-content {
      padding: 0 1rem;
    }

    .hero-content {
      padding: 0;
      text-align: center;
    }

    .hero-content div {
      justify-content: center;
    }
  }

  @media screen and (max-width: 78rem) {
    .landing-content .card-split {
      display: block;
    }
    .landing-content .card-split > div:first-child {
      padding-bottom: 1rem;
    }
    .hero-content p {
      color: var(--sl-color-white);
    }
    .hero-facepile {
      display: none;
      /* z-index: -1; */
      /* opacity: 0.15; */
    }
    .hero-facepile > div > p {
      display: none;
    }
  }
</style>
