<div class="hero">
  <div class="grid"></div>
  <div class="landing-content">
    <div class="hero-content">
      <slot name="hero-content"/>
    </div>
    <div class="hero-facepile"></div>
  </div>
</div>

<style is:global>
  .hero {
    position: relative;
    width: 100%;
  }

  .landing-content {
    max-width: 72rem;
    margin: auto;
    padding: 0 2rem;
  }
  
  .grid {
    z-index: -1;
    position: absolute;
    content: '';
    inset: 0;
    background-image: linear-gradient(to right,#23262d 1px,transparent 1px),linear-gradient(to bottom,#23262D 1px,transparent 1px);
    background-position: top center;
    background-size: 20px 20px;
    -webkit-mask-image: linear-gradient(to bottom,transparent,10%,white,90%,transparent);
    mask-image: linear-gradient(to bottom,transparent,10%,white,90%,transparent);
  }

  .hero-content {
    max-width: 36rem;
    padding: 12rem 0;
  }

  .hero-content h1 {
    font-size: var(--sl-text-6xl) !important;
  }

  .main-pane {
    --sl-content-margin-inline: 0 !important;
    width: 100% !important;
    background:
      radial-gradient(var(--sl-color-purple-low), transparent 40%) no-repeat -60vw -50vh / 105vw 200vh,
      radial-gradient(var(--sl-color-red-low), transparent 40%) no-repeat 30vw -100vh / 105vw 200vh;
      /* linear-gradient(215deg, var(--overlay-blurple), transparent 40%), */
      /* radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
      radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) /
        60rem 30rem; */
  }

  .main-pane main > div {
    padding: 0px;
  }

  .main-pane main > div:first-child {
    display: none;
  }

  .main-pane main > div > div {
    max-width: 100%;
  }

  footer {
    display: none !important;
  }
</style>
