---import { Icon } from "@astrojs/starlight/components";

const { href } = Astro.props
---

<li>
  <a {href}>
    <slot/> <Icon class="icon" size="1.25rem" name="right-arrow" />
  </a>
</li>

<style>
  li a {
    color: var(--sl-color-text-accent);
    text-decoration: none;
    display: block;
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--sl-color-gray-6);
  }
  li:last-child a {
    border-bottom: none;
  }
  li a:hover {
    color: var(--sl-color-white);
  }

  .icon {
    float: right;
    margin-top: 0.25rem;
  }
</style>
