---
export interface Props {
	/** Unique ID for the tab panel this item links to. */
	id: string;
	/** Mark this item as visible when the page loads. */
	initial?: boolean;
	/** Additional class names to apply to the `<li>` */
	class?: string;
}

const { id, initial } = Astro.props;
---

<li class:list={Astro.props.class}>
	<a
		href={'#' + id}
		data-initial={initial}
		aria-selected={initial ? 'true' : undefined}
		class="tab-link"
	>
		<slot />
	</a>
</li>
