---
export interface Props {
	id: string;
	initial?: boolean;
}

const { id, initial } = Astro.props;
---

<li>
	<a href={'#' + id} data-initial={initial} class="tab-link">
		<slot />
	</a>
</li>

<style>
  a {
    fill: var(--sl-color-gray-2);
  }

  a[aria-selected=true] {
    z-index: 1;
    background-color: var(--sl-color-gray-6);
    fill: var(--sl-color-white);
  }
</style>
