.container {
	scroll-margin-top: 1rem;
	padding-block: 1rem;
}

.tablist {
	display: flex;
}

.tab {
	border-radius: unset;
	background-color: unset;
	padding: 0.5rem 1rem;
	border-bottom: 4px solid var(--theme-divider);
	cursor: pointer;
}

.tab[aria-selected=true] {
	border-bottom-color: var(--theme-accent);
}

.tabpanel {
	padding-block-start: 1rem;
}
