.container {
	padding-block: 1rem;
	position: relative;
}

.tab-scroll-overflow {
	margin-inline-start: -1rem;
	overflow-x: scroll;
	/* Hide scrollbar on firefox */
	scrollbar-width: none;
}

.tab-scroll-overflow::-webkit-scrollbar {
	/* Hide scrollbar on chrome / safari */
	display: none;
}

.tab:focus {
	outline: 2px solid var(--theme-accent);
	outline-offset: -2px;
}

.tabpanel {
	padding-block-start: 1rem;
}
