.container {
	padding-block: 1rem;
	position: relative;
}

.tab-scroll-overflow {
	overflow-x: scroll;
	/* Hide scrollbar on firefox */
	scrollbar-width: none;
}

.tab-scroll-overflow::-webkit-scrollbar {
	/* Hide scrollbar on chrome / safari */
	display: none;
}

.tab:focus {
	outline: 2px solid var(--theme-accent);
	outline-offset: -2px;
}

.tab:not(:focus-visible) {
	outline: 0;
}

.tabpanel {
	padding-block-start: 1rem;
}

.tablist {
	position: relative;
}

.selectedIndicator {
	position: absolute;
	transform-origin: left;
	left: 0;
	bottom: -4px;
	height: 4px;
	background-color: var(--theme-accent);
}

@media (forced-colors: active) {
	.selectedIndicator {
		background-color: ButtonText;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.selectedIndicator {
		transition-duration: 200ms;
	}
}
