---
import UIString from '../UIString.astro';
import { getLanguageFromURL } from '../../util';
import EditButton from './EditButton.astro';

export interface Props {
	i18nReady: boolean | undefined;
	editHref: string;
}

const { i18nReady, editHref } = Astro.props as Props;

const lang = getLanguageFromURL(Astro.url.pathname);
const isFallback = !!Astro.params.fallback;
const isTranslatable = (lang === 'en' || isFallback) && i18nReady;
---

<h2 class="heading"><UIString key="rightSidebar.contribute" /></h2>
<ul>
	<li>
		<a class={`header-link depth-2`} href={`/${lang}/contribute/`}>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				aria-hidden="true"
				role="img"
				width="1em"
				height="1em"
				preserveAspectRatio="xMidYMid meet"
				viewBox="0 0 1024 1024"
			>
				<path
					fill="currentColor"
					d="M928 161H699.2c-49.1 0-97.1 14.1-138.4 40.7L512 233l-48.8-31.3A255.2 255.2 0 0 0 324.8 161H96c-17.7 0-32 14.3-32 32v568c0 17.7 14.3 32 32 32h228.8c49.1 0 97.1 14.1 138.4 40.7l44.4 28.6c1.3.8 2.8 1.3 4.3 1.3s3-.4 4.3-1.3l44.4-28.6C602 807.1 650.1 793 699.2 793H928c17.7 0 32-14.3 32-32V193c0-17.7-14.3-32-32-32zM404 553.5c0 4.1-3.2 7.5-7.1 7.5H211.1c-3.9 0-7.1-3.4-7.1-7.5v-45c0-4.1 3.2-7.5 7.1-7.5h185.7c3.9 0 7.1 3.4 7.1 7.5v45zm0-140c0 4.1-3.2 7.5-7.1 7.5H211.1c-3.9 0-7.1-3.4-7.1-7.5v-45c0-4.1 3.2-7.5 7.1-7.5h185.7c3.9 0 7.1 3.4 7.1 7.5v45zm416 140c0 4.1-3.2 7.5-7.1 7.5H627.1c-3.9 0-7.1-3.4-7.1-7.5v-45c0-4.1 3.2-7.5 7.1-7.5h185.7c3.9 0 7.1 3.4 7.1 7.5v45zm0-140c0 4.1-3.2 7.5-7.1 7.5H627.1c-3.9 0-7.1-3.4-7.1-7.5v-45c0-4.1 3.2-7.5 7.1-7.5h185.7c3.9 0 7.1 3.4 7.1 7.5v45z"
				></path>
			</svg>
			<span>
				<UIString key="rightSidebar.contributorGuides" />
			</span>
		</a>
	</li>
	<li>
		<EditButton editHref={editHref} />
	</li>
	{
		isTranslatable && (
			<li>
				<a
					class={`header-link depth-2`}
					href="https://github.com/withastro/docs/blob/main/contributor-guides/translating-astro-docs.md"
					rel="noreferrer"
					target="_blank"
				>
					<svg
						aria-hidden="true"
						focusable="false"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 88.6 77.3"
						height="1.24em"
						width="1.24em"
						style="margin: -2px;"
					>
						<path
							fill="currentColor"
							d="M61,24.6h7.9l18.7,51.6h-7.7l-5.4-15.5H54.3l-5.6,15.5h-7.2L61,24.6z M72.6,55l-8-22.8L56.3,55H72.6z"
						/>
						<path
							fill="currentColor"
							d="M53.6,60.6c-10-4-16-9-22-14c0,0,1.3,1.3,0,0c-6,5-20,13-20,13l-4-6c8-5,10-6,19-13c-2.1-1.9-12-13-13-19h8          c4,9,10,14,10,14c10-8,10-19,10-19h8c0,0-1,13-12,24l0,0c5,5,10,9,19,13L53.6,60.6z M1.6,16.6h56v-8h-23v-7h-9v7h-24V16.6z"
						/>
					</svg>
					<span>
						<UIString key="rightSidebar.translatePage" />
					</span>
				</a>
			</li>
		)
	}
</ul>
