---
import TableOfContents from './TableOfContents.tsx';
import ThemeToggleButton from './ThemeToggleButton.tsx';
import ContributeMenu from './ContributeMenu.astro';
import CommunityMenu from './CommunityMenu.astro';
import { useTranslations } from "../../i18n/util.ts";

const t = useTranslations(Astro);

const { content, githubEditUrl } = Astro.props;
const headers = content.astro?.headers;
---

<nav class="sidebar-nav" aria-labelledby="grid-right">
	<div class="sidebar-nav-inner">
		{headers && (
			<TableOfContents
				client:media="(min-width: 50em)"
				headers={headers}
				labels={{ onThisPage: t('rightSidebar.onThisPage'), overview: t('rightSidebar.overview') }}
			/>
		)}
		<CommunityMenu/>
		<ContributeMenu editHref={githubEditUrl} />
		<div style="margin: 2rem 0; text-align: center;">
			<ThemeToggleButton 
				client:visible 
				labels={{  useLight: t('themeToggle.useLight'), useDark: t('themeToggle.useDark')  }} 
			/>
		</div>
	</div>
</nav>

<style>
	.sidebar-nav {
		width: 100%;
		position: sticky;
		top: 0;
	}
	.sidebar-nav-inner {
		height: 100%;
		padding: 0;
		padding-top: var(--doc-padding);
		overflow: auto;
	}
</style>
