---
import TableOfContents from './TableOfContents';
import ContributeMenu from './ContributeMenu.astro';
import CommunityMenu from './CommunityMenu.astro';
import { useTranslations } from "../../i18n/util";

const t = useTranslations(Astro);

const { content, githubEditUrl } = Astro.props;
const headers = content.astro?.headers;
---

<nav aria-label={t('rightSidebar.a11yTitle')}>
	{headers && (
		<TableOfContents
			client:media="(min-width: 50em)"
			headers={headers}
			labels={{ onThisPage: t('rightSidebar.onThisPage'), overview: t('rightSidebar.overview') }}
			isMobile={false}
		/>
	)}
	<ContributeMenu editHref={githubEditUrl} />
	<CommunityMenu />
</nav>

<style>
	nav {
		width: 100%;
		padding: var(--doc-padding-block) 0;
		overflow: auto;
	}

	/* style applied only on Firefox, this avoids scrollbars overlapping. */
	@supports (-moz-appearance: none) {
		.sidebar-nav {
			padding-inline-end: 1.5rem;
		}
	}
</style>
