---
import { LinkButton } from '@astrojs/starlight/components';

const offerUrl = 'https://scrimba.com/intro-to-astro-c00ar0fi5u';

const idCount = (((Astro.locals as any)._ad_render_id as number | undefined) ??= 1);
(Astro.locals as any)._ad_render_id++;
const headingId = `learn-astro-course-${idCount}`;
---

<div class="container" lang="en" dir="ltr" data-algolia-exclude>
	<aside aria-labelledby={headingId}>
		<h2 id={headingId}>
			<span>Learn Astro with <strong class="sr-only">Scrimba</strong></span>
			{/* Scrimba logo — hidden in accessibility tree in favour of the `.sr-only` text above. */}
			<svg height="0.75em" aria-hidden="true" fill="currentColor" viewBox="0 0 135 12">
				<path
					d="M50.33 11.94a4.75 4.75 0 0 1-2-.41 3.75 3.75 0 0 1-1.58-1.25 4 4 0 0 1-.62-2.18h1.75c0 .5.04 1.02.28 1.34.25.31.57.55.97.7.4.16.71.23 1.2.23s1.05-.07 1.43-.22c.37-.15.66-.35.87-.6a1.31 1.31 0 0 0 .31-.87c0-.44-.13-.79-.4-1.05-.27-.27-.68-.5-1.23-.68l-2.13-.8a6.35 6.35 0 0 1-2.09-1.17 2.44 2.44 0 0 1-.71-1.87c0-.9.35-1.63 1.05-2.2a4.4 4.4 0 0 1 2.9-.85 4.5 4.5 0 0 1 2.9.84 3.24 3.24 0 0 1 1.12 2.3H52.6c-.08-.49-.2-.88-.57-1.17-.37-.28-1-.49-1.7-.49a2.3 2.3 0 0 0-1.51.51c-.39.3-.58.67-.58 1.12 0 .37.12.66.36.89.24.22.63.42 1.14.6l2.42.89c.83.29 1.48.69 1.95 1.18.46.5.7 1.13.7 1.9a3 3 0 0 1-.5 1.71c-.34.5-.83.9-1.48 1.18-.64.28-1.57.42-2.5.42Zm13.81 0a4.6 4.6 0 0 1-2.61-.73c-.73-.5-1.3-1.2-1.7-2.1a7.8 7.8 0 0 1-.59-3.18c0-1.28.2-2.35.63-3.22A4.53 4.53 0 0 1 64.14.06c1.27 0 2.27.31 3.02.94a4.45 4.45 0 0 1 1.49 2.44l-1.82.35a3.4 3.4 0 0 0-1.03-1.6 2.46 2.46 0 0 0-1.66-.6c-.56 0-1.07.17-1.54.49-.46.32-.84.8-1.12 1.46-.28.64-.4 1.44-.4 2.4 0 .88.1 1.66.33 2.33a3.4 3.4 0 0 0 1.03 1.55 2.6 2.6 0 0 0 1.7.56c.84 0 1.49-.22 1.97-.67.48-.44.65-1.07.65-1.79h1.92a3.66 3.66 0 0 1-2.15 3.55 5.7 5.7 0 0 1-2.39.47Zm9.43-.17V.23h4.08c1.33 0 2.35.35 3.04.99.7.63 1.05 1.46 1.05 2.49 0 1.01-.35 1.84-1.05 2.47-.7.62-1.72.82-3.05.82l-.4.03-.7.02H75.5v4.72h-1.92Zm6.3 0-2.8-4.73 1.92-.17 2.8 4.9h-1.93Zm-4.38-5.95h2.01c.82 0 1.43-.06 1.85-.45.43-.4.64-.9.64-1.53a2 2 0 0 0-.6-1.53c-.4-.38-.97-.68-1.74-.68H75.5v4.2Zm11.54 5.95V.23h1.92v11.54h-1.92ZM94.72.23h2.62L101 7.75h-.35l3.56-7.52h2.56v11.54h-1.93V2.16h.53l-4.02 8.03h-1.05l-4.2-8.03h.53v9.6h-1.92V.24Zm17.82 11.54V.23h4.54c.86 0 1.46.17 2.02.45.57.27 1 .64 1.27 1.1a2.8 2.8 0 0 1 .43 1.5c0 .65-.19 1.21-.55 1.68-.36.48-.9.77-1.6.95a2.91 2.91 0 0 1 2.04 1.44c.2.37.3.77.3 1.21 0 .38-.06.76-.2 1.13-.13.37-.35.7-.65 1.01-.3.3-.71.55-1.23.74-.51.18-1.23.33-2 .33h-4.37Zm1.92-1.58h2.45c.78 0 1.38-.14 1.72-.46.36-.32.53-.74.53-1.26s-.18-.94-.55-1.25a2.6 2.6 0 0 0-1.7-.52h-2.45v3.5Zm0-8.38v3.32h2.45c.67 0 1.19-.03 1.56-.35.38-.31.58-.75.58-1.32 0-.53-.19-.95-.56-1.26-.36-.3-.9-.4-1.58-.4h-2.45Zm10.49 9.96L128.79.23h2.1c1.48 4.5 2.36 7.04 3.85 11.54h-1.93l-.87-2.8h-4.2l-.87 2.8h-1.92Zm3.32-4.2h3.15l-1.58-5.24-1.57 5.24Z"
				></path>
				<path
					d="M64.14 11.94a4.6 4.6 0 0 1-2.61-.73c-.73-.5-1.3-1.2-1.7-2.1a7.8 7.8 0 0 1-.59-3.18c0-1.28.2-2.35.63-3.22A4.53 4.53 0 0 1 64.14.06c1.27 0 2.27.31 3.02.94a4.45 4.45 0 0 1 1.49 2.44l-1.82.35a3.4 3.4 0 0 0-1.03-1.6 2.46 2.46 0 0 0-1.66-.6c-.56 0-1.07.17-1.54.49-.46.32-.84.8-1.12 1.46-.28.64-.4 1.44-.4 2.4 0 .88.1 1.66.33 2.33a3.4 3.4 0 0 0 1.03 1.55 2.6 2.6 0 0 0 1.7.56c.84 0 1.49-.22 1.97-.67.48-.44.65-1.07.65-1.79h1.92a3.66 3.66 0 0 1-2.15 3.55 5.7 5.7 0 0 1-2.39.47ZM5.77 6H0v5.77h11.53V6h5.77V.23H5.77V6ZM34.6.23h-5.77V6h-5.76v5.77H34.6V.23Z"
				></path>
			</svg>
		</h2>
		<p>Build your first site with 35 interactive lessons</p>
		<LinkButton href={offerUrl} class="cta" data-scrimba-cta>Free 2-hour course</LinkButton>
	</aside>
</div>

<script>
	document.querySelectorAll('a[data-scrimba-cta]').forEach((link) =>
		link.addEventListener('click', () => {
			(window as any).fathom?.trackEvent('Docs: Scrimba campaign click');
		})
	);
</script>

<style>
	.container {
		container-type: inline-size;
		max-width: 45rem;
		margin-inline: auto;
	}
	aside {
		margin-top: 2rem;
		border: 1px solid var(--sl-color-gray-5);
		border-radius: 0.5rem;
		padding: 1rem;
		background-color: var(--sl-color-gray-6);
		box-shadow: var(--sl-shadow-md);

		/* Internal layout */
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			'title'
			'tagline'
			'cta';
		gap: 0.75rem 0.5rem;
		align-items: center;
		line-height: var(--sl-line-height-headings);
	}

	h2 {
		grid-area: title;
		margin: 0 !important;
		font-weight: 400 !important;
		text-wrap: balance;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 0.5rem 0.5em;
	}

	p {
		grid-area: tagline;
		font-size: var(--sl-text-sm);
		text-align: center;
	}

	.cta {
		grid-area: cta;
		text-align: center;
		justify-content: center;
		font-size: var(--sl-text-sm) !important;
		font-weight: 500;
		padding-block: 0.6875rem !important;
		transition: opacity 200ms ease-out;
	}
	.cta:hover {
		opacity: 0.8;
	}

	/* When there’s enough room, move the CTA button to the right instead of below. */
	@container (width > 40rem) {
		aside {
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			grid-template-areas:
				'title cta'
				'tagline cta';
			row-gap: 0.25rem;
		}
		h2 {
			justify-content: flex-start;
		}
		p {
			text-align: start;
		}
	}
</style>
