.toc-mobile-container {
	--toc-overlap-inline-start: 1rem;
	--toc-overlap-inline-end: 1rem;
	width: calc(100% + var(--toc-overlap-inline-start) + var(--toc-overlap-inline-end));
	margin-top: 1.75rem;
	margin-inline: calc(-1 * var(--toc-overlap-inline-start)) calc(-1 * var(--toc-overlap-inline-end));
	padding-inline: var(--toc-overlap-inline-start) var(--toc-overlap-inline-end);
	padding-block: 0.75rem;
	background: var(--theme-bg-gradient);
	transform: translateY(-1px);
}

@media (min-width: 50em) {
	.toc-mobile-container {
		--toc-overlap-inline-start: 2rem;
		--toc-overlap-inline-end: 0.5rem;
	}
}

.toc-mobile-container[open] > .toc-mobile-header svg {
	transform: rotate(90deg);
}

.toc-mobile-header {
	display: flex;
	align-items: baseline;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.toc-toggle {
	margin-inline-end: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid var(--theme-shade-subtle);
	padding: 0.25rem 0.5rem 0.25rem 0.75rem;
}

.toc-current-heading {
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--theme-text-light);
}

.toc-mobile-container[open] .toc-toggle {
	background-color: var(--theme-bg-offset);
}

.toc-mobile-header h2 {
	margin: 0;
	display: inline;
}

.toc-mobile-header span {
	margin-left: 0.2rem;
}

.toc-mobile-header svg {
	transform: rotate(0);
	transition: 0.15s transform ease;
	vertical-align: middle;
	fill: var(--theme-accent-secondary);
	stroke: var(--theme-accent-secondary);
}

.toc-mobile-container ul {
	max-height: calc(100vh - 22rem);
	overflow-y: auto;
	margin-top: 0.5rem;
	border: 1px solid var(--theme-shade-subtle);
	border-radius: 0.5rem;
	padding: 0.5rem 0;
	background-color: var(--theme-bg-offset);
}

.toc-mobile-container .header-link {
	border: 0;
}
