details {
	margin-top: 1.75rem;
}

details > summary {
	list-style: none;
}

details > summary::marker,
details > summary::-webkit-details-marker {
	display: none;
}

details[open] > summary svg {
	transform: rotate(90deg);
}

summary {
	cursor: pointer;
	margin-bottom: 0.5rem;
	padding-top: 1rem;
}

summary h2 {
	margin: 0;
	display: inline;
}

summary span {
	margin-left: 0.2rem;
}

svg {
	transform: rotate(0);
	transition: .15s transform ease;
	vertical-align: middle;
}

svg path {
	fill: currentColor;
}
