/* The mobile container is a <details> element wrapping the mobile TOC */
.toc-mobile-container > .toc-mobile-header::marker,
.toc-mobile-container > .toc-mobile-header::-webkit-details-marker {
	display: none;
}

.toc-mobile-container[open] > .toc-mobile-header svg {
	transform: rotate(90deg);
}

.toc-mobile-container {
	--header-bottom-padding: 1.5rem;
}

@media (min-width: 50em) {
	/* Improve toggle & title alignment with left sidebar */
	.toc-mobile-container {
		--header-bottom-padding: 0.5rem;
	}
}

/*
	The mobile header is the clickable <summary> heading.

	It has a opaque background and covers the entire viewport width
	to ensure that page content scrolling underneath is hidden.
*/
.toc-mobile-header {
	display: block;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: var(--theme-bg-gradient-top);
	-webkit-tap-highlight-color: transparent;
}

.toc-mobile-header-content {
	display: flex;
	align-items: center;
	height: var(--theme-mobile-toc-height);
	max-width: 80ch;
	margin-inline: auto;
	padding-bottom: var(--header-bottom-padding);
	padding-inline: var(--min-spacing-inline);
}

.toc-toggle {
	margin-inline-end: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid var(--theme-shade-subtle);
	padding: 0.25rem 0.75rem;
	padding-inline-end: 0.5rem;
	font-size: var(--theme-text-sm);
}

.toc-toggle svg {
	margin-inline-start: 0.25rem;
}

.toc-current-heading {
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--theme-text-light);
	unicode-bidi: plaintext;
}

.toc-mobile-container[open] .toc-toggle {
	background-color: var(--theme-bg-offset);
}

.toc-mobile-header h2 {
	margin: 0;
	display: inline;
}

.toc-mobile-header span {
	margin-inline-start: 0.2rem;
}

.toc-mobile-header svg {
	transform: rotate(0);
	transition: 0.15s transform ease;
	vertical-align: middle;
	fill: var(--theme-accent-secondary);
	stroke: var(--theme-accent-secondary);
}

@media (forced-colors: active) {
	.toc-mobile-header svg {
		fill: Highlight;
		stroke: Highlight;
	}
}

.toc-mobile-container ul.toc-root {
	margin-inline: var(--min-spacing-inline);
	max-height: calc(
		var(--cur-viewport-height) - var(--theme-navbar-height) - var(--theme-mobile-toc-height) - 1rem
	);
	overflow-y: auto;
	border: 1px solid var(--theme-shade-subtle);
	border-radius: 0.5rem;
	padding: 0.5rem 0;
	font-size: var(--theme-text-sm);
	background: linear-gradient(var(--theme-bg-offset), var(--theme-bg-offset)),
		var(--theme-bg-gradient);
	transform: translateY(calc(-0.5rem - 0.5 * var(--header-bottom-padding)));
}

.toc-mobile-container .header-link {
	border: 0;
}

.toc-mobile-container .header-link a {
	/* Add block padding to mobile header links to increase tap zones */
	padding-block: 0.3125rem;
}
