---
import type { LogoKey } from '~/data/logos';
import BrandLogo from '../BrandLogo.astro';

export interface Props {
	href: string;
	logo?: LogoKey;
	current?: boolean;
	minimal?: boolean;
	[key: string]: any;
}

const { href, logo, current, minimal, class: classes, ...attrs } = Astro.props as Props;
---

<li class:list={['card', minimal ? 'card--minimal' : 'card--maximal', classes]} {...attrs}>
	{logo && <BrandLogo brand={logo} />}
	<div class="stack">
		<h3>
			<a href={href} aria-current={current ? 'page' : 'false'}>
				<slot name="title" />
			</a>
		</h3>
		{!minimal && <slot name="details" />}
	</div>
</li>

<style>
	.card {
		position: relative;
		margin: -0.5rem;
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 0.75rem;
		align-items: center;
		border-radius: 1rem;
	}

	@media (forced-colors: active) {
		.card:hover,
		.card:focus-within {
			outline: 1px solid LinkText;
		}
	}

	.card--minimal {
		grid-template-columns: 1fr;
		justify-items: center;
		text-align: center;
		gap: 0.5rem;
	}

	.card:hover,
	.card:focus-within {
		background-color: var(--theme-bg-hover);
	}

	.card:focus-within {
		outline: 2px solid var(--theme-accent-secondary);
	}

	h3 {
		margin: 0;
		line-height: 1.25;
		font-size: 1.15rem;
	}

	.card--minimal h3 {
		font-size: 0.875rem;
	}

	a {
		text-decoration: none;
		color: var(--theme-text);
	}

	a:focus {
		outline: none;
	}

	/* Capture clicks on the whole card for this link */
	a::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.stack > :global(* + *) {
		margin-top: 0.5rem;
	}
</style>
