---
import BrandLogo, { Props as LogoProps } from '../BrandLogo.astro';

export interface Props {
	href: string;
	logo: LogoProps['brand'];
	current?: boolean;
	minimal?: boolean;
	starred?: boolean;
	[key: string]: any;
}

const { href, logo, current, minimal, starred, class: classes, ...attrs } = Astro.props as Props;
---

<li class:list={['card', minimal ? 'card--minimal' : 'card--maximal', classes]} {...attrs}>
	<BrandLogo brand={logo} />
	<div class="stack">
		<h3>
			{
				starred && (
					<svg
						xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true"
						class="star"
						viewBox="0 0 24 24"
						width="24"
						height="24"
					>
						<path
							fill-rule="evenodd"
							d="M12.7.7a.8.8 0 0 0-1.4 0l-3 6.2-6.9 1A.8.8 0 0 0 1 9l5 5-1.2 6.8a.8.8 0 0 0 1 .8l6.2-3.3 6.1 3.3a.8.8 0 0 0 1.1-.8L18 14l5-5a.8.8 0 0 0-.4-1.2l-6.9-1-3-6.2z"
						/>
					</svg>
				)
			}
			<a {href} aria-current={current ? 'page' : 'false'}>
				<slot name="title" />
			</a>
		</h3>
		{!minimal && <slot name="details" />}
	</div>
</li>

<style>
	.card {
		position: relative;
		margin: -0.5rem;
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 0.75rem;
		align-items: center;
		border-radius: 1rem;
	}

	@media (forced-colors: active) {
		.card:hover,
		.card:focus-within {
			outline: 1px solid LinkText;
		}
	}

	.card--minimal {
		grid-template-columns: 1fr;
		justify-items: center;
		text-align: center;
		gap: 0.5rem;
	}

	.card:hover,
	.card:focus-within {
		background-color: var(--theme-bg-hover);
	}

	.card:focus-within {
		outline: 2px solid var(--theme-accent-secondary);
	}

	h3 {
		margin: 0;
		line-height: 1.25;
		font-size: 1.15rem;
	}

	.card--minimal h3 {
		font-size: 0.875rem;
	}

	a {
		text-decoration: none;
		color: var(--theme-text);
	}

	a:focus {
		outline: none;
	}

	/* Capture clicks on the whole card for this link */
	a::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.stack > :global(* + *) {
		margin-top: 0.5rem;
	}

	.star {
		fill: var(--theme-accent);
		vertical-align: -12.5%;
		height: 1em;
		width: 1em;
	}
</style>
