---
import SiteSidebar from '../components/SiteSidebar.astro';
import AstroLogo from '../components/AstroLogo.astro';
import ThemeToggle from '../components/ThemeToggle.tsx';
---

<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro Documentation</title>
    <link rel="stylesheet" href="/theme.css" />
    <link rel="stylesheet" href="/code.css" />
    <link rel="stylesheet" href="/index.css" />
    <script src="/theme.js" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: 3.5rem 1fr;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }

      header {
        position: sticky;
        top: 0;
        z-index: 10;
        height: 56px;
        width: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .layout {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 
          minmax(var(--gutter), 1fr) 
          minmax(0, var(--max-width)) 
          minmax(var(--gutter), 1fr);
        gap: 1em;
      }

      .menu-and-logo {
        gap: 1em;
      }

      #site-title {
        display: flex;
        align-items: center;
        gap: 0.25em;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        line-height: 1;
        color: var(--theme-text);
        text-decoration: none;
      }

      #site-title:hover,
      #site-title:focus {
        color: var(--theme-text-light);
      }

      #site-title h1 {
        font: inherit;
        color: inherit;
        margin: 0;
      }

      .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 82em;
        padding: 0 1rem;
      }

      .layout :global(> *) {
        width: 100%;
        height: 100%;
      }

      .sidebar {
        max-height: 100vh;
        position: sticky;
        top: 0;
        padding: var(--doc-padding) 0;
      }

      #sidebar-nav {
        display: none;
        max-height: 100vh;
        padding: 0;
      }

      #article {
        padding: var(--doc-padding) var(--gutter);
        grid-column: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

.npm-init-snippet {
  background-color:  var(--theme-code-inline-bg); 
  border-radius: 6px; 
  padding: 12px 18px 4px; 
  margin-top: 1rem;
  fill: var(--theme-text-light);
  stroke: var(--theme-text-light);
}
      .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .content > main {
        margin-bottom: 4rem;
      }

      #sidebar-content {
        display: none;
      }
      .theme-toggle-wrapper {
        display: none;
      }

      @media (min-width: 64em) {
        .menu-and-logo button {
          display: none;
        }
        .layout {
          grid-template-columns: 
            20rem 
            minmax(0, 1fr);
        }
        #article {
          grid-column: 2;
        }
        #sidebar-nav {
          display: flex;
        }
        .theme-toggle-wrapper {
          display: flex;
        }
      }

      @media (min-width: 82em) {
        .layout {
          grid-template-columns: 
            20rem 
            minmax(0, var(--max-width)) 
            18rem;
          padding-left: 0;
          padding-right: 0;
          margin: 0 auto;
        }

        #sidebar-nav {
          grid-column: 1;
        }
        #article {
          grid-column: 2/4;
        }
      }


    </style>
  </head>

  <body>
    <header>
      <nav class="nav-wrapper">
        <div class="menu-and-logo flex">
          <button id="menu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
          <a id="site-title" href="/">
            <h1>Astro Documentation</h1>
          </a>
        </div>

        <div />

        <div class="theme-toggle-wrapper">
          <ThemeToggle:idle />
        </div>
      </nav>
    </header>

    <main class="layout">
      <aside class="sidebar" id="sidebar-nav">
        <SiteSidebar currentPage="" />
      </aside>
      <div id="article">
        <article class="content">
          <AstroLogo size={160} />
          <div class="npm-init-snippet">
            <svg width="220" height="25" viewBox="0 0 264.656 29.844" xmlns="http://www.w3.org/2000/svg"><g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt"  stroke-width="0.25mm" style="stroke-width:0.25mm;"><path d="M 40.641 8.297 L 40.531 6.438 L 37.281 6.438 L 37.281 23.344 L 40.719 23.344 L 40.719 10.359 A 2.867 2.867 0 0 1 40.843 10.088 A 2.351 2.351 0 0 1 40.93 9.938 Q 41.047 9.75 41.203 9.609 A 1.28 1.28 0 0 1 41.659 9.318 A 1.489 1.489 0 0 1 41.695 9.305 A 1.735 1.735 0 0 1 42.027 9.225 A 2.364 2.364 0 0 1 42.359 9.203 A 2.172 2.172 0 0 1 42.686 9.227 A 1.668 1.668 0 0 1 42.977 9.297 A 1.229 1.229 0 0 1 43.453 9.594 A 1.066 1.066 0 0 1 43.64 9.851 Q 43.701 9.967 43.746 10.108 A 1.877 1.877 0 0 1 43.758 10.148 Q 43.841 10.437 43.856 10.824 A 4.54 4.54 0 0 1 43.859 11 L 43.859 23.344 L 47.234 23.344 L 47.234 10.797 L 47.234 10.555 L 47.234 10.406 Q 47.297 10.141 47.422 9.93 A 1.41 1.41 0 0 1 47.734 9.563 A 1.477 1.477 0 0 1 48.187 9.303 A 1.668 1.668 0 0 1 48.203 9.297 A 1.561 1.561 0 0 1 48.487 9.227 Q 48.626 9.206 48.783 9.204 A 2.688 2.688 0 0 1 48.828 9.203 A 2.207 2.207 0 0 1 49.217 9.236 A 1.839 1.839 0 0 1 49.461 9.297 Q 49.75 9.391 49.953 9.594 Q 50.156 9.813 50.266 10.164 A 2.226 2.226 0 0 1 50.34 10.498 Q 50.365 10.667 50.372 10.861 A 4.258 4.258 0 0 1 50.375 11.016 L 50.375 23.344 L 53.813 23.344 L 53.813 11.047 A 10.794 10.794 0 0 0 53.767 10.031 Q 53.701 9.335 53.539 8.773 A 5.162 5.162 0 0 0 53.268 8.038 Q 53.055 7.578 52.766 7.234 A 3.119 3.119 0 0 0 51.586 6.398 A 3.815 3.815 0 0 0 50.467 6.14 A 4.569 4.569 0 0 0 50.094 6.125 Q 49.469 6.125 48.945 6.281 Q 48.422 6.438 48 6.719 A 3.207 3.207 0 0 0 47.435 7.202 A 3.587 3.587 0 0 0 47.391 7.25 Q 47.109 7.563 46.891 7.922 A 3.489 3.489 0 0 0 46.671 7.467 A 2.943 2.943 0 0 0 46.516 7.227 A 2.518 2.518 0 0 0 46.016 6.703 A 2.218 2.218 0 0 0 45.397 6.346 A 2.684 2.684 0 0 0 45.156 6.266 A 3.676 3.676 0 0 0 44.559 6.152 A 4.873 4.873 0 0 0 44.031 6.125 A 4.175 4.175 0 0 0 43.015 6.243 A 3.228 3.228 0 0 0 41.977 6.703 A 3.819 3.819 0 0 0 40.801 7.99 A 4.646 4.646 0 0 0 40.641 8.297 Z M 195.484 18.047 L 191.859 18.047 A 4.547 4.547 0 0 0 192.242 19.855 A 5.374 5.374 0 0 0 192.359 20.109 A 5.176 5.176 0 0 0 193.481 21.605 A 6.198 6.198 0 0 0 193.828 21.906 A 6.535 6.535 0 0 0 195.046 22.704 A 8.704 8.704 0 0 0 196.195 23.188 A 8.672 8.672 0 0 0 197.815 23.565 A 11.798 11.798 0 0 0 199.437 23.672 Q 201.078 23.672 202.422 23.297 A 8.657 8.657 0 0 0 203.708 22.831 A 6.703 6.703 0 0 0 204.734 22.25 A 5.094 5.094 0 0 0 205.8 21.254 A 4.572 4.572 0 0 0 206.211 20.641 A 4.159 4.159 0 0 0 206.734 18.578 A 4.489 4.489 0 0 0 206.626 17.571 A 3.449 3.449 0 0 0 206.234 16.578 A 4.489 4.489 0 0 0 205.262 15.441 A 5.505 5.505 0 0 0 204.828 15.109 A 7.549 7.549 0 0 0 203.828 14.563 Q 203.315 14.328 202.72 14.135 A 12.236 12.236 0 0 0 202.641 14.109 A 20.726 20.726 0 0 0 201.115 13.692 A 26.219 26.219 0 0 0 199.813 13.422 A 19.087 19.087 0 0 1 199.049 13.278 Q 198.705 13.205 198.408 13.126 A 8.65 8.65 0 0 1 197.977 13 Q 197.5 12.846 197.161 12.672 A 2.823 2.823 0 0 1 196.844 12.484 A 2.037 2.037 0 0 1 196.553 12.273 Q 196.342 12.087 196.234 11.867 Q 196.063 11.516 196.063 11.078 A 1.693 1.693 0 0 1 196.266 10.273 A 1.779 1.779 0 0 1 196.661 9.777 A 2.242 2.242 0 0 1 196.875 9.609 A 2.535 2.535 0 0 1 197.334 9.332 Q 197.558 9.225 197.826 9.143 A 4.432 4.432 0 0 1 197.914 9.117 A 4.45 4.45 0 0 1 198.554 8.988 Q 198.882 8.945 199.252 8.939 A 7.681 7.681 0 0 1 199.391 8.938 Q 200.248 8.938 200.902 9.147 A 3.542 3.542 0 0 1 201 9.18 A 3.783 3.783 0 0 1 201.581 9.438 A 2.775 2.775 0 0 1 202.125 9.828 A 2.462 2.462 0 0 1 202.571 10.367 A 2.243 2.243 0 0 1 202.695 10.602 Q 202.891 11.031 202.891 11.5 L 206.625 11.5 Q 206.625 10.359 206.125 9.375 A 5.025 5.025 0 0 0 204.76 7.717 A 5.791 5.791 0 0 0 204.703 7.672 A 6.469 6.469 0 0 0 203.447 6.926 A 8.487 8.487 0 0 0 202.422 6.539 A 9.122 9.122 0 0 0 200.801 6.204 A 12.058 12.058 0 0 0 199.391 6.125 A 10.606 10.606 0 0 0 197.751 6.247 A 8.397 8.397 0 0 0 196.523 6.531 Q 195.234 6.938 194.328 7.641 A 5.29 5.29 0 0 0 193.344 8.608 A 4.618 4.618 0 0 0 192.914 9.273 A 4.133 4.133 0 0 0 192.422 11.234 A 4.065 4.065 0 0 0 192.543 12.246 A 3.311 3.311 0 0 0 192.906 13.125 A 4.385 4.385 0 0 0 193.916 14.281 A 5.271 5.271 0 0 0 194.25 14.531 Q 195.125 15.156 196.336 15.594 Q 197.547 16.031 199.016 16.328 Q 199.89 16.491 200.547 16.672 A 10.653 10.653 0 0 1 200.969 16.797 Q 201.534 16.978 201.943 17.175 A 4.247 4.247 0 0 1 202.234 17.328 A 2.896 2.896 0 0 1 202.532 17.562 Q 202.674 17.69 202.776 17.823 A 1.438 1.438 0 0 1 202.883 17.984 Q 203.078 18.328 203.078 18.766 A 1.592 1.592 0 0 1 202.985 19.313 A 1.49 1.49 0 0 1 202.898 19.508 A 1.771 1.771 0 0 1 202.622 19.887 A 2.357 2.357 0 0 1 202.359 20.125 A 2.564 2.564 0 0 1 201.921 20.399 Q 201.703 20.508 201.442 20.596 A 4.906 4.906 0 0 1 201.195 20.672 A 5.179 5.179 0 0 1 200.461 20.818 Q 200.015 20.875 199.5 20.875 A 6.865 6.865 0 0 1 198.078 20.727 A 4.05 4.05 0 0 1 197.26 20.465 A 3.472 3.472 0 0 1 196.828 20.234 A 2.847 2.847 0 0 1 195.898 19.367 A 2.32 2.32 0 0 1 195.565 18.599 A 3.147 3.147 0 0 1 195.484 18.047 Z M 0 6.438 L 0 23.344 L 3.734 23.344 L 3.734 11.281 Q 3.984 10.859 4.313 10.5 A 3.921 3.921 0 0 1 4.865 9.997 A 3.527 3.527 0 0 1 5.016 9.891 A 3.929 3.929 0 0 1 6.038 9.4 A 4.4 4.4 0 0 1 6.094 9.383 Q 6.688 9.203 7.375 9.203 A 6.51 6.51 0 0 1 8.11 9.243 Q 8.503 9.287 8.844 9.383 Q 9.484 9.563 9.938 9.984 A 2.383 2.383 0 0 1 10.413 10.612 A 3.202 3.202 0 0 1 10.625 11.109 Q 10.807 11.656 10.848 12.41 A 8.371 8.371 0 0 1 10.859 12.859 L 10.859 23.344 L 14.594 23.344 L 14.594 12.797 A 12.564 12.564 0 0 0 14.525 11.442 Q 14.423 10.507 14.172 9.758 A 6.399 6.399 0 0 0 13.683 8.644 A 4.897 4.897 0 0 0 12.984 7.688 Q 12.219 6.875 11.141 6.5 A 6.766 6.766 0 0 0 9.555 6.162 A 8.31 8.31 0 0 0 8.766 6.125 A 6.193 6.193 0 0 0 6.905 6.402 A 5.887 5.887 0 0 0 6.891 6.406 Q 6 6.688 5.25 7.203 Q 4.781 7.531 4.367 7.945 A 6.984 6.984 0 0 0 3.609 8.844 L 3.375 6.438 L 0 6.438 Z M 96.016 6.438 L 96.016 23.344 L 99.75 23.344 L 99.75 11.281 Q 100 10.859 100.328 10.5 A 3.921 3.921 0 0 1 100.881 9.997 A 3.527 3.527 0 0 1 101.031 9.891 A 3.929 3.929 0 0 1 102.054 9.4 A 4.4 4.4 0 0 1 102.109 9.383 Q 102.703 9.203 103.391 9.203 A 6.51 6.51 0 0 1 104.126 9.243 Q 104.519 9.287 104.859 9.383 Q 105.5 9.563 105.953 9.984 A 2.383 2.383 0 0 1 106.429 10.612 A 3.202 3.202 0 0 1 106.641 11.109 Q 106.823 11.656 106.863 12.41 A 8.371 8.371 0 0 1 106.875 12.859 L 106.875 23.344 L 110.609 23.344 L 110.609 12.797 A 12.564 12.564 0 0 0 110.54 11.442 Q 110.439 10.507 110.188 9.758 A 6.399 6.399 0 0 0 109.698 8.644 A 4.897 4.897 0 0 0 109 7.688 Q 108.234 6.875 107.156 6.5 A 6.766 6.766 0 0 0 105.57 6.162 A 8.31 8.31 0 0 0 104.781 6.125 A 6.193 6.193 0 0 0 102.92 6.402 A 5.887 5.887 0 0 0 102.906 6.406 Q 102.016 6.688 101.266 7.203 Q 100.797 7.531 100.383 7.945 A 6.984 6.984 0 0 0 99.625 8.844 L 99.391 6.438 L 96.016 6.438 Z M 141.922 6.438 L 141.922 2.313 L 138.172 2.313 L 138.172 6.438 L 134.078 6.438 L 134.078 9.234 L 138.172 9.234 L 138.172 17.547 A 10.305 10.305 0 0 0 138.243 18.79 Q 138.321 19.429 138.483 19.975 A 5.673 5.673 0 0 0 138.602 20.328 A 5.629 5.629 0 0 0 139.115 21.379 A 4.458 4.458 0 0 0 139.797 22.219 Q 140.563 22.969 141.633 23.32 A 7.046 7.046 0 0 0 143.185 23.636 A 8.649 8.649 0 0 0 143.984 23.672 A 14.36 14.36 0 0 0 145.398 23.602 A 15.612 15.612 0 0 0 146.601 23.437 A 14.129 14.129 0 0 0 146.766 23.406 Q 147.422 23.281 147.992 23.102 A 5.236 5.236 0 0 0 148.491 22.918 Q 148.753 22.805 148.969 22.672 L 148.563 20.094 A 35.962 35.962 0 0 1 148.333 20.144 Q 148.229 20.166 148.113 20.191 A 75.872 75.872 0 0 1 147.867 20.242 A 11.81 11.81 0 0 1 147.272 20.349 A 13.954 13.954 0 0 1 146.984 20.391 A 14.549 14.549 0 0 1 145.992 20.515 A 15.05 15.05 0 0 1 145.984 20.516 A 11.188 11.188 0 0 1 145.106 20.562 A 10.133 10.133 0 0 1 144.984 20.563 A 5.06 5.06 0 0 1 144.263 20.513 A 4.098 4.098 0 0 1 143.75 20.406 Q 143.188 20.25 142.781 19.875 Q 142.381 19.521 142.155 18.9 A 3.434 3.434 0 0 1 142.148 18.883 Q 141.965 18.37 141.93 17.657 A 7.068 7.068 0 0 1 141.922 17.313 L 141.922 9.234 L 148.281 9.234 L 148.281 6.438 L 141.922 6.438 Z M 218.734 6.438 L 218.734 2.313 L 214.984 2.313 L 214.984 6.438 L 210.891 6.438 L 210.891 9.234 L 214.984 9.234 L 214.984 17.547 A 10.305 10.305 0 0 0 215.055 18.79 Q 215.133 19.429 215.296 19.975 A 5.673 5.673 0 0 0 215.414 20.328 A 5.629 5.629 0 0 0 215.928 21.379 A 4.458 4.458 0 0 0 216.609 22.219 Q 217.375 22.969 218.445 23.32 A 7.046 7.046 0 0 0 219.998 23.636 A 8.649 8.649 0 0 0 220.797 23.672 A 14.36 14.36 0 0 0 222.211 23.602 A 15.612 15.612 0 0 0 223.413 23.437 A 14.129 14.129 0 0 0 223.578 23.406 Q 224.234 23.281 224.805 23.102 A 5.236 5.236 0 0 0 225.303 22.918 Q 225.565 22.805 225.781 22.672 L 225.375 20.094 A 35.962 35.962 0 0 1 225.145 20.144 Q 225.042 20.166 224.926 20.191 A 75.872 75.872 0 0 1 224.68 20.242 A 11.81 11.81 0 0 1 224.085 20.349 A 13.954 13.954 0 0 1 223.797 20.391 A 14.549 14.549 0 0 1 222.805 20.515 A 15.05 15.05 0 0 1 222.797 20.516 A 11.188 11.188 0 0 1 221.918 20.562 A 10.133 10.133 0 0 1 221.797 20.563 A 5.06 5.06 0 0 1 221.076 20.513 A 4.098 4.098 0 0 1 220.562 20.406 Q 220 20.25 219.594 19.875 Q 219.193 19.521 218.967 18.9 A 3.434 3.434 0 0 1 218.961 18.883 Q 218.777 18.37 218.743 17.657 A 7.068 7.068 0 0 1 218.734 17.313 L 218.734 9.234 L 225.094 9.234 L 225.094 6.438 L 218.734 6.438 Z M 183.625 23.344 L 187.438 23.344 L 187.438 23.078 A 5.105 5.105 0 0 1 187.177 22.406 Q 187.068 22.058 186.989 21.658 A 8.729 8.729 0 0 1 186.961 21.508 A 10.011 10.011 0 0 1 186.838 20.537 A 13.638 13.638 0 0 1 186.797 19.453 L 186.797 11.938 Q 186.797 10.5 186.266 9.398 A 4.984 4.984 0 0 0 184.797 7.578 A 6.195 6.195 0 0 0 183.342 6.756 A 7.626 7.626 0 0 0 182.57 6.492 A 9.7 9.7 0 0 0 180.527 6.148 A 11.438 11.438 0 0 0 179.797 6.125 A 10.898 10.898 0 0 0 178.279 6.226 A 8.059 8.059 0 0 0 176.852 6.555 A 7.514 7.514 0 0 0 175.666 7.061 A 5.761 5.761 0 0 0 174.687 7.719 A 5.228 5.228 0 0 0 173.731 8.696 A 4.554 4.554 0 0 0 173.313 9.375 Q 172.844 10.313 172.828 11.328 L 176.578 11.328 A 2.345 2.345 0 0 1 176.758 10.414 A 1.801 1.801 0 0 1 177.312 9.688 A 2.394 2.394 0 0 1 177.811 9.355 A 3.206 3.206 0 0 1 178.258 9.172 A 3.56 3.56 0 0 1 178.867 9.033 Q 179.163 8.99 179.497 8.985 A 6.102 6.102 0 0 1 179.594 8.984 Q 180.438 8.984 181.086 9.195 Q 181.734 9.406 182.188 9.797 A 2.669 2.669 0 0 1 182.836 10.719 A 2.829 2.829 0 0 1 183.043 11.528 A 3.505 3.505 0 0 1 183.062 11.906 L 183.063 13.047 L 180.344 13.047 A 16.691 16.691 0 0 0 178.663 13.128 A 12.202 12.202 0 0 0 177.07 13.391 A 9.119 9.119 0 0 0 175.894 13.751 Q 175.282 13.988 174.781 14.3 A 5.532 5.532 0 0 0 174.641 14.391 A 4.784 4.784 0 0 0 173.29 15.713 A 4.598 4.598 0 0 0 173.023 16.164 A 4.922 4.922 0 0 0 172.523 17.787 A 6.291 6.291 0 0 0 172.469 18.625 A 4.728 4.728 0 0 0 172.895 20.626 A 4.813 4.813 0 0 0 172.898 20.633 Q 173.328 21.563 174.109 22.219 A 5.291 5.291 0 0 0 175.36 23.028 A 6.492 6.492 0 0 0 175.961 23.273 A 6.731 6.731 0 0 0 177.542 23.617 A 8.306 8.306 0 0 0 178.359 23.656 A 7.477 7.477 0 0 0 179.332 23.595 A 6.25 6.25 0 0 0 179.875 23.5 A 6.579 6.579 0 0 0 180.995 23.147 A 5.967 5.967 0 0 0 181.188 23.063 A 5.672 5.672 0 0 0 182.068 22.585 A 5.074 5.074 0 0 0 182.289 22.43 A 7.395 7.395 0 0 0 182.97 21.857 A 6.519 6.519 0 0 0 183.172 21.656 A 15.135 15.135 0 0 0 183.302 22.361 A 13.592 13.592 0 0 0 183.352 22.586 A 3.608 3.608 0 0 0 183.454 22.95 Q 183.528 23.168 183.625 23.344 Z M 19.234 6.438 L 19.234 29.844 L 22.969 29.844 L 22.969 21.813 Q 23.266 22.141 23.609 22.422 A 5.551 5.551 0 0 0 24.328 22.922 A 5.55 5.55 0 0 0 25.632 23.445 A 6.199 6.199 0 0 0 25.727 23.469 A 6.355 6.355 0 0 0 26.719 23.629 A 7.984 7.984 0 0 0 27.391 23.656 A 6.597 6.597 0 0 0 28.961 23.476 A 5.398 5.398 0 0 0 30.219 23 Q 31.453 22.344 32.297 21.188 A 7.522 7.522 0 0 0 33.226 19.502 A 9.456 9.456 0 0 0 33.57 18.469 A 12.327 12.327 0 0 0 33.966 16.071 A 14.703 14.703 0 0 0 34 15.063 L 34 14.734 A 14.476 14.476 0 0 0 33.862 12.691 A 11.603 11.603 0 0 0 33.563 11.242 A 9.414 9.414 0 0 0 32.987 9.683 A 7.448 7.448 0 0 0 32.297 8.516 A 5.818 5.818 0 0 0 30.211 6.75 A 5.804 5.804 0 0 0 28.416 6.199 A 7.525 7.525 0 0 0 27.344 6.125 A 6.816 6.816 0 0 0 26.202 6.218 A 5.98 5.98 0 0 0 25.781 6.305 A 5.861 5.861 0 0 0 24.77 6.649 A 5.171 5.171 0 0 0 24.437 6.813 A 4.976 4.976 0 0 0 23.562 7.406 Q 23.156 7.75 22.813 8.172 L 22.672 6.438 L 19.234 6.438 Z M 86.641 6.438 L 77.672 6.438 L 77.672 9.547 L 82.875 9.547 L 82.875 20.25 L 77.672 20.25 L 77.672 23.344 L 91.609 23.344 L 91.609 20.25 L 86.641 20.25 L 86.641 6.438 Z M 125.047 6.438 L 116.078 6.438 L 116.078 9.547 L 121.281 9.547 L 121.281 20.25 L 116.078 20.25 L 116.078 23.344 L 130.016 23.344 L 130.016 20.25 L 125.047 20.25 L 125.047 6.438 Z M 236.453 9.172 L 236.438 8.781 L 236.281 6.438 L 232.781 6.438 L 232.781 23.344 L 236.516 23.344 L 236.516 12.906 A 5.93 5.93 0 0 1 236.966 11.996 A 5.076 5.076 0 0 1 237.25 11.578 Q 237.688 11 238.313 10.625 A 3.994 3.994 0 0 1 239.299 10.146 A 4.755 4.755 0 0 1 239.641 10.047 A 6.086 6.086 0 0 1 240.49 9.901 A 8.148 8.148 0 0 1 241.328 9.859 A 14.92 14.92 0 0 1 242.992 9.953 A 16.665 16.665 0 0 1 244.687 10.234 L 245.219 6.547 A 4.223 4.223 0 0 0 244.88 6.444 Q 244.496 6.343 243.96 6.262 A 14.446 14.446 0 0 0 243.883 6.25 Q 243.031 6.125 242.125 6.125 Q 240.375 6.125 238.93 6.938 Q 237.484 7.75 236.453 9.172 Z M 248.953 14.734 L 248.953 15.063 A 11.369 11.369 0 0 0 249.15 17.218 A 9.541 9.541 0 0 0 249.484 18.484 A 8.138 8.138 0 0 0 250.582 20.639 A 7.5 7.5 0 0 0 251.031 21.203 A 6.976 6.976 0 0 0 253.5 23.016 A 7.489 7.489 0 0 0 255.596 23.594 A 9.499 9.499 0 0 0 256.828 23.672 A 8.89 8.89 0 0 0 258.679 23.487 A 7.178 7.178 0 0 0 260.133 23.016 Q 261.594 22.359 262.594 21.203 A 7.955 7.955 0 0 0 263.985 18.869 A 9.239 9.239 0 0 0 264.125 18.484 Q 264.656 16.922 264.656 15.063 L 264.656 14.734 A 11.239 11.239 0 0 0 264.438 12.484 A 9.64 9.64 0 0 0 264.125 11.32 Q 263.594 9.75 262.594 8.594 Q 261.578 7.438 260.117 6.781 A 7.421 7.421 0 0 0 258.028 6.203 A 9.478 9.478 0 0 0 256.797 6.125 A 9.035 9.035 0 0 0 255.039 6.289 A 7.13 7.13 0 0 0 253.484 6.781 Q 252.031 7.438 251.031 8.594 A 7.806 7.806 0 0 0 249.625 10.934 A 9.053 9.053 0 0 0 249.484 11.32 A 10.165 10.165 0 0 0 248.986 13.828 A 12.126 12.126 0 0 0 248.953 14.734 Z M 252.688 15.063 L 252.688 14.734 A 9.208 9.208 0 0 1 252.886 12.801 A 8.514 8.514 0 0 1 252.93 12.609 A 5.845 5.845 0 0 1 253.313 11.493 A 4.874 4.874 0 0 1 253.688 10.828 A 3.797 3.797 0 0 1 254.961 9.609 A 3.251 3.251 0 0 1 256.071 9.215 A 4.334 4.334 0 0 1 256.797 9.156 A 4.306 4.306 0 0 1 257.682 9.243 A 3.195 3.195 0 0 1 258.648 9.609 A 3.943 3.943 0 0 1 259.938 10.828 A 5.533 5.533 0 0 1 260.462 11.912 A 6.935 6.935 0 0 1 260.672 12.609 Q 260.922 13.625 260.922 14.734 L 260.922 15.063 A 9.596 9.596 0 0 1 260.788 16.687 A 8.457 8.457 0 0 1 260.68 17.219 A 6.145 6.145 0 0 1 260.326 18.282 A 5.039 5.039 0 0 1 259.938 19 A 3.701 3.701 0 0 1 258.656 20.211 A 3.366 3.366 0 0 1 257.472 20.611 A 4.383 4.383 0 0 1 256.828 20.656 A 4.401 4.401 0 0 1 255.942 20.571 A 3.285 3.285 0 0 1 254.969 20.211 Q 254.188 19.766 253.688 19 A 5.106 5.106 0 0 1 253.098 17.8 A 6.251 6.251 0 0 1 252.93 17.219 A 9.021 9.021 0 0 1 252.697 15.521 A 10.398 10.398 0 0 1 252.687 15.063 Z M 30.266 14.734 L 30.266 15.063 A 10.369 10.369 0 0 1 30.143 16.684 A 9.149 9.149 0 0 1 30.047 17.195 A 6.036 6.036 0 0 1 29.676 18.353 A 5.103 5.103 0 0 1 29.344 18.984 A 3.545 3.545 0 0 1 28.133 20.195 A 3.053 3.053 0 0 1 27.115 20.573 A 4.184 4.184 0 0 1 26.344 20.641 A 4.808 4.808 0 0 1 25.658 20.594 A 3.84 3.84 0 0 1 25.172 20.492 A 4.216 4.216 0 0 1 24.551 20.267 A 3.544 3.544 0 0 1 24.219 20.094 A 3.446 3.446 0 0 1 23.5 19.469 A 3.795 3.795 0 0 1 22.969 18.672 L 22.969 11.156 A 4.273 4.273 0 0 1 23.544 10.324 A 3.96 3.96 0 0 1 23.555 10.313 A 2.988 2.988 0 0 1 24.344 9.688 A 3.07 3.07 0 0 1 24.933 9.417 A 3.733 3.733 0 0 1 25.234 9.328 A 4.202 4.202 0 0 1 25.959 9.215 A 5.026 5.026 0 0 1 26.312 9.203 A 4.201 4.201 0 0 1 27.172 9.287 A 3.106 3.106 0 0 1 28.109 9.641 Q 28.859 10.078 29.344 10.828 A 5.143 5.143 0 0 1 29.835 11.866 A 6.561 6.561 0 0 1 30.039 12.586 Q 30.266 13.594 30.266 14.734 Z M 180.656 15.406 L 183.063 15.406 L 183.063 18.531 A 2.772 2.772 0 0 1 182.744 19.024 A 3.53 3.53 0 0 1 182.484 19.313 Q 182.109 19.688 181.594 19.984 A 5.106 5.106 0 0 1 180.773 20.361 A 6.009 6.009 0 0 1 180.445 20.469 A 4.59 4.59 0 0 1 179.461 20.643 A 5.452 5.452 0 0 1 179.078 20.656 A 4.846 4.846 0 0 1 178.485 20.622 Q 178.183 20.585 177.923 20.507 A 2.81 2.81 0 0 1 177.828 20.477 Q 177.297 20.297 176.938 19.984 Q 176.578 19.672 176.391 19.227 Q 176.203 18.781 176.203 18.266 A 2.968 2.968 0 0 1 176.271 17.619 A 2.442 2.442 0 0 1 176.43 17.141 A 2.213 2.213 0 0 1 177.037 16.351 A 2.627 2.627 0 0 1 177.125 16.281 Q 177.575 15.924 178.281 15.707 A 5.637 5.637 0 0 1 178.547 15.633 A 6.787 6.787 0 0 1 179.389 15.478 Q 179.825 15.424 180.32 15.411 A 12.384 12.384 0 0 1 180.656 15.406 Z M 82.531 2.063 A 2.06 2.06 0 0 0 82.608 2.635 A 1.732 1.732 0 0 0 82.82 3.102 A 1.45 1.45 0 0 0 83.503 3.658 A 1.89 1.89 0 0 0 83.672 3.719 A 2.527 2.527 0 0 0 84.026 3.804 Q 84.188 3.83 84.34 3.83 A 1.632 1.632 0 0 0 84.672 3.797 A 1.635 1.635 0 0 0 85.453 3.406 A 1.885 1.885 0 0 0 85.984 3.182 A 1.575 1.575 0 0 0 86.453 2.727 A 1.523 1.523 0 0 0 86.714 1.853 Q 86.714 1.727 86.697 1.594 A 2.256 2.256 0 0 0 86.688 1.531 A 1.617 1.617 0 0 0 86.086 0.43 Q 85.563 0 84.719 0 A 2.892 2.892 0 0 0 84.223 0.041 A 2.261 2.261 0 0 0 83.82 0.148 A 2.092 2.092 0 0 0 83.35 0.392 A 1.836 1.836 0 0 0 83.141 0.563 Q 82.844 0.844 82.688 1.227 A 2.132 2.132 0 0 0 82.537 1.895 A 2.52 2.52 0 0 0 82.531 2.063 Z M 120.938 2.063 A 2.06 2.06 0 0 0 121.014 2.635 A 1.732 1.732 0 0 0 121.227 3.102 A 1.45 1.45 0 0 0 121.909 3.658 A 1.89 1.89 0 0 0 122.078 3.719 A 2.527 2.527 0 0 0 122.433 3.804 Q 122.594 3.83 122.747 3.83 A 1.632 1.632 0 0 0 123.078 3.797 A 1.635 1.635 0 0 0 123.859 3.406 A 1.885 1.885 0 0 0 124.39 3.182 A 1.575 1.575 0 0 0 124.859 2.727 A 1.523 1.523 0 0 0 125.12 1.853 Q 125.12 1.727 125.103 1.594 A 2.256 2.256 0 0 0 125.094 1.531 A 1.617 1.617 0 0 0 124.492 0.43 Q 123.969 0 123.125 0 A 2.892 2.892 0 0 0 122.629 0.041 A 2.261 2.261 0 0 0 122.227 0.148 A 2.092 2.092 0 0 0 121.757 0.392 A 1.836 1.836 0 0 0 121.547 0.563 Q 121.25 0.844 121.094 1.227 A 2.132 2.132 0 0 0 120.943 1.895 A 2.52 2.52 0 0 0 120.938 2.063 Z" vector-effect="non-scaling-stroke"/></g></svg>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
