---
import { Icon } from '@astrojs/starlight/components';
import type { Props } from '@astrojs/starlight/props';
import { useTranslations } from '~/i18n/util';

const { editUrl, labels, entry, locale, isFallback } = Astro.props;

const t = useTranslations(Astro);
const githubEditUrl =
	entry.data.githubURL && (locale === 'en' || isFallback)
		? `${entry.data.githubURL}${entry.data.hasREADME ? 'README.md' : ''}`
		: editUrl;
---

{
	editUrl && (
		<div class="sl-flex">
			<a href={githubEditUrl} class="sl-flex" style="padding-right: 10px;">
				<Icon name="pencil" size="1.2em" />
				{labels['page.editLink']}
			</a>
			<a href="https://contribute.docs.astro.build/guides/i18n/" class="sl-flex" style="padding-left: 10px;">
				<Icon name="translate" size="1.2em" /> {t('rightSidebar.translatePage')}
			</a>
		</div>
	)
}

<style>
	a {
		gap: 0.5rem;
		align-items: center;
		text-decoration: none;
		color: var(--sl-color-gray-3);
	}
	a:hover {
		color: var(--sl-color-white);
	}
</style>
