---
import DefaultFooter from '@astrojs/starlight/components/Footer.astro';
import FooterLinks from '../FooterLinks.astro';
import { Ad } from '../RightSidebar/ad';
---

<div class="hide-when-toc-is-visible">
	<Ad />
</div>
<DefaultFooter />
<FooterLinks />

<style>
	@media (min-width: 72rem) {
		:global([data-has-toc]) .hide-when-toc-is-visible {
			display: none;
		}
	}
</style>
