---
import DefaultFooter from '@astrojs/starlight/components/Footer.astro';
import FooterLinks from '../FooterLinks.astro';
import type { Props } from '@astrojs/starlight/props';
import LearnAstroAd from '../RightSidebar/LearnAstroAd.astro';
---

<div class="hide-when-toc-is-visible">
	<LearnAstroAd />
</div>
<DefaultFooter {...Astro.props} />
<FooterLinks />

<style>
	@media (min-width: 72rem) {
		:global([data-has-toc]) .hide-when-toc-is-visible {
			display: none;
		}
	}
</style>
