---
import DefaultFooter from '@astrojs/starlight/components/Footer.astro';
import FooterLinks from '../FooterLinks.astro';
import type { Props } from '@astrojs/starlight/props';
import LearnAstroAd from '../RightSidebar/LearnAstroAd.astro';
---

<div class="lg:sl-hidden">
	<LearnAstroAd />
</div>
<DefaultFooter {...Astro.props} />
<FooterLinks />
