---
import '@astrojs/starlight/style/markdown.css';
import { getPageCategory } from '~/util/getPageCategory';
import BackendGuidesNav from '../BackendGuidesNav.astro';
import CMSGuidesNav from '../CMSGuidesNav.astro';
import DeployGuidesNav from '../DeployGuidesNav.astro';
import FeaturedCMSGuidesNav from '../FeaturedCMSGuidesNav.astro';
import IntegrationsNav from '../IntegrationsNav.astro';
import MediaGuidesNav from '../MediaGuidesNav.astro';
import MigrationGuidesNav from '../MigrationGuidesNav.astro';

const { entry } = Astro.locals.starlightRoute;
---

<div class="sl-markdown-content">
	<slot />

	{
		entry.data.type === 'backend' && (
			<>
				<h2>{Astro.locals.t('backend.navTitle')}</h2>
				<BackendGuidesNav minimal />
			</>
		)
	}
	{
		entry.data.type === 'cms' && (
			<>
				<h2>{Astro.locals.t('cms.navTitle')}</h2>
				<h3>{Astro.locals.t('cms.featuredSubheading')}</h3>
				<FeaturedCMSGuidesNav />
				<h3>{Astro.locals.t('cms.allSubheading')}</h3>
				<CMSGuidesNav minimal />
			</>
		)
	}
	{
		entry.data.type === 'deploy' && (
			<>
				<h2>{Astro.locals.t('deploy.altSectionTitle')}</h2>
				<DeployGuidesNav minimal />
			</>
		)
	}
	{
		entry.data.type === 'media' && (
			<>
				<h2>{Astro.locals.t('media.navTitle')}</h2>
				<MediaGuidesNav minimal />
			</>
		)
	}
	{
		entry.data.type === 'integration' && (
			<>
				<h2>{Astro.locals.t('integrations.more')}</h2>
				<IntegrationsNav />
			</>
		)
	}
	{
		entry.data.type === 'migration' && (
			<>
				<h2>{Astro.locals.t('migration.navTitle')}</h2>
				<MigrationGuidesNav minimal />
			</>
		)
	}
	<span id="docsearch-lvl0" hidden>{getPageCategory(Astro.url)}</span>
</div>
