---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/MobileMenuFooter.astro';
import Sponsors from '../LeftSidebar/Sponsors.astro';
---

<div class="sl-flex">
	<Sponsors />
	<Default {...Astro.props}><slot /></Default>
</div>

<style>
	div {
		flex-direction: column;
		gap: 1rem;
	}
</style>
