---
import type { Props } from '@astrojs/starlight/props';
import { Icon } from '@astrojs/starlight/components';
import Default from '@astrojs/starlight/components/PageTitle.astro';
import Version from '../Version.astro';

const { data } = Astro.props.entry;
---

<Default {...Astro.props}><slot /></Default>

{
	data.type === 'integration' && (
		<div class="integration-metadata">
			<Version pkgName={data.title} />
			<a href={data.githubURL}>
				<Icon name="github" /> GitHub
			</a>
			<a href={'https://www.npmjs.com/package/' + data.title}>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="1em"
					viewBox="0 0 576 512"
					fill="currentColor"
				>
					<path d="M288 288h-32v-64h32v64zm288-128v192H288v32H160v-32H0V160h576zm-416 32H32v128h64v-96h32v96h32V192zm160 0H192v160h64v-32h64V192zm224 0H352v128h64v-96h32v96h32v-96h32v96h32V192z" />
				</svg>
				npm
			</a>
			<a href={data.githubURL + 'CHANGELOG.md'}>
				<Icon name="list-format" /> Changelog
			</a>
		</div>
	)
}

<style>
	.integration-metadata {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: var(--sl-text-xs);
	}
	.integration-metadata a {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		text-decoration: none;
		color: var(--sl-color-text-accent);
	}
	.integration-metadata a:hover {
		color: var(--sl-color-white);
	}
</style>
