---
import '@docsearch/css';
import { getDocSearchStrings } from '~/i18n/util';
---

<div id="docsearch" data-translations={JSON.stringify(getDocSearchStrings(Astro))}></div>

<script>
	import docsearch from '@docsearch/js';

	// @ts-expect-error todo: add proper type casting
	const translations = JSON.parse(document.querySelector('#docsearch').dataset.translations);

	docsearch({
		container: '#docsearch',
		appId: '7AFBU8EPJU',
		indexName: 'astro',
		apiKey: '4440670147c44d744fd8da35ff652518',
		searchParameters: { facetFilters: [[`lang:${location.pathname.split('/')[1]}`]] },
		insights: true,
		getMissingResultsUrl: ({ query }: { query: string }) =>
			`https://github.com/withastro/docs/issues/new?title=Missing+results+for+query+%22${encodeURIComponent(
				query
			)}%22`,
		transformItems: (items) => {
			return items.map((item) => {
				// We transform the absolute URL into a relative URL to
				// work better on localhost, preview URLS.
				const url = new URL(item.url);
				if (url.hash === '#overview') url.hash = '';
				return {
					...item,
					url: url.href.replace(url.origin, ''),
				};
			});
		},
		placeholder: translations.placeholder,
		translations: translations,
	});
</script>

<style>
	div {
		display: contents;
	}

	div[data-open-modal] {
		width: 100%;
	}

  :global(.DocSearch-Button) {
    background-color: var(--sl-color-black);
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 0.5rem;
    color: var(--sl-color-gray-2);
    font-size: var(--sl-text-sm);
    height: 2.5rem;
    margin: 0;
    padding-inline-start: .75rem;
  }

  @media screen and (max-width: 48rem) {
    :global(.DocSearch-Button) {
      width: 2.5rem;
    }
  }

  :global(.DocSearch-Button):hover {
    background-color: var(--sl-color-black);
    border-color: var(--sl-color-gray-2);
    box-shadow: none;
    color: var(--sl-color-gray-1);
  }

  :global(.DocSearch-Button .DocSearch-Search-Icon) {
    color: var(--sl-color-gray-2);
    width: 1em;
    height: 1em;
  }

  :global(.DocSearch-Button:hover .DocSearch-Search-Icon) {
    color: var(--sl-color-gray-1);
  }

	@media (min-width: 50rem) {
		:global(.DocSearch-Button) {
			width: 100%;
			max-width: 22rem;
		}
	}
</style>
