---
import type { Props } from '@astrojs/starlight/props'
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro'
import { MobileMenuFooter } from 'virtual:starlight/components'

import Sponsors from '../LeftSidebar/Sponsors.astro'

const { sidebar } = Astro.props
---

<SidebarSublist sublist={sidebar} />

<Sponsors/>

<div class="md:sl-hidden">
	<MobileMenuFooter {...Astro.props} />
</div>

<style>
  p {
    color: var(--sl-color-gray-3);
    font-family: 'Courier New', Courier, monospace;
  }
</style>
