---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Sidebar.astro';
import type { SidebarEntry } from 'node_modules/@astrojs/starlight/utils/navigation';

import Sponsors from '../LeftSidebar/Sponsors.astro';
import { getEntry } from 'astro:content';
import { stripLeadingAndTrailingSlashes } from 'node_modules/@astrojs/starlight/utils/path';

let { sidebar } = Astro.props;

async function markFallbackEntries(i: SidebarEntry) {
	if (i.type === 'group') {
		i.entries = await Promise.all(i.entries.map(markFallbackEntries));
		return i;
	}

	const itemSlug = stripLeadingAndTrailingSlashes(i.href);
	const fallback = (await getEntry('docs', itemSlug)) ? undefined : true;
	i.attrs.class = fallback ? 'fallback' : undefined;
	return i;
}

sidebar = await Promise.all(sidebar.map(markFallbackEntries));
---

<Default {...Astro.props} sidebar={sidebar}><slot /></Default>

<div class="sl-hidden md:sl-block">
	<Sponsors />
</div>

<style>
	p {
		color: var(--sl-color-gray-3);
		font-family: 'Courier New', Courier, monospace;
	}

	:global(.fallback)::after {
		content: 'EN';
		vertical-align: super;
		font-size: 0.75em;
		font-weight: 700;
	}
</style>
