---
import logo from '~/assets/astro-logo.svg?raw';
import docs from '~/assets/docs.svg?raw';
import { pathWithBase } from '../../../node_modules/@astrojs/starlight/utils/base';
import type { Props } from '@astrojs/starlight/props';

const main = 'https://astro.build/';
const self = pathWithBase((Astro.props.locale || '') + '/getting-started/');
---

<span class="site-title sl-flex">
	<a class="astro-logo" href={main} set:html={logo} aria-label="Astro" />
	<a class="docs-logo" href={self} set:html={docs} aria-label="Docs" />
</span>

<style>
	.site-title {
		--hover-offset: 0.15rem;
		padding-top: 0.25rem;
		gap: 1rem;
	}
	.site-title a {
		display: flex;
		/* Adjust padding to increase interactive target area */
		--padding-inline: 0.5rem;
		--padding-block: var(--hover-offset);
		/* Cancel out padding increase with negative margins */
		--margin-inline: calc(var(--padding-inline) * -1);
		--margin-block: calc(var(--padding-inline) * -1);
		padding: var(--padding-block) var(--padding-inline);
		margin: var(--margin-block) var(--margin-inline);
		transition: transform 0.18s cubic-bezier(0.23, 1, 0.32, 1);
	}
	.astro-logo {
		color: var(--sl-color-white);
	}
	.docs-logo {
		color: var(--sl-color-text-accent);
	}
	.site-title a:hover {
		transform: translateY(calc(var(--hover-offset) * -1));
	}
	/* On focus, outline <img> and <svg> rather than <a> */
	.site-title a:focus-visible {
		outline: 0;
	}
	.site-title a:focus-visible > :global(*) {
		outline: 2px solid var(--sl-color-text-accent);
		outline-offset: 0.33rem;
		border-radius: 1px;
	}
	/* Adjust svg sizes to full nav height */
	.site-title :global(svg) {
		--display-height: 1.75rem;
		height: var(--display-height);
		width: calc(var(--display-height) * (var(--w) / var(--h)));
		margin: calc((var(--sl-nav-height) - var(--display-height)) / 2) 0;
	}
</style>
