:root {
	--docsearch-hit-active-color: var(--theme-text);
	--docsearch-primary-color: var(--theme-text-accent);
	--docsearch-logo-color: var(--theme-text);
}

:root.theme-dark {
	--docsearch-primary-color: var(--theme-accent);
	--docsearch-modal-background: var(--theme-bg-gradient-top);
	--docsearch-searchbox-focus-background: var(--theme-bg-offset);
	--docsearch-footer-background: var(--theme-bg-gradient-bottom);
	--docsearch-text-color: var(--theme-text);
	--docsearch-hit-background: var(--theme-bg-offset);
	--docsearch-hit-shadow: none;
	--docsearch-hit-color: var(--theme-text);
	--docsearch-footer-shadow: inset 0 -1px 0 var(--theme-glow-highlight),
		inset 1px 0px 0 var(--theme-glow-highlight), inset -1px 0px 0 var(--theme-glow-highlight),
		inset 0 calc(-1 * var(--theme-glow-blur)) var(--theme-glow-blur)
			calc(-1 * var(--theme-glow-blur)) var(--theme-glow-diffuse),
		inset calc(-1 * var(--theme-glow-blur)) 0 var(--theme-glow-blur)
			calc(-1 * var(--theme-glow-blur)) var(--theme-glow-diffuse),
		inset var(--theme-glow-blur) 0 var(--theme-glow-blur) calc(-1 * var(--theme-glow-blur))
			var(--theme-glow-diffuse);
	--docsearch-modal-shadow: 0 0 var(--theme-glow-blur) var(--theme-glow-diffuse),
		inset 0 0 0 1px var(--theme-glow-highlight),
		inset 0 0 var(--theme-glow-blur) var(--theme-glow-diffuse);
	--docsearch-container-background: hsla(var(--color-gray-10), 0.8);
	--docsearch-hit-active-color: hsla(var(--color-gray-10), 1);
}

.DocSearch-Modal .DocSearch-Hit a {
	box-shadow: none;
	border: 1px solid var(--theme-glow-diffuse);
}

/* This query matches the upstream media query for mobile devices */
@media (max-width: 750px) {
	/* Increase spacing to match our site layout */
	:root {
		--docsearch-spacing: 15px;
	}

	/* Fix search not being displayed correctly after scrolling down */
	.DocSearch-Container {
		position: fixed;
	}
}
