.language-select-wrapper {
	color: var(--theme-text-light);
	position: relative;
}

.language-select-wrapper > svg {
	position: absolute;
	top: 0;
	height: 100%;
	inset-inline-start: 0.6rem;
	pointer-events: none;
}

.language-select {
	--background-color-default: var(--theme-bg);
	width: 100%;
	flex-grow: 1;
	padding: 0.33em 1.75rem;
	line-height: inherit;
	outline: 0;
	/* Add dropdown arrow */
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: 97%;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	-webkit-appearance: none;
}

.language-select:focus-visible {
	border-color: var(--border-color-hocus);
}

@media not screen and (hover: hover) {
	.language-select-wrapper > svg {
		inset-inline-start: 0.8rem;
	}
	.language-select {
		padding: 0.55em 1.75rem;
	}
}

/* On narrow viewports, hide the selected option text inside the header  */
@media not screen and (min-width: 37.75em) {
	/* Make header text transparent and limit width */
	.language-select {
		--text-color-default: transparent;
		--text-color-hocus: transparent;
		width: 65px;
		background-position: 90%;
	}
	/* Assign a fixed color to options to keep them visible in the dropdown in Firefox */
	.language-select option {
		color: var(--theme-text-light);
	}
}

@media (min-width: 37.75em) {
	.language-select {
		padding-inline-start: 2.25rem;
		padding-inline-end: 1.5rem;
	}
}
