---
import '@docsearch/css/dist/style.css';
import type { DocSearchTranslation } from '../../i18n/translation-checkers';
import DocSearch from './DocSearch';
import './HeaderButton.css';
import './DocSearch.css';

export interface Props {
	lang?: string;
	labels: DocSearchTranslation;
}

const { lang, labels } = Astro.props as Props;
const { button, shortcutLabel, ...modalLabels } = labels;
---

<button
	class="search-input header-button"
	type="button"
	aria-label={button}
	id="docsearch-search-button"
>
	<svg
		width="1em"
		height="1em"
		viewBox="0 0 24 24"
		fill="none"
		focusable="false"
		aria-hidden="true"
		role="img"
	>
		<path
			d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			transform="translate(-1)"></path>
	</svg>
	<span class="search-placeholder">
		{button}
		<span class="sr-only">({shortcutLabel})</span>
	</span>
	<span class="search-keyboard-hint">
		<kbd aria-hidden="true">/</kbd>
	</span>
</button>
<DocSearch {...{ lang, labels: modalLabels }} client:only="preact" />

<style>
	/** Style search header button */
	.search-input {
		position: relative;
		display: flex;
		place-items: center;
		gap: 0.25em;
	}

	.search-placeholder {
		text-align: initial;
		margin-inline-start: 0.25rem;
		margin-inline-end: 3rem;
		display: none;
	}

	.search-keyboard-hint {
		position: absolute;
		inset-inline-end: 0.75rem;
		padding: 3px 5px;
		display: none;
		align-items: center;
		justify-content: center;
		font-size: 13px;
		font-family: var(--font-mono);
		letter-spacing: 0.125rem;
		line-height: 14px;
		pointer-events: none;
		border-color: var(--theme-shade-subtle);
		border-style: solid;
		border-width: 1px;
		border-radius: 0.25rem;
	}

	@media (min-width: 50em) {
		.search-input {
			border-radius: 9e9px;
			padding-inline: 1rem;
			width: min(16.5rem, 100%);
		}

		.search-placeholder {
			display: flex;
		}

		.search-keyboard-hint {
			display: flex;
		}
	}
</style>
