---
import UIString from '../UIString.astro';
---

<a href="#article" class="sr-only focus:not-sr-only skiplink">
	<span><UIString key="a11y.skipLink" /></span>
</a>

<style>
	.skiplink,
	.skiplink:focus,
	.skiplink:focus-visible {
		position: absolute;
		padding: 1em;
		font-size: larger;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9;
		display: block;
		text-align: center;
		background-color: var(--theme-bg-gradient-bottom);
		outline: 2px solid currentColor;
		outline-offset: 0;
	}
</style>
