---
import { useTranslations } from '~/i18n/util';

const t = useTranslations(Astro);
---

<table>
	<colgroup>
		<col width="15%" />
		<col width="35%" />
		<col width="50%" />
	</colgroup>
	<thead>
		<tr>
			<th>{t('apiTable.name')}</th>
			<th>{t('apiTable.type')}</th>
			<th>{t('apiTable.description')}</th>
		</tr>
	</thead>
	<tbody>
		<slot />
	</tbody>
</table>
