---
import { type LogoKey, logos } from '~/data/logos';

export interface Props {
	size?: 'large' | 'default';
	shape?: 'circle' | 'rounded';
	brand: LogoKey;
}

const { brand, size = 'default', shape = 'circle' } = Astro.props;
const { file, padding, bg } = logos[brand] || {};
---

{
	file && (
		<div
			class:list={['logo', shape]}
			style={{
				'--logo-size': { large: '5rem', default: '4rem' }[size],
				'--logo-padding': padding,
				'--logo-bg': size === 'large' && bg,
			}}
		>
			<img src={`/logos/${file}`} alt="" loading="lazy" decoding="async" width={64} height={64} />
		</div>
	)
}

<style>
	.logo {
		display: flex;
		place-content: center;
		font-size: var(--logo-size);
		width: 1em;
		height: 1em;
		/* Allows logos to be visible in both light/dark. Hardcoded because variant colours adjust to theme */
		background-color: var(--logo-bg, hsl(224, 10%, 10%));
		border: 1px solid hsla(0, 0%, 100%, 0.1);
		/* Indicates the brand logo boundaries for forced colors users, transparent is changed to a solid color */
		outline: 1px solid transparent;
		overflow: hidden;
	}

	.circle {
		border-radius: 50%;
	}

	.rounded {
		border-radius: 0.125em;
	}

	.logo img {
		padding: var(--logo-padding);
		width: 100%;
		height: 100%;
	}
</style>
