---
import { getLanguageFromURL } from '../util';
import CardsNav from './NavGrid/CardsNav.astro';
import { getCollection } from 'astro:content';
import { isCmsEntry } from '~/content/config';

const lang = getLanguageFromURL(Astro.url.pathname);
const pages = await getCollection('docs');

/** Array of services we have good content for and want to show first in the list. */
const showFirst = ['Storyblok', 'Contentful', 'ButterCMS'];
// Reverse the array to make our logic simpler later.
showFirst.reverse();

const links = pages
	.filter(isCmsEntry)
	.sort((a, b) => {
		// Sort services in the `showFirst` array first.
		const aPriority = showFirst.indexOf(a.data.service);
		const bPriority = showFirst.indexOf(b.data.service);
		if (aPriority !== -1 || bPriority !== -1) return aPriority > bPriority ? -1 : 1;
		// Sort full guides before stubs.
		if (a.data.stub && !b.data.stub) return 1;
		if (!a.data.stub && b.data.stub) return -1;
		// If they’re both stubs, or neither stubs, sort alphabetically.
		return a.data.service.toLowerCase() > b.data.service.toLowerCase() ? 1 : -1;
	})
	.map((page) => {
		const { service } = page.data;
		const pageUrl = page.slug.replace('en/', `${lang}/`) + '/';
		// TODO: convert logo type def to a Zod enum
		const logo = page.slug.split('/').pop() as any;
		return { title: service, href: pageUrl, logo };
	});
---

<section class="cms-nav">
	<CardsNav minimal links={links} />
</section>

<style>
	.cms-nav > :global(*) {
		margin-top: -2rem;
	}

	.cms-nav > :global(* + *) {
		margin-top: -3rem;
	}

	.cms-nav :global(.scope) {
		font-weight: normal;
		color: var(--theme-text-lighter);
	}

	h3 {
		margin-bottom: 0;
	}
</style>
