---
import { englishPages } from '~/content';
import { getLanguageFromURL } from '~/util/path-utils';
import { isDeployEntry } from '~/content.config';
import CardsNav from './NavGrid/CardsNav.astro';

export interface Props {
	minimal?: boolean;
}

const { minimal } = Astro.props as Props;

const lang = getLanguageFromURL(Astro.url.pathname);
const enPages = englishPages.filter(isDeployEntry);

const links = enPages
	// Sort alphabetically.
	.sort((a, b) => (a.id > b.id ? 1 : -1))
	.map((page) => {
		const { logo, sidebar, supports } = page.data;
		if (!sidebar.label) throw new Error('Deploy guides must always include a sidebar label.');
		const pageUrl = '/' + page.id.replace('en/', `${lang}/`) + '/';
		const tags = Object.fromEntries(supports.map((s) => [s, Astro.locals.t(`deploy.${s}Tag`)!]));
		return { title: sidebar.label, href: pageUrl, logo, tags };
	});
---

<section>
	<CardsNav minimal={minimal} links={links} />
</section>
