---
import { Icon } from '@astrojs/starlight/components';

const isDevMode = import.meta.env.DEV;
---

{
	isDevMode && (
		<aside aria-label="Danger" class="starlight-aside starlight-aside--danger">
			<>
				<p class="starlight-aside__title" aria-hidden="true">
					<Icon name="error" class="starlight-aside__icon" />
					Danger
				</p>
				<section class="starlight-aside__content">
					<p>
						This page is generated from an outside source. If you want to edit the original English
						page, the "Edit this page" link will redirect you to the correct file this page is
						generated from.
					</p>
				</section>
			</>
		</aside>
	)
}
