---
import Aside from './Aside.astro';
import UIString from './UIString.astro';
---

<Aside>
	<UIString key="fallbackContent.notice" />{' '}
	<a href="https://github.com/withastro/docs/blob/main/TRANSLATING.md"
		><UIString key="fallbackContent.linkText" />
	</a>
</Aside>
