---
import { Icon } from '@astrojs/starlight/components';
import FeedbackButton from '../components/tutorial/FeedbackButton.astro';
import { getLanguageFromURL } from '~/util';

const lang = getLanguageFromURL(Astro.url.pathname);
---

<section class="sl-flex">
	<a href={`/${lang}/contribute/`} class="sl-flex">
		<Icon name="open-book" size="1.2em" />
		{Astro.locals.t('footer.contribute')}
	</a>

	<FeedbackButton />

	<a href="https://community.astro.build" class="sl-flex">
		<Icon name="heart" size="1.2em" />
		{Astro.locals.t('footer.community')}
	</a>
</section>

<style>
	section {
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5rem 1.5rem;
		font-size: var(--sl-text-sm);
	}

	a {
		align-items: center;
		text-decoration: none;
		gap: 0.5rem;
		color: var(--sl-color-gray-3);
	}

	a:hover {
		color: var(--sl-color-white);
	}
</style>
