---
import { Icon } from '@astrojs/starlight/components';
import FeedbackButton from '../components/tutorial/FeedbackButton.astro';
import { useTranslations } from '~/i18n/util';
import { getLanguageFromURL } from '~/util';

const t = useTranslations(Astro);
const lang = getLanguageFromURL(Astro.url.pathname);
---

<section class="sl-flex" style="justify-content: center; flex-wrap: wrap;">
	<a
		href={`/${lang}/contribute/`}
		class="sl-flex"
		style="display: flex; flex-direction: row; align-items: center; text-decoration: none;"
	>
		<Icon name="open-book" size="1.2em" />
		{t('rightSidebar.contribute')}
	</a>

	<FeedbackButton />

	<a
		href="https://community.astro.build"
		class="sl-flex"
		style="display: flex; flex-direction: row; align-items: center; text-decoration: none;"
	>
		<Icon name="heart" size="1.2em" />
		{t('rightSidebar.community')}
	</a>
</section>

<style>
	a > * {
		margin-right: 0.5rem;
	}

	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: var(--sl-color-gray-3);
		margin-right: 1rem;
	}

	a:hover {
		color: var(--sl-color-white);
		cursor: pointer;
	}
</style>
