---
import type { MarkdownInstance } from "astro";
import CardsNav from "./NavGrid/CardsNav.astro";

interface Frontmatter {
	title: `@astrojs/${string}`;
	category: 'renderer' | 'adapter' | 'other';
}

function categoryLinksFromPages(pages: MarkdownInstance<Frontmatter>[], category: string) {
	return pages
		.filter(page => page.frontmatter.category === category)
		.map((page) => {
			const [scope, name] = page.frontmatter.title.split(' ').shift()!.split('/');
			return {
				title: '<span class="scope">' + scope + '/&#8203;</span>' + name,
				href: page.url + '/',
				logo: name as any,
			};
		});
}

const pages = await Astro.glob<Frontmatter>('../pages/en/guides/integrations/*.md');
const categories = [
	{ title: 'UI Frameworks', links: categoryLinksFromPages(pages, 'renderer') },
	{ title: 'SSR Adapters', links: categoryLinksFromPages(pages, 'adapter') },
	{ title: 'Others', links: categoryLinksFromPages(pages, 'other') },
];
---

<section class="integrations-nav">
	{categories.map((category) => (
		<CardsNav minimal links={category.links}>
			<h3>{category.title}</h3>
		</CardsNav>
	))}
</section>

<style>
	.integrations-nav> :global(* + *) {
		margin-top: -2rem;
	}

	.integrations-nav :global(.scope) {
		font-weight: normal;
		color: var(--theme-text-lighter);
	}
</style>
