---
const pages = await Astro.glob('../pages/en/guides/integrations/*.md');
const categories = [
	{ title: 'UI Frameworks', pages: pages.filter((page) => page.frontmatter.category === 'renderer') },
	{ title: 'SSR Adapters', pages: pages.filter((page) => page.frontmatter.category === 'adapter') },
	{ title: 'Others', pages: pages.filter((page) => page.frontmatter.category === 'other') },
];
---

{categories.map(({ title, pages }) =>
<h3>{title}</h3>
<ul>
	{pages.map(page => <li><a href={page.url + '/'}>{page.frontmatter.title.split(' ').shift()}</a></li>)}
</ul>
)}
