---
import { englishPages } from '~/content';
import { isMediaEntry } from '~/content.config';
import { isLogoKey } from '~/data/logos';
import { getLanguageFromURL } from '~/util/path-utils';
import CardsNav from './NavGrid/CardsNav.astro';

const lang = getLanguageFromURL(Astro.url.pathname);
const enPages = englishPages.filter(isMediaEntry);

const links = enPages
	.sort((a, b) => {
		// Sort alphabetically.
		return a.data.service.toLowerCase() > b.data.service.toLowerCase() ? 1 : -1;
	})
	.map((page) => {
		const { service } = page.data;
		const pageUrl = '/' + page.id.replace('en/', `${lang}/`) + '/';
		const logo = isLogoKey(page.id.split('/').pop());
		return { title: service, href: pageUrl, logo };
	});
---

<section>
	<CardsNav minimal links={links} />
</section>
