---
import { Image } from "astro:assets"
import NotFoundSvg from '~/assets/not_found.svg'
import Houston from '~/assets/houston_hero.svg'
---

<div style="position:relative">
  <Image class="galaxy" src={NotFoundSvg} alt=""/>
  <Image class="houston" src={Houston} alt=""/>
  <div class="hero-text not-content">
    <h1>404</h1>
    <p>Houston, we have a problem</p>
    <p>We couldn't find that link. Check the address or head back home.</p>
  </div>
</div>

<style is:global>
  main .content-panel:first-child {
    display: none;
  }
  .galaxy {
    min-height: 70vh;
  }
  .houston {
    position: absolute;
    inset: 16rem 6rem;
  }
  .hero-text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    color: hsl(224, 6%, 77%);
  }
  .hero-text h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--sl-text-6xl);
    color: white;
  }
  .hero-text p:nth-child(2) {
    font-size: var(--sl-text-xl);
  }

  @media screen and (max-width: 50rem) {
    .galaxy {
      object-fit: cover;
    }
    .houston {
      display: none !important;
    }
  }
</style>
