---
import Aside from "./Aside.astro";
import { useTranslations } from '../i18n/util';

const t = useTranslations(Astro);

---

<div class="offline-indicator" aria-hidden="true" style="display: none;">
    <Aside type="caution" title={t("offline.warning.title")}>
        {t("offline.warning.body")}
    </Aside>
</div>

<script>
	if (document.querySelector('meta[data-from-sw-cache="true"]')) {
		const indicators = document.getElementsByClassName('offline-indicator');
        for (const indicator of indicators)  {
            indicator.setAttribute('aria-hidden', 'false');
            indicator.toggleAttribute('data-offline', true);
        }
	}
</script>


<style>
    .offline-indicator {
        align-items: center;
        gap: 16px;
    }
    .offline-indicator[data-offline] {
        display: flex !important;
    }
    .offline-indicator[data-offline] svg {
        color: hsl(var(--color-base-red), 40%);
    }
</style>

