---
import { englishPages } from '~/content';
import { isRecipeEntry } from '~/content/config';
import CardsNav from './NavGrid/CardsNav.astro';

export interface Props {
	minimal?: boolean;
}

const recipes = englishPages.filter(isRecipeEntry);
---

<div>
	<CardsNav
		minimal={Astro.props.minimal}
		links={recipes.map(({ data, slug }) => ({
			title: data.title,
			description: data.description,
			href: slug,
			tags: Object.fromEntries(data.tags?.map((t) => [t, t]) || []),
		}))}
	/>
</div>

<style>
	div > :global(*) {
		margin-top: -2rem;
	}
</style>
