---
import { englishPages } from '~/content';
import { isRecipeEntry } from '~/content/config';
import { getLanguageFromURL } from '~/util';
import CardsNav from './NavGrid/CardsNav.astro';

export interface Props {
	minimal?: boolean;
}

const lang = getLanguageFromURL(Astro.url.pathname);
const recipes = englishPages.filter(isRecipeEntry);
---

<div>
	<CardsNav
		minimal={Astro.props.minimal}
		links={recipes.map(({ data, slug }) => ({
			title: data.title,
			description: data.description,
			href: '/' + slug.replace('en/', `${lang}/`) + '/',
		}))}
	/>
</div>

<style>
	div > :global(*) {
		margin-top: -2rem;
	}
</style>
