---
import { Icon } from '@astrojs/starlight/components';
const { number, title } = Astro.props;
---

<div class="source">
	<Icon class="icon" name="github" />
	<a href=`https://github.com/withastro/astro/pull/${number}`
		>{Astro.locals.t('upgrade.implementationPR')}{title} (#{number})<span><slot /></span></a
	>
</div>

<style>
	.source {
		display: flex;
		gap: 0.5rem;
		align-items: flex-start;
	}
	.icon {
		--icon-size: 1.5rem;
		font-size: var(--icon-size);
		flex-shrink: 0;
		/* Align to the middle of the first line of text. */
		margin-block: calc((var(--sl-line-height) * 1rem - var(--icon-size)) / 2);
		color: var(--sl-color-text-accent);
	}
</style>
