---
import Spoiler from './internal/Spoiler.jsx';
---

<label class="spoiler">
	<Spoiler client:visible>
		<slot />
	</Spoiler>
</label>

<style>
	.spoiler :global(span) {
		position: relative;
		background-color: currentColor;
		border-radius: 0.25rem;
		cursor: pointer;
		user-select: none;
	}

	.spoiler :global(input:disabled ~ span) {
		cursor: text;
	}

	.spoiler :global(input:focus ~ span) {
		outline: 2px solid currentColor;
		outline-offset: 2px;
	}

	.spoiler :global(input:focus-visible ~ span) {
		outline: 2px solid currentColor;
	}

	.spoiler :global(input:not(:focus-visible) ~ span) {
		outline: 0;
	}

	.spoiler :global(input:checked ~ span) {
		background-color: var(--theme-dim-lighter);
		user-select: unset;
	}

	.spoiler :global(input:focus:not(:checked) ~ span) {
		color: var(--theme-text-lighter);
	}

	.spoiler :global(input:not(:checked) ~ span:hover) {
		color: var(--theme-text-lighter);
	}

	.spoiler :global(input:not(:checked) ~ span *) {
		border-color: transparent;
		background-color: transparent;
		color: transparent;
		text-decoration: none;
	}
</style>
