---
import { Image } from 'astro:assets'
import HoustonOmg from '~/assets/houston_omg.png'
---

<aside class="not-content">
  <div>
    <a href="https://starlight.astro.build/">
      <h2>Want to build your own Docs?</h2>
    </a>
    <p>
      Grab this template and get started. <b>→</b>
    </p>
  </div>
  <div>
    <Image src={HoustonOmg} alt=""/>
  </div>
</aside>

<style>
  aside {
    margin: 1rem 0;
    position: relative;
    background-color: var(--sl-color-gray-6);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    border: 1px solid var(--sl-color-text-accent);
    box-shadow: var(--sl-shadow-md);
    overflow-y: hidden;
  }
  aside a::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  aside h2 {
    font-size: var(--sl-text-lg) !important;
  }
  aside p {
    font-size: var(--sl-text-sm) !important;
    line-height: normal;
  }
  aside > div:last-child {
    display: flex;
    align-items: end;
  }
  aside img {
    margin-bottom: -1rem;
    transition: transform 0.3s;
    transform: translateY(2px);
  }

  aside:hover img {
    margin-buttom: -0.5rem;
    transform: translateY(0px);
  }
</style>
