---
import { Image } from "astro:assets"
import HoustonOmg from '~/assets/houston_omg.png'
---

<aside class="not-content">
  <div>
    <a href="https://starlight.astro.build/">
      <h2>Want to build your own Docs?</h2>
    </a>
    <p>
      Grab this template and get started. <b>→</b>
    </p>
  </div>
  <div>
    <Image src={HoustonOmg} alt=""/>
  </div>
</aside>

<style is:global>
  .right-sidebar-panel.lg:sl-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
</style>

<style>
  aside {
    margin: 1rem 0;
    position: relative;
    background-color: var(--sl-color-gray-6);
    padding: 1rem;
    border-radius: 0.5rem;
    width: calc(((100vw - var(--sl-sidebar-width) - 2 * var(--sl-content-pad-x) - 2 * var(--sl-sidebar-pad-x)) * 0.25));
    display: flex;
    border: 1px solid var(--sl-color-text-accent);
    box-shadow: var(--sl-shadow-md);
  }
  aside a::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  aside h2 {
    font-size: var(--sl-text-lg) !important;
  }
  aside p {
    font-size: var(--sl-text-sm) !important;
    line-height: normal;
  }
  aside > div:last-child {
    display: flex;
    align-items: end;
  }
  aside img {
    margin-bottom: -1rem;
  }
</style>
