---
import { getLatestNPMVersion } from '~/util/getLatestNPMVersion';

export interface Props {
	pkgName: string;
}

const version = await getLatestNPMVersion(Astro.props.pkgName);
---

<span>v{version}</span>
