---
import { cachedFetch } from '../util-server';

export interface Props {
	pkgName: string;
}

const { pkgName } = Astro.props as Props;

const packageInfo = await cachedFetch(`https://registry.npmjs.org/${pkgName}/latest`).then((res) =>
	res.json()
);
const { version } = packageInfo;
---

<span>v{version}</span>
