---
import languages from '../../i18n/languages';
import { useTranslations } from '../../i18n/util';
import SplashLayout from '../../layouts/SplashLayout.astro';

export const getStaticPaths = () => Object.keys(languages).map((lang) => ({ params: { lang } }));
const { lang = 'en' } = Astro.params;
const t = useTranslations(Astro);
---

<SplashLayout title={t('404.title')}>
	<h1>404</h1>
	<p>{t('404.content')}</p>
	<a href={`/${lang}/`}>{t('404.linkText')}</a>
</SplashLayout>

<script>
	window.addEventListener('load', () => (window as any).fathom.trackGoal('4KN9VI2W', 0));
</script>
