---
import languages from '../../i18n/languages';
import { useTranslations } from '../../i18n/util';
import SplashLayout from '../../layouts/SplashLayout.astro';

export const getStaticPaths = () => Object.keys(languages).map((lang) => ({ params: { lang } }));
const { lang = 'en' } = Astro.params;
const t = useTranslations(Astro);
---

<SplashLayout title={t('offline.title')}>
	<h1>{t('offline.title')}</h1>
	<p>{t('offline.content')}</p>
	<a href={`/${lang}/`}>{t('offline.linkText')}</a>
</SplashLayout>
