---
import languages from '../../i18n/languages';
import { useTranslations } from '../../i18n/util';
import BaseLayout from '../../layouts/BaseLayout.astro';

export const getStaticPaths = () => Object.keys(languages).map((lang) => ({ params: { lang } }));
const t = useTranslations(Astro);
---

<BaseLayout content={{ title: t('offline.page.title') }}>
	<article id="article">
		<h1>{t('offline.page.title')}</h1>
		<p>{t('offline.page.content')}</p>
	</article>
</BaseLayout>

<style>
	h1 {
		padding-top: 100px;
	}
</style>
