:root {
	--theme-navbar-height: 6rem;
	--theme-mobile-toc-height: 4rem;
	--theme-accent-secondary: hsla(22, 100%, 60%, 1);
	--theme-text: hsla(250, 14%, 90%, 1);
	--theme-bg: hsl(256, 27%, 19%);
	--theme-bg-gradient-top: var(--theme-bg);
	--theme-bg-gradient-bottom: hsl(251, 29%, 11%);
	--theme-bg-gradient: linear-gradient(
		180deg,
		var(--theme-bg-gradient-top),
		var(--theme-bg-gradient-top) calc(var(--theme-navbar-height) + var(--theme-mobile-toc-height)),
		var(--theme-bg-gradient-bottom)
	);

	--ln-color-link: #539bf5;
	--ln-color-table-background: hsl(252, 34%, 25%);
	--ln-color-table-border: hsl(252, 34%, 37%);
	--ln-color-background: var(--theme-bg-gradient);
	--ln-color-black: var(--theme-text);
	--ln-color-missing: var(--ln-color-black);
	--ln-color-outdated: #fb923c;
	--ln-color-done: #c084fc;

	color-scheme: dark;
}

p a {
	color: var(--theme-accent-secondary);
	text-decoration: underline;
}

details summary:hover strong,
details summary:hover::marker {
	color: var(--theme-accent-secondary);
}

.create-button {
	background-color: hsl(213deg 89% 64% / 20%);
	border-radius: 0.5em;
}
