---
import UIString from '../UIString.astro';
---

<ul class="footer-links">
	<li>
		<a href="https://astro.build/privacy/">
			<UIString key="footer.privacyPolicy" />
		</a>
	</li>
</ul>

<style>
	.footer-links {
		display: flex;
		gap: 1.5em;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	.footer-links a {
		color: var(--theme-text-lighter);
		text-decoration: none;
	}

	.footer-links a:focus,
	.footer-links a:hover {
		color: var(--theme-text);
		text-decoration: underline;
	}
</style>
