---
import UIString from '../UIString.astro';
---

<footer>
	<ul class="footer-links">
		<li>
			<a href="https://astro.build/privacy/">
				<UIString key="footer.privacyPolicy" />
			</a>
		</li>
	</ul>
</footer>

<style>
	footer {
		padding: 6rem 0 2rem;
		text-align: center;
		color: var(--theme-text-lighter);
		font-size: var(--theme-text-xs);
	}

	.footer-links {
		display: flex;
		gap: 1.5em;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	.footer-links a {
		color: var(--theme-text-lighter);
		text-decoration: none;
	}

	.footer-links a:focus,
	.footer-links a:hover {
		color: var(--theme-text);
		text-decoration: underline;
	}
</style>
