<div class="blanks"><slot /></div>

<style>
	.blanks > :global(ul) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1.5rem;
		padding: 0 1.5em 1rem;
		list-style: none;
	}

	.blanks > :global(ul > li) {
		margin: 0;
		padding: 0.25em 0.75em;
		border: 1px solid var(--theme-shade-subtle);
	}

	.blanks > :global(ul > li code) {
		background-color: transparent;
	}
</style>
