---
export interface Props {
	icon?: 'puzzle-piece' | 'question-mark' | 'check-list';
}

const { icon } = Astro.props;
---

<div class="highlight-box content" style={`--box-icon-url: url('/tutorial/${icon}.svg');`}>
	<section>
		<slot />
	</section>
</div>

<style>
	:global(section > *) + .highlight-box {
		margin: 4rem 0;
	}

	.highlight-box {
		position: relative;
		padding-block: 2rem;
		padding-inline-start: 2rem;
		padding-inline-end: 4rem;
		border: 1px solid var(--theme-shade-subtle);
		box-shadow: -0.5rem 0.5rem 0 -1px var(--theme-bg), -0.5rem 0.5rem var(--theme-shade-subtle),
			-1rem 1rem 0 -1px var(--theme-bg), -1rem 1rem var(--theme-shade-subtle);
		background-color: var(--theme-bg);
	}

	@supports (mask: var(--box-icon-url) no-repeat center bottom / 100%) or
		(-webkit-mask: var(--box-icon-url) no-repeat center bottom / 100%) {
		.highlight-box::before {
			content: '';
			position: absolute;
			top: 0.5rem;
			inset-inline-end: 0.5rem;
			width: 5rem;
			height: 5rem;
			background-color: var(--theme-divider);
			-webkit-mask: var(--box-icon-url) no-repeat center center / 100%;
			mask: var(--box-icon-url) no-repeat center center / 100%;
		}
	}
</style>
