---
import UIString from '../UIString.astro';
import FeedbackFish from "./FeedbackFish.jsx"
---
<div>
	<FeedbackFish client:visible/>
</div>
<style>
	button {
		border: 1px solid var(--theme-shade-subtle);
		border-radius: 0.5rem;
		background-color: transparent;
		cursor: pointer;
		font-size: var(--theme-text-xs);
		line-height: calc(1 / var(--theme-text-xs));
	}

	button:hover,
	button:focus {
		background-color: var(--theme-divider);
	}

	button:focus:not(:focus-visible) {
		background-color: transparent;
	}
</style>
