---
import UIString from '../UIString.astro';

const currentUrl = Astro.url.pathname.replace(/\/$/, '');
---

<button data-feedback-fish data-feedback-fish-url={currentUrl}>
	<UIString key="feedback.button" />
</button>
<script>
	const script = document.createElement('script');
	script.setAttribute('defer', '');
	script.setAttribute('src', 'https://feedback.fish/ff.js?pid=1b24b5d16c81bd');
	document.body.append(script);
</script>

<style>
	button {
		border: 1px solid var(--theme-shade-subtle);
		border-radius: 0.5rem;
		background-color: transparent;
		cursor: pointer;
		font-size: var(--theme-text-xs);
		line-height: calc(1 / var(--theme-text-xs));
	}

	button:hover,
	button:focus {
		background-color: var(--theme-divider);
	}

	button:focus:not(:focus-visible) {
		background-color: transparent;
	}
</style>
