---
export interface Props {
  isCorrect?: boolean;
}

const { isCorrect } = Astro.props as Props;
---

<li>
  <label>
    <input type="radio" disabled data-is-correct={isCorrect}><span><slot /></span>
  </label>
</li>

<style>
	label {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 1rem;
		align-items: center;
		border-radius: 1rem;
		margin-inline: -.5rem;
		padding: .5rem;
		cursor: pointer;
	}

	label:hover {
		background-color: var(--theme-bg-hover);
	}

	input[type="radio"] {
		-webkit-appearance: none;
		appearance: none;
	}
	
	input[type="radio"] ~ * {
		color: var(--theme-text-light);
	}
	
	input[type="radio"]:checked ~ * {
		color: var(--theme-text);
	}

	input[type="radio"]:focus::after {
		outline: 3px solid var(--theme-text);
		outline-offset: .5rem;
	}

	input[type="radio"]:focus,
	input[type="radio"]:not(:focus-visible)::after {
		outline: none;
	}

	input[type="radio"]::after {
		display: block;
		content: counter(list-item, upper-alpha);
		text-align: center;
		line-height: 2;
		width: 2em;
		height: 2em;
		font-size: 1.25em;
		font-weight: 900;
		border-radius: 50%;
		background-color: var(--theme-divider);
		color: var(--theme-text-lighter);
	}

	input[type="radio"]:checked::after {
		color: hsl(var(--color-base-white), 100%);
		background-color: var(--theme-accent-secondary);
	}
</style>
