---
import { useTranslations } from '../../i18n/util';

export interface Props {
	path: string;
}

const { path } = Astro.props as Props;
const t = useTranslations(Astro);
const todoLabel = t('progress.todo');
const doneLabel = t('progress.done');
---

<check-mark data-path={path} data-todo-label={todoLabel} data-done-label={doneLabel}>
	<span class="sr-only">{todoLabel}</span>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 16 16"
		fill-rule="evenodd"
		aria-hidden="true"
	>
		<path d="M8 16c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8z"></path>
	</svg>
</check-mark>

<style>
	svg {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		line-height: 1;
		width: 1em;
		height: 1em;
		font-size: 1.143em;
		border-radius: 50%;
		fill: var(--theme-divider);
	}
	path {
		transform-origin: center;
	}
</style>

<script>
	import { ProgressStore } from './ProgressStore';

	class CheckMark extends HTMLElement {
		private readonly loaded: boolean;
		private readonly todoLabel: string;
		private readonly doneLabel: string;
		private readonly label: HTMLSpanElement;
		private readonly iconPath: SVGPathElement;

		constructor() {
			super();
			this.todoLabel = this.dataset.todoLabel!;
			this.doneLabel = this.dataset.doneLabel!;
			this.label = this.querySelector('.sr-only')!;
			this.iconPath = this.querySelector('svg path')!;

			ProgressStore.subscribePageDone(this.dataset.path!, (done: boolean) =>
				done ? this.setDone() : this.setTodo()
			);
			this.loaded = true;
		}

		private setTodo(): void {
			this.label.innerText = this.todoLabel;
			this.iconPath.setAttribute('d', 'M8 16c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8z');
			this.iconPath.removeAttribute('fill');
		}

		private setDone(): void {
			const wasDone = this.label.innerText === this.doneLabel;
			if (wasDone) return;
			this.label.innerText = this.doneLabel;
			this.iconPath.setAttribute(
				'd',
				'M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm3.78-9.72a.75.75 0 0 0-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 0 0-1.06 1.06l2 2a.75.75 0 0 0 1.06 0l4.5-4.5z'
			);
			this.iconPath.setAttribute('fill', 'hsl(var(--color-green))');
			if (this.loaded) this.animateDone();
		}

		private animateDone(): void {
			if (!matchMedia('(prefers-reduced-motion: no-preference').matches) return;
			this.querySelector('svg')!.animate([{ transform: 'scale(1.1)' }], {
				duration: 200,
				easing: 'ease-in-out',
			});
		}
	}

	customElements.define('check-mark', CheckMark);
</script>
