---
import { useTranslations } from "../../i18n/util";

export interface Props {
	path: string;
}

const { path } = Astro.props as Props;
const t = useTranslations(Astro);
const todoLabel = t('progress.todo');
const doneLabel = t('progress.done');
---

<check-mark data-path={path} data-todo-label={todoLabel} data-done-label={doneLabel}>
	<span class="sr-only">{todoLabel}</span>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd">
		<path d="M8 16c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8z" />
	</svg>
</check-mark>

<style>
	svg {
		display: inline-block;
		text-align: center;
		line-height: 1;
		width: 1em;
		height: 1em;
		font-size: 1rem;
		border-radius: 50%;
		fill: var(--theme-divider);
	}
</style>

<script>
	import { ProgressStore } from "./ProgressStore";

	class CheckMark extends HTMLElement {
		path: string;
		todoLabel: string;
		doneLabel: string;

		constructor() {
			super();
			this.path = this.dataset['path']!;
			this.todoLabel = this.dataset['todo-label']!;
			this.doneLabel = this.dataset['done-label']!;

			ProgressStore.subscribePageDone(this.path, (done: boolean) => {
				if (done) {
					this.setDone();
				} else {
					this.setTodo();
				}
			});
		}

		setTodo() {
			(this.querySelector('.sr-only') as HTMLSpanElement).innerText = this.todoLabel;
			const path = (this.querySelector('svg path') as SVGPathElement);
			path.setAttribute('d', 'M8 16c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8z');
			path.removeAttribute('fill');
		}

		setDone() {
			(this.querySelector('.sr-only') as HTMLSpanElement).innerText = this.doneLabel;
			const path = (this.querySelector('svg path') as SVGPathElement);
			path.setAttribute('d', 'M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm3.78-9.72a.75.75 0 0 0-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 0 0-1.06 1.06l2 2a.75.75 0 0 0 1.06 0l4.5-4.5z');
			path.setAttribute('fill', 'hsl(var(--color-green))');
		}
	}

	customElements.define('check-mark', CheckMark);
</script>
