---
import UIString from '../UIString.astro';
import FeedbackButton from './FeedbackButton.astro';
// import TutorialNav from './TutorialNav.astro';
---

<nav class="right-sidebar">
	<h1><UIString key="island.contentsLabel" /></h1>
  <p><a href="/en/islands/0-introduction/"><UIString key="island.0" /></a></p>
  <p><a href="/en/islands/1-framework-components/"><UIString key="island.1" /></a></p>
  <p><a href="/en/islands/2-client-directives/"><UIString key="island.2" /></a></p>
  <p><a href="/en/islands/3-astro-to-island/"><UIString key="island.3" /></a></p>
  <p><a href="/en/islands/4-server-vs-client/"><UIString key="island.4" /></a></p>
  <p><a href="/en/islands/5-data-fetching/"><UIString key="island.5" /></a></p>
  <p><a href="/en/islands/6-styling-islands/"><UIString key="island.6" /></a></p>
  <p><a href="/en/islands/7-advanced-patterns/"><UIString key="island.7" /></a></p>
  <p><a href="/en/islands/8-congratulations/"><UIString key="island.8" /></a></p>
 
	<!-- <TutorialNav id="sidebar" /> -->
	<div class="feedback">
		<FeedbackButton />
	</div>
</nav>

<style>
	.right-sidebar {
		display: flex;
		flex-direction: column;
		overflow: auto;
		padding-inline-end: 0.5rem;
	}

	.feedback {
		margin-top: 2rem;
		align-self: center;
	}

	h1 {
		font-size: var(--theme-text-base);
		font-weight: 700;
	}
 
</style>
