---
import UIString from '../UIString.astro';
import FeedbackButton from './FeedbackButton.astro';
import TutorialNav from './TutorialNav.astro';
---

<nav class="right-sidebar">
	<h1><UIString key="tutorial.trackerLabel" /></h1>
	<TutorialNav id="sidebar" />
	<div class="feedback">
		<FeedbackButton />
	</div>
</nav>

<style>
	.right-sidebar {
		display: flex;
		flex-direction: column;
		overflow: auto;
		padding-inline-end: 0.5rem;
	}

	.feedback {
		margin-top: 2rem;
		align-self: center;
	}

	h1 {
		font-size: var(--theme-text-base);
		font-weight: 700;
	}
</style>
