---
interface Props {
	slug: string
}

const { slug } = Astro.props as Props;

const file = "src/pages/index.astro";
const url = `https://stackblitz.com/edit/${slug}?file=${file}`
---
<p>
	You can find a working version of the code at this point in the tutorial <a href={url}>on Stackblitz.</a>
</p>
<p>
	Check your code against this example, or if you've just joined us, fork on StackBlitz to start coding along in your browser from here.
</p>
