---
import Aside from "~/components/Aside.astro";
import { getGithubEditUrl } from "~/util";
import MainLayout from "./MainLayout.astro";
import EditButton from "~/components/RightSidebar/EditButton.astro";

const githubEditUrl = getGithubEditUrl(Astro);
const { content: { stub } } = Astro.props;
console.log(stub);
---

<MainLayout {...Astro.props}>
	<slot/>

	{stub && <Aside title="Expand this stub!">
		<p>
		This guide is a stub. 
		</p>
		<p>
		Know more about how to use this CMS with Astro? <strong><EditButton editHref={githubEditUrl} iconLeft={false}/></strong>
		</p>
	</Aside>}
</MainLayout>
