---
import type { MarkdownHeading } from 'astro';
import Aside from '~/components/Aside.astro';
import CMSGuidesNav from '~/components/CMSGuidesNav.astro';
import UIString from '~/components/UIString.astro';
import type { CmsEntry } from '~/content/config';
import { getGithubEditUrl } from '~/util/getGithubEditUrl';
import MainLayout from './MainLayout.astro';

export interface Props {
	content: CmsEntry['data'];
	headings: MarkdownHeading[];
}

const githubEditUrl = getGithubEditUrl(Astro);
const {
	content: { stub },
} = Astro.props;
---

<MainLayout {...Astro.props}>
	<slot />
	{
		stub && (
			<Aside title="Expand this stub!">
				This guide is a stub. <br />
				Know more about how to use this CMS with Astro?{' '}
				<a href={githubEditUrl} target="_blank">
					<UIString key="rightSidebar.editPage" />
				</a>
			</Aside>
		)
	}
	<h2><UIString key="cms.navTitle" /></h2>
	<CMSGuidesNav minimal />
</MainLayout>

<style>
	a {
		font-weight: bold;
	}
</style>
