---
import type { MarkdownHeading } from 'astro';
import Aside from '~/components/Aside.astro';
import CMSGuidesNav from '~/components/CMSGuidesNav.astro';
import UIString from '~/components/UIString.astro';
import type { CmsEntry } from '~/content/config';
import { getGithubEditUrl } from '~/util/getGithubEditUrl';
import MainLayout from './MainLayout.astro';
import { useTranslations } from '../i18n/util';

export interface Props {
	content: CmsEntry['data'];
	headings: MarkdownHeading[];
}

const githubEditUrl = getGithubEditUrl(Astro);
const {
	content: { stub },
} = Astro.props;

const t = useTranslations(Astro);
---

<MainLayout {...Astro.props}>
	<slot />
	{
		stub && (
			<Aside title={t('stub.title')}>
				<>
					<UIString key="stub.subtitle" />
					<br />
				</>
				<UIString key="stub.description.cms" />{' '}
				<a href={githubEditUrl} target="_blank">
					<UIString key="rightSidebar.editPage" />
				</a>
			</Aside>
		)
	}
	<h2><UIString key="cms.navTitle" /></h2>
	<CMSGuidesNav minimal />
</MainLayout>

<style>
	a {
		font-weight: bold;
	}
</style>
