---
import Aside from "~/components/Aside.astro";
import { getGithubEditUrl } from "~/util";
import MainLayout from "./MainLayout.astro";
import UIString from '~/components/UIString.astro';

const githubEditUrl = getGithubEditUrl(Astro);
const { content: { stub } } = Astro.props;
---

<MainLayout {...Astro.props}>
	<slot/>

	{stub && <Aside title="Expand this stub!">
		<p>
		This guide is a stub. 
		</p>
		<p>
		Know more about how to use this CMS with Astro? <a href={githubEditUrl}><UIString key="rightSidebar.editPage" /></a>
		</p>
	</Aside>}
</MainLayout>

<style>
	a {
		font-weight: bold;
	}
</style>
