---
import type { MarkdownHeading } from 'astro';
import BrandLogo from '~/components/BrandLogo.astro';
import DeployGuidesNav from '~/components/DeployGuidesNav.astro';
import type { DeployEntry } from '~/content/config';
import { isLogoKey } from '~/data/logos';
import MainLayout from './MainLayout.astro';

export interface Props {
	content: DeployEntry['data'];
	headings: MarkdownHeading[];
}

const slug = Astro.url.pathname.replace(/\/$/, '').split('/').pop();
const brand = isLogoKey(slug);
---

<MainLayout {...Astro.props}>
	<div class="image-wrapper">
		<BrandLogo brand={brand} size="9rem" shape={brand === 'deno' ? 'circle' : 'rounded'} />
	</div>
	<slot />
	<DeployGuidesNav minimal />
</MainLayout>

<style>
	.image-wrapper {
		display: none;
		float: right;
		margin-top: 0;
		margin-inline-start: 1rem;
		margin-bottom: 1rem;
		max-width: 33%;
	}

	@media (min-width: 30em) {
		.image-wrapper {
			display: block;
		}
	}

	@media (min-width: 50em) {
		.image-wrapper {
			margin-inline-start: 2rem;
		}
	}

	.image-wrapper ~ :global(aside),
	.image-wrapper ~ :global(.heading-wrapper) {
		clear: both;
	}
</style>
