---
import MainLayout from "./MainLayout.astro";
import DeployGuidesNav from "../components/DeployGuidesNav.astro";
import BrandLogo from "~/components/BrandLogo.astro";
import { getCanonicalURL } from '../util';

const canonicalURL = getCanonicalURL(Astro);
const brand = canonicalURL.pathname.replace(/\/$/, '').split('/').pop();
---

<MainLayout {...Astro.props}>
	<div class="image-wrapper">
		<BrandLogo {brand} size="9rem" shape={brand === 'deno' ? 'circle' : 'rounded'} />
	</div>
	<slot />
	<DeployGuidesNav minimal />
</MainLayout>

<style>
	.image-wrapper {
		display: none;
		float: right;
		margin-top: 0;
		margin-inline-start: 1rem;
		margin-bottom: 1rem;
		max-width: 33%;
	}

	@media (min-width: 30em) {
		.image-wrapper {
			display: block;
		}
	}

	@media (min-width: 50em) {
		.image-wrapper {
			margin-inline-start: 2rem;
		}
	}

	.image-wrapper ~ :global(aside),
	.image-wrapper ~ :global(.heading-wrapper) {
		clear: both;
	}
</style>
