---
import MainLayout from './MainLayout.astro';
import InstallGuideTabGroup from '../components/TabGroup/InstallGuideTabGroup.astro';
import { Markdown } from 'astro/components';

const { content: _content } = Astro.props;
const content = {
    ..._content,
    title: "Install Astro",
    description: "How to install Astro with NPM, PNPM, or Yarn.",
};

const currentPage = Astro.request.url.pathname;
---

<MainLayout content={content}>

    <p>
    Astro CSS works by scanning all of your HTML files, JavaScript components, and any other templates for class names, generating the corresponding styles and then writing them to a static CSS file.
    </p>

    <Markdown>
        #### Prerequisites

        - **Node.js** - `14.15.0`, `v16.0.0`, or higher.
        - **Text editor** - We recommend [VS Code](https://code.visualstudio.com/) with our [Official Astro extension](https://marketplace.visualstudio.com/items?itemName=astro-build.astro-vscode).
        - **Terminal** - Astro is accessed through its command-line interface (CLI).
        
        #### Installation
    </Markdown>
    
    <InstallGuideTabGroup currentPage={currentPage} />

    <slot />
    
</MainLayout>
