---
import IntegrationsNav from "../components/IntegrationsNav.astro";
import UIString from "../components/UIString.astro";
import MainLayout from "./MainLayout.astro";

const brand = Astro.canonicalURL.pathname.replace(/\/$/, '').split('/').pop();
---

<MainLayout {...Astro.props}>
	<slot />
	<h2>
		<UIString key="integrations.footerTitle" />
	</h2>
	<IntegrationsNav minimal />
</MainLayout>

<style>
</style>
