---
import IntegrationsNav from '../components/IntegrationsNav.astro';
import UIString from '../components/UIString.astro';
import MainLayout from './MainLayout.astro';
import Version from '../components/Version.astro';
import type { IntegrationEntry } from '~/content/config';
import type { MarkdownHeading } from 'astro';

export interface Props {
	content: IntegrationEntry['data'];
	headings: MarkdownHeading[];
}

const { title, githubURL } = Astro.props.content;
---

<MainLayout {...Astro.props}>
	<aside slot="header" class="pkg-info">
		<Version pkgName={title} />
		<a href={githubURL}>
			<svg
				aria-hidden="true"
				viewBox="0 0 496 512"
				height="1em"
				width="1em"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill="currentColor"
					d="M166 397c0 2-2 4-5 4-4 0-6-1-6-4 0-2 2-3 5-3 3-1 6 1 6 3zm-31-4c-1 2 1 4 4 5s6 0 6-2-1-5-4-5c-3-1-5 0-6 2zm44-2c-3 1-5 3-5 5 1 2 3 3 6 3 3-1 5-3 5-5s-3-3-6-3zM245 8A240 240 0 0 0 0 252c0 111 70 206 170 239 12 2 17-5 17-12v-61s-70 15-85-30c0 0-12-29-28-37 0 0-23-15 2-15 0 0 24 2 38 26 22 38 59 27 73 21 2-16 9-28 16-34-56-6-112-14-112-111 0-27 7-41 23-59-2-6-11-33 3-67 21-7 69 27 69 27a237 237 0 0 1 126 0s48-34 69-27c13 34 5 61 2 67 16 18 26 32 26 59 0 97-59 105-115 111 9 8 17 23 17 46v84c0 6 5 14 17 12a248 248 0 0 0 168-239C496 113 384 8 245 8zM97 353c-1 1-1 3 1 5 1 2 4 2 5 1s1-3-1-5c-1-2-4-2-5-1zm-11-8 3 4c1 1 3 0 4-1s0-3-2-4-4 0-5 1zm33 35c-2 2-1 5 1 7s5 2 7 1c1-2 0-5-2-7s-5-2-6-1zm-12-14v6c2 2 5 3 6 2 2-1 2-4 0-6-1-3-4-4-6-2z"
				></path>
			</svg>GitHub
		</a>
		<a href={`https://www.npmjs.com/package/${title}`}>
			<svg
				aria-hidden="true"
				viewBox="0 -20 576 512"
				height="2em"
				width="2em"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill="currentColor"
					d="M288 288h-32v-64h32v64zm288-128v192H288v32H160v-32H0V160h576zm-416 32H32v128h64v-96h32v96h32V192zm160 0H192v160h64v-32h64V192zm224 0H352v128h64v-96h32v96h32v-96h32v96h32V192z"
				></path>
			</svg>npm
		</a>
		<a href={githubURL + 'CHANGELOG.md'}>
			<svg
				aria-hidden="true"
				viewBox="0 0 16 16"
				height="1em"
				width="1em"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill="currentColor"
					fill-rule="evenodd"
					d="M2.75 1.5a.25.25 0 0 0-.25.25v12.5c0 .14.11.25.25.25h10.5a.25.25 0 0 0 .25-.25V4.66a.25.25 0 0 0-.07-.17L10.5 1.57a.25.25 0 0 0-.17-.07H2.75zM1 1.75C1 .78 1.78 0 2.75 0h7.59c.46 0 .9.18 1.23.51l2.92 2.92c.33.32.51.77.51 1.23v9.59A1.75 1.75 0 0 1 13.25 16H2.75A1.75 1.75 0 0 1 1 14.25V1.75zm7 1.5a.75.75 0 0 1 .75.75v1.5h1.5a.75.75 0 0 1 0 1.5h-1.5v1.5a.75.75 0 0 1-1.5 0V7h-1.5a.75.75 0 0 1 0-1.5h1.5V4A.75.75 0 0 1 8 3.25zm-3 8a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75z"
				></path>
			</svg><UIString key="integrations.changelog" />
		</a>
	</aside>
	<slot />
	<h2>
		<UIString key="integrations.footerTitle" />
	</h2>
	<IntegrationsNav minimal />
</MainLayout>

<style>
	.pkg-info {
		border-bottom: 4px solid var(--theme-divider);
		padding-bottom: 1rem;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		color: var(--theme-text-lighter);
		margin-top: 0;
		margin-bottom: 3rem;
		gap: 0.5rem 1rem;
		font-size: var(--theme-text-sm);
	}

	.pkg-info a {
		display: inline-flex;
		gap: 0.25rem;
		align-items: center;
		color: var(--theme-text-lighter);
		text-decoration: none;
		font-weight: bold;
	}

	@media (min-width: 37.75em) {
		.pkg-info {
			gap: 0.5rem 2rem;
			font-size: var(--theme-text-base);
		}
		.pkg-info a {
			gap: 0.5rem;
		}
	}

	.pkg-info a:hover {
		color: var(--theme-accent-secondary);
	}
</style>
