---
import { islandsPages as pages } from '~/content';
import PageContent from '../components/PageContent/PageContent.astro';
import MobileTutorialNav from '../components/tutorial/MobileTutorialNav.astro';
import RightSidebar from '../components/tutorial/RightSidebarIslandTutorial.astro';
import { getLanguageFromURL, stripLangFromSlug } from '../util';
import { getPreviousAndNext } from '../util/getNavLinks';
import { getIslandsPages, getIslandsUnits } from '../util/getIslandsPages';
import BaseLayout from './BaseLayout.astro';
import type { IslandsEntry } from '~/content/config';

export interface Props {
	content: IslandsEntry['data'];
}

const currentUrl = Astro.url.pathname.replace(/\/$/, '');
const lang = getLanguageFromURL(Astro.url.pathname);

const islandsPages = getIslandsPages(pages, lang);
// const units = getIslandsUnits(islandsPages);
// const currentUnitIndex = units.findIndex((unit) =>
// 	unit.lessons.some((lesson) => currentUrl.endsWith(stripLangFromSlug(lesson.slug)))
// );
// const currentUnit = units[currentUnitIndex];

const { next } = getPreviousAndNext(
	islandsPages.map((page) => ({ text: page.data.title, slug: stripLangFromSlug(page.slug) })),
	Astro
);
---

<BaseLayout {...Astro.props}>
	<RightSidebar slot="secondary-sidebar" />
	<PageContent content={Astro.props.content} {...{ next }}>
		<MobileTutorialNav slot="before-article" />
		<p class="unit" slot="before-title">
			<!-- {currentUnitIndex} • {currentUnit.title} -->
			
		</p>
		<slot />
	</PageContent>

</BaseLayout>

<style>
	.unit {
		font-size: var(--theme-text-sm);
		color: var(--theme-text-lighter);
	}
</style>
