---
import PageContent from '../components/PageContent/PageContent.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import TableOfContents from '../components/RightSidebar/TableOfContents';
import { useTranslations } from '../i18n/util';
import { getGithubEditUrl } from '../util';
import { getNavLinks } from '../util/getNavLinks';
import BaseLayout from './BaseLayout.astro';

const { content = {} } = Astro.props;
const headings = content.astro?.headings;
const t = useTranslations(Astro);
const { previous, next } = await getNavLinks(Astro);
const githubEditUrl = getGithubEditUrl(Astro);
---

<BaseLayout {...Astro.props}>
	<RightSidebar slot="secondary-sidebar" content={content} githubEditUrl={githubEditUrl} />
	<PageContent {...{content, previous, next}}>
		{
			headings && (
				<Fragment slot="before-article">
					<nav>
						<TableOfContents
							client:media="(max-width: 72em)"
							headings={headings}
							labels={{
								onThisPage: t('rightSidebar.onThisPage'),
								overview: t('rightSidebar.overview'),
							}}
							isMobile={true}
						/>
					</nav>
				</Fragment>
			)
		}
		<Fragment slot="after-title"><slot name="header" /></Fragment>
		<slot />
	</PageContent>
</BaseLayout>
