---
import type { MarkdownHeading } from 'astro';
import type { CollectionEntry } from 'astro:content';
import generateToc from '~/util/generateToc';
import PageContent from '../components/PageContent/PageContent.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import TableOfContents from '../components/RightSidebar/TableOfContents';
import { useTranslations } from '../i18n/util';
import { getGithubEditUrl } from '../util/getGithubEditUrl';
import { getNavLinks } from '../util/getNavLinks';
import BaseLayout from './BaseLayout.astro';

export interface Props {
	content: CollectionEntry<'docs'>['data'];
	headings: MarkdownHeading[];
}

const { content, headings } = Astro.props;
const t = useTranslations(Astro);
const { previous, next } = await getNavLinks(Astro);
const githubEditUrl = getGithubEditUrl(Astro);
const overview = t('rightSidebar.overview');
---

<BaseLayout {...Astro.props}>
	<RightSidebar slot="secondary-sidebar" {...{content, headings, githubEditUrl}} />
	<PageContent {...{content, previous, next}}>
		{
			headings && (
				<Fragment slot="before-article">
					<nav>
						<TableOfContents
							client:media="(max-width: 72em)"
							toc={generateToc(headings, overview)}
							labels={{
								onThisPage: t('rightSidebar.onThisPage'),
							}}
							isMobile={true}
						/>
					</nav>
				</Fragment>
			)
		}
		<Fragment slot="after-title"><slot name="header" /></Fragment>
		<slot />
	</PageContent>
</BaseLayout>
