---
import type { MarkdownHeading } from 'astro';
import Aside from '~/components/Aside.astro';
import MigrationGuidesNav from '~/components/MigrationGuidesNav.astro';
import UIString from '~/components/UIString.astro';
import type { MigrationEntry } from '~/content/config';
import { getGithubEditUrl } from '~/util/getGithubEditUrl';
import MainLayout from './MainLayout.astro';

export interface Props {
	content: MigrationEntry['data'];
	headings: MarkdownHeading[];
}

const githubEditUrl = getGithubEditUrl(Astro);
const {
	content: { stub },
} = Astro.props;
---

<MainLayout {...Astro.props}>
	<slot />
	{
		stub && (
			<Aside title="Expand this stub!">
				This guide is a stub. <br />
				Want to contribute to this guide? Have a blog post, video, or another resource to share
				about migrating from this technology to Astro?{' '}
				<a href={githubEditUrl} target="_blank">
					<UIString key="rightSidebar.editPage" />
				</a>
			</Aside>
		)
	}
	<h2><UIString key="migration.navTitle" /></h2>
	<MigrationGuidesNav minimal />
</MainLayout>

<style>
	a {
		font-weight: bold;
	}
</style>
