---
import type { MarkdownHeading } from 'astro';
import RecipesNav from '~/components/RecipesNav.astro';
import UIString from '~/components/UIString.astro';
import type { RecipeEntry } from '~/content/config';
import MainLayout from './MainLayout.astro';

export interface Props {
	content: RecipeEntry['data'];
	headings: MarkdownHeading[];
}
---

<MainLayout {...Astro.props}>
	<slot />
	<hr />
	<h2><UIString key="recipes.navTitle" /></h2>
	<RecipesNav />
</MainLayout>

<style>
	hr {
		height: 4rem;
		border: 0;
		border-bottom: 4px solid var(--theme-divider);
	}
</style>
