---
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import { getLanguageFromURL } from '../util';
import { normalizeLangTag } from '../i18n/bcp-normalize';
import { useTranslations } from '../i18n/util';

const { title, dir = 'ltr' } = Astro.props;
const lang = getLanguageFromURL(new URL(Astro.request.url).pathname);
const bcpLang = normalizeLangTag(lang);
const t = useTranslations(Astro);
---

<html {dir} lang={bcpLang} class="initial">
	<head>
		<HeadCommon />
		<title>{`${title} 🚀 ${t('site.title')}`}</title>
		<style>
			html,
			body,
			main {
				height: 100%;
			}
			main {
				display: grid;
				place-items: center;
				padding-inline: var(--min-spacing-inline);
			}
			:global(#menu-toggle) {
				display: none;
			}
		</style>
	</head>

	<body>
		<Header />
		<main class="layout splash-layout">
			<article>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
