---
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header/Header.astro';
import { getLanguageFromURL } from '../util';
import { useTranslations } from '../i18n/util';

const { title, dir = 'ltr' } = Astro.props;
const lang = getLanguageFromURL(new URL(Astro.request.url).pathname);
const t = useTranslations(Astro);
---

<html {dir} {lang} class="initial">
	<head>
		<HeadCommon />
		<title>{`${title} 🚀 ${t('site.title')}`}</title>
		<style>
			body {
				width: 100%;
				display: grid;
				grid-template-rows: var(--theme-navbar-height) 1fr;
			}
			.layout {
				display: grid;
				grid-auto-flow: column;
				grid-template-columns:
					minmax(var(--gutter), 1fr)
					minmax(0, var(--max-width))
					minmax(var(--gutter), 1fr);
				overflow-x: hidden;
			}
			article {
				padding: var(--doc-padding) var(--gutter);
				grid-column: 2;
				display: flex;
				flex-direction: column;
				height: 100%;
			}
		</style>
	</head>

	<body>
		<Header />
		<main class="layout splash-layout">
			<article>
				<slot />
			</article>
		</main>
	</body>
</html>
