---
//import PageContent from '../components/PageContent/PageContent.astro';
import TutorialNav from '../components/tutorial/TutorialNav.astro';
// import { getLanguageFromURL } from '../util';
// import { getPreviousAndNext } from '../util/getNavLinks';
// import { getTutorialPages, getTutorialUnits } from '../util/getTutorialPages';
import BaseLayout from './BaseLayout.astro';

// const currentUrl = Astro.url.pathname.replace(/\/$/, '');
// const lang = getLanguageFromURL(Astro.url.pathname);
// const tutorialPages = getTutorialPages(await Astro.glob(`../pages/*/tutorial/**/*.md`), lang);
// const units = getTutorialUnits(tutorialPages);
// const currentUnitIndex = units.findIndex((unit) =>
// 	unit.lessons.some((lesson) => currentUrl.endsWith(lesson.slug))
// );
// const currentUnit = units[currentUnitIndex];

// const { previous, next } = getPreviousAndNext(
// 	tutorialPages.map((page) => ({ text: page.frontmatter.title, slug: page.slug })),
// 	Astro
// );
const {content ={}} = Astro.props
---
<BaseLayout>

    <style>
        .content-title :global(.scope) {
            font-weight: 300;
            color: var(--theme-text-lighter);
        }
        .content {
            padding-top: calc(var(--theme-navbar-height) + var(--doc-padding-block));
            padding-bottom: var(--doc-padding-block);
            padding-inline: var(--min-spacing-inline);
            width: 100%;
            height: 100%;
            max-width: 80ch;
            margin-inline: auto;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
        }
        .content > section {
            margin-bottom: 4rem;
        }
    </style>


	<TutorialNav slot="secondary-sidebar" />
     <div class="content">
        <h1>{content.title}</h1>
		<slot />
    </div>
</BaseLayout>

<style>
	.unit {
		font-size: var(--theme-text-sm);
		color: var(--theme-text-lighter);
	}
</style>
