---
import { tutorialPages as pages } from '~/content';
import PageContent from '../components/PageContent/PageContent.astro';
import MobileTutorialNav from '../components/tutorial/MobileTutorialNav.astro';
import RightSidebar from '../components/tutorial/RightSidebar.astro';
import { getLanguageFromURL, stripLangFromSlug } from '../util';
import { getPreviousAndNext } from '../util/getNavLinks';
import { getTutorialPages, getTutorialUnits } from '../util/getTutorialPages';
import BaseLayout from './BaseLayout.astro';
import type { TutorialEntry } from '~/content/config';

export interface Props {
	content: TutorialEntry['data'];
}

const currentUrl = Astro.url.pathname.replace(/\/$/, '');
const lang = getLanguageFromURL(Astro.url.pathname);

const tutorialPages = getTutorialPages(pages, lang);
const units = getTutorialUnits(tutorialPages);
const currentUnitIndex = units.findIndex((unit) =>
	unit.lessons.some((lesson) => currentUrl.endsWith(stripLangFromSlug(lesson.slug)))
);
const currentUnit = units[currentUnitIndex];

const { next } = getPreviousAndNext(
	tutorialPages.map((page) => ({ text: page.data.title, slug: stripLangFromSlug(page.slug) })),
	Astro
);
---

<BaseLayout {...Astro.props}>
	<RightSidebar slot="secondary-sidebar" />
	<PageContent content={Astro.props.content} {...{ next }}>
		<MobileTutorialNav slot="before-article" />
		<p class="unit" slot="before-title">
			{currentUnitIndex} • {currentUnit.title}
		</p>
		<slot />
	</PageContent>
</BaseLayout>

<style>
	.unit {
		font-size: var(--theme-text-sm);
		color: var(--theme-text-lighter);
	}
</style>
