---
import { getCollection } from 'astro:content';
import PageContent from '../components/PageContent/PageContent.astro';
import MobileTutorialNav from '../components/tutorial/MobileTutorialNav.astro';
import RightSidebar from '../components/tutorial/RightSidebar.astro';
import { getLanguageFromURL, splitSlugFromLang } from '../util';
import { getPreviousAndNext } from '../util/getNavLinks';
import { getTutorialPages, getTutorialUnits } from '../util/getTutorialPages';
import BaseLayout from './BaseLayout.astro';
import { isTutorialEntry } from '~/content/config';

const currentUrl = Astro.url.pathname.replace(/\/$/, '');
const lang = getLanguageFromURL(Astro.url.pathname);
const pages = await getCollection('docs', isTutorialEntry);

const tutorialPages = getTutorialPages(pages, lang);
const units = getTutorialUnits(tutorialPages);
const currentUnitIndex = units.findIndex((unit) =>
	unit.lessons.some((lesson) => currentUrl.endsWith(lesson.slug))
);
const currentUnit = units[currentUnitIndex];

const { next } = getPreviousAndNext(
	tutorialPages.map((page) => ({ text: page.data.title, slug: splitSlugFromLang(page.slug).slug })),
	Astro
);
---

<BaseLayout {...Astro.props}>
	<RightSidebar slot="secondary-sidebar" />
	<PageContent content={Astro.props.content} {...{ next }}>
		<MobileTutorialNav slot="before-article" />
		{
			currentUnit ? (
				<p class="unit" slot="before-title">
					{currentUnitIndex} • {currentUnit.title}
				</p>
			) : null
		}
		<slot />
	</PageContent>
</BaseLayout>

<style>
	.unit {
		font-size: var(--theme-text-sm);
		color: var(--theme-text-lighter);
	}
</style>
