---
//import PageContent from '../components/PageContent/PageContent.astro';
import TutorialNav from '../components/tutorial/TutorialNav.astro';
// import { getLanguageFromURL } from '../util';
// import { getPreviousAndNext } from '../util/getNavLinks';
// import { getTutorialPages, getTutorialUnits } from '../util/getTutorialPages';
import BaseLayout from './BaseLayout.astro';

// const currentUrl = Astro.url.pathname.replace(/\/$/, '');
// const lang = getLanguageFromURL(Astro.url.pathname);
// const tutorialPages = getTutorialPages(await Astro.glob(`../pages/*/tutorial/**/*.md`), lang);
// const units = getTutorialUnits(tutorialPages);
// const currentUnitIndex = units.findIndex((unit) =>
// 	unit.lessons.some((lesson) => currentUrl.endsWith(lesson.slug))
// );
// const currentUnit = units[currentUnitIndex];

// const { previous, next } = getPreviousAndNext(
// 	tutorialPages.map((page) => ({ text: page.frontmatter.title, slug: page.slug })),
// 	Astro
// );
const {content ={}} = Astro.props
---
<style>
    .spacer {
        height: 10em;
    }
 </style>

<BaseLayout>
	<TutorialNav slot="secondary-sidebar" />
	
     <div class="spacer"></div>
     <div style="width: 90%; margin: 0 auto;">
        <h1>{content.title}</h1>
		<slot />
    </div>
</BaseLayout>

<style>
	.unit {
		font-size: var(--theme-text-sm);
		color: var(--theme-text-lighter);
	}
</style>
